In [1]:
import sys
sys.path.append('/home/cryptobrahman/Own/football_competitions_research/own_modules/') 
sys.path.append('/mnt/KINGSTON_120/Own/football_competitions_research/own_modules/')

In [2]:
import pickle
import pandas as pd
from tqdm import tqdm

from _astro_constants import AspectsCalculate, AstrologicalPoints, ObjectsPrepare, AstrologicalConstants, TransformDoubleValues, \
                             AspectsPrepare, AspectsClearing, MoonDaysCalculate

pd.set_option('display.max_columns', 200)  # or 1000
pd.set_option('display.max_rows', 200)  # or 1000
pd.set_option('display.max_colwidth', 100)  # or 199

In [3]:
%load_ext autoreload
%autoreload 2

In [5]:
# Calculate 'Pars Paradox', 'asc_ruler_moon', 'desc_ruler_moon', parse's anteses

In [4]:
# data = {'date':['2015/03/13', '2016/05/23', '2018/10/03'], 'utc_time':['14:00', '12:30', '00:15'], 'lon':['38n32', '08n07', '14s42'], 'lat':['8w54', '18e14','36w04']}
# df = pd.DataFrame(data)
# df

In [4]:
with open('pickle_files/cities_countries/cities_data_26_05_2022/df_with_geo_coords_26_05_2022_sum_coef_13', 'rb') as f:
    df_coords = pickle.load(f)

In [5]:
print('shape - ', df_coords.shape)
df_coords.tail(3)

shape -  (25029, 25)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city,iso_code,longitude,latitude,lat,lon
25026,15164040,Srpska Liga,698,306,28.03.2021 13:30,Zeleznicar Lajkovac - Sloboda Užice,1:0,thr,Zeleznicar Lajkovac,15.0,36.0,4.0,57.0,"15 - 4, 20","36 - 57, 94",Pre,sum_coef_13,Serbia,NaN,Lajkovac,RS,20.165280,44.36944,44n22,20e9
25027,15147393,Third Division,553,306,28.03.2021 12:30,Ormideia - O Kormakitis,2:0,thr,Ormideia,8.0,40.0,16.0,16.0,"8 - 16, 16","40 - 16, 68",Fav,sum_coef_13,Cyprus,NaN,Ormideia,CY,33.775628,34.99351,34n59,33e46
25028,15109589,Thai League 1,718,298,28.03.2021 11:00,Prachuap - Bangkok United,0:1,thr,Prachuap,10.0,37.0,5.0,51.0,"10 - 5, 16","37 - 51, 77",Pre,sum_coef_13,Thailand,13605,Prachuap Khiri Khan,TH,99.784100,11.82098,11n49,99e47

### Calculate moon days

In [6]:
moon_lat = MoonDaysCalculate.geocoords_transform(df_coords, 'latitude')
moon_lon = MoonDaysCalculate.geocoords_transform(df_coords, 'longitude')
moon_lon[:3]

0    (37, 46, 0)
1    (20, 46, 0)
2    (19, 49, 0)
Name: longitude, dtype: object

In [7]:
moon_date_splt = MoonDaysCalculate.date_time_transform(df_coords, 'game_utc')
moon_date_splt[:3]

0    (2022, 5, 26, 15, 0, 0)
1    (2022, 5, 26, 15, 0, 0)
2    (2022, 5, 26, 15, 0, 0)
Name: game_utc, dtype: object

In [8]:
df_moon_days = pd.DataFrame({'moon_lat': moon_lat, 'moon_lon': moon_lon, 'moon_date_splt': moon_date_splt})
df_moon_days.head(3)

      moon_lat     moon_lon           moon_date_splt
0  (44, 43, 0)  (37, 46, 0)  (2022, 5, 26, 15, 0, 0)
1  (40, 37, 0)  (20, 46, 0)  (2022, 5, 26, 15, 0, 0)
2  (41, 19, 0)  (19, 49, 0)  (2022, 5, 26, 15, 0, 0)

In [9]:
df_moon_days['moon_day'] = df_moon_days.apply(lambda x: MoonDaysCalculate.moon_day_calculate(lat=x[0], lon=x[1], date_time=x[2]), axis=1)

In [10]:
print('shape - ', df_moon_days.shape[0])
df_moon_days.head(3)

shape -  25029

      moon_lat     moon_lon           moon_date_splt  moon_day
0  (44, 43, 0)  (37, 46, 0)  (2022, 5, 26, 15, 0, 0)        25
1  (40, 37, 0)  (20, 46, 0)  (2022, 5, 26, 15, 0, 0)        25
2  (41, 19, 0)  (19, 49, 0)  (2022, 5, 26, 15, 0, 0)        25

In [11]:
df_coords['moon_day'] = df_moon_days.moon_day

In [12]:
df_coords.head(1)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city,iso_code,longitude,latitude,lat,lon,moon_day
0,1600750,FNL-2,1147,310,26.05.2022 15:00,Chernomorets Novorossiysk - Druzhba,5:1,thr,Chernomorets Novorossiysk,5.0,60.0,11.0,32.0,"5 - 11, 17","60 - 32, 80",Fav,sum_coef_13,Russia,7407,Novorossiysk,RU,37.76752,44.72439,44n43,37e46,25

#### Check data for geocoords on google maps. Exampl lat-lon: 69.245016 17.952091

In [14]:
print('https://www.google.com.ua/maps/')

https://www.google.com.ua/maps/

In [15]:
df_coords.loc[20:20, ['city', 'country', 'latitude', 'longitude']]

    city country  latitude  longitude
20  Mito   Japan     36.35     140.45

In [16]:
df             = df_coords[['game_utc', 'lon', 'lat']].copy()
df['date']     = df.game_utc.str[:10].str.split('.')
df['utc_time'] = df.game_utc.str[11:16]
df.date        = df.date.str[2] +'/'+ df.date.str[1] +'/'+ df.date.str[0]

In [17]:
df.drop(columns='game_utc', inplace=True)

In [18]:
df = df[['date', 'utc_time', 'lon', 'lat']]

In [19]:
print('shape - ', df.shape)
df.tail()

shape -  (25029, 4)

             date utc_time    lon    lat
25024  2021/03/28    15:00   8e30   8n29
25025  2021/03/28    13:00  20e18  44n25
25026  2021/03/28    13:30   20e9  44n22
25027  2021/03/28    12:30  33e46  34n59
25028  2021/03/28    11:00  99e47  11n49

### Prepare data and get astrological charts

In [20]:
df[(df.lat.isna()) | (df.lon.isna())]

Empty DataFrame
Columns: [date, utc_time, lon, lat]
Index: []

In [21]:
# df_coords.loc[44:44, ['country', 'city', 'longitude', 'latitude']]

In [22]:
# df.loc[44:44,]

In [23]:
# import datetime
# from flatlib import ephem, const

# fmt = '%Y/%m/%d %H:%M'
# s   = '2022/05/23 12:00'
# dt  = datetime.datetime.strptime(s, fmt)
# tt  = dt.timetuple()
# jd  = tt.tm_year * 1000 + tt.tm_yday
# print(jd)
# lat = 40.245016
# lon = 17.952091
# ephem.swe.sweHouses(jd, lat, lon, hsys=const.HOUSES_PLACIDUS)

In [21]:
df_dates_posits = AstrologicalPoints.dates_posits_calculate(df, date='date', utc_time='utc_time', lat='lat', lon='lon')

In [22]:
print('shape - ', df_dates_posits.shape)
df_dates_posits.head(3)

shape -  (25029, 2)

                            dates               posits
0  <2022/05/26 15:00:00 00:00:00>  <44N43:00 37E46:00>
1  <2022/05/26 15:00:00 00:00:00>  <40N37:00 20E46:00>
2  <2022/05/26 15:00:00 00:00:00>  <41N19:00 19E49:00>

#### Check rows with errors for chart calculate (cities from polar circle houses calc errors)

In [23]:
error_inds = []

for i in range(df_dates_posits.shape[0]):
    try:
        AstrologicalPoints.charts_calculate(df_dates_posits.loc[i:i,])
    except Exception as e: 
        error_inds.append(i)

In [24]:
print('len - ', len(error_inds))
error_inds[:3]

len -  51

[71, 1991, 8437]

In [25]:
print('shape - df_dates_posits - ', df_dates_posits.shape)
df_dates_posits.drop(index=error_inds, inplace=True)
df_dates_posits.reset_index(drop=True, inplace=True)
print('shape - df_dates_posits - ', df_dates_posits.shape)
df_dates_posits.tail(3)

shape - df_dates_posits -  (25029, 2)
shape - df_dates_posits -  (24978, 2)

                                dates               posits
24975  <2021/03/28 13:30:00 00:00:00>  <44N22:00 20E09:00>
24976  <2021/03/28 12:30:00 00:00:00>  <34N59:00 33E46:00>
24977  <2021/03/28 11:00:00 00:00:00>  <11N49:00 99E47:00>

In [26]:
print('shape - df_dates_posits - ', df.shape)
df.drop(index=error_inds, inplace=True)
df.reset_index(drop=True, inplace=True)
print('shape - df_dates_posits - ', df.shape)
df.tail(3)

shape - df_dates_posits -  (25029, 4)
shape - df_dates_posits -  (24978, 4)

             date utc_time    lon    lat
24975  2021/03/28    13:30   20e9  44n22
24976  2021/03/28    12:30  33e46  34n59
24977  2021/03/28    11:00  99e47  11n49

In [27]:
print('shape - df_coords - ', df_coords.shape)
df_coords.drop(index=error_inds, inplace=True)
df_coords.reset_index(drop=True, inplace=True)
print('shape - df_coords - ', df_coords.shape)
df_coords.tail(3)

shape - df_coords -  (25029, 26)
shape - df_coords -  (24978, 26)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city,iso_code,longitude,latitude,lat,lon,moon_day
24975,15164040,Srpska Liga,698,306,28.03.2021 13:30,Zeleznicar Lajkovac - Sloboda Užice,1:0,thr,Zeleznicar Lajkovac,15.0,36.0,4.0,57.0,"15 - 4, 20","36 - 57, 94",Pre,sum_coef_13,Serbia,NaN,Lajkovac,RS,20.165280,44.36944,44n22,20e9,15
24976,15147393,Third Division,553,306,28.03.2021 12:30,Ormideia - O Kormakitis,2:0,thr,Ormideia,8.0,40.0,16.0,16.0,"8 - 16, 16","40 - 16, 68",Fav,sum_coef_13,Cyprus,NaN,Ormideia,CY,33.775628,34.99351,34n59,33e46,15
24977,15109589,Thai League 1,718,298,28.03.2021 11:00,Prachuap - Bangkok United,0:1,thr,Prachuap,10.0,37.0,5.0,51.0,"10 - 5, 16","37 - 51, 77",Pre,sum_coef_13,Thailand,13605,Prachuap Khiri Khan,TH,99.784100,11.82098,11n49,99e47,15

In [28]:
sr_charts = AstrologicalPoints.charts_calculate(df_dates_posits)

### Get astrological objects

In [29]:
df['charts'] = sr_charts

In [30]:
necessary_constants = AstrologicalConstants.necessary_constants
rulers_constants    = AstrologicalConstants.rulers_constants
antes_objects       = AstrologicalConstants.for_antes_objects
pars_constants      = AstrologicalConstants.pars_constants

rulers_constant_col_names = AstrologicalPoints.rulers_col_names(rulers_constants)
rulers_pars_col_names     = AstrologicalPoints.rulers_col_names(pars_constants) + ['ruler_antes_pars_fortuna']

for obj in rulers_constants + necessary_constants + pars_constants:
    df[str.lower(obj)] = AstrologicalPoints.calculate_astro_objects(sr_charts, obj)

for name, obj in zip(rulers_constant_col_names, rulers_constants):
    obj      = obj.lower()
    df[name] = AstrologicalPoints.ruler_of_object(df[obj])
    df[name] = AstrologicalPoints.chart_object_attributes(df, 'charts', name)
    
for obj in antes_objects:
    antes_name     = 'antes_' + obj
    df[antes_name] = AstrologicalPoints.antes_objects_calc(df, obj)

antes_objects = []

for col in df.columns:
    if col.startswith('antes'):
        AstrologicalPoints.rename_antes_objects(df, col)
        antes_objects.append(col)

pars_constants.append('ANTES_PARS_FORTUNA')

for name, obj in zip(rulers_pars_col_names, pars_constants):
    obj = str.lower(obj)
    df[name] = AstrologicalPoints.ruler_of_object(df[obj])
    df[name] = AstrologicalPoints.chart_object_attributes(df, 'charts', name)

houses_objects = AstrologicalConstants.houses_objects
pars_objects   = AstrologicalConstants.pars_objects
ruler_objects  = AstrologicalConstants.ruler_objects
main_objects   = AstrologicalConstants.main_objects

cols_for_id    = houses_objects + antes_objects + pars_objects + ruler_objects + main_objects 

df['id_for_aspects'] = AstrologicalPoints.id_for_aspekts(df, cols_for_id)
df['transform_id']   = df.id_for_aspects.map(lambda x: TransformDoubleValues(x).conbine_class_methods())

df.drop(columns='id_for_aspects', inplace=True)

In [31]:
df.tail(3)

,date,utc_time,lon,lat,charts,asc,desc,mc,ic,pars_fortuna,sun,moon,saturn,uranus,neptune,pluto,chiron,north_node,south_node,pars_spirit,pars_glory,pars_crest,pars_rock,ruler_asc,ruler_desc,ruler_mc,ruler_ic,ruler_pars_fortuna,antes_moon,antes_ruler_asc,antes_ruler_desc,antes_ruler_mc,antes_ruler_ic,antes_pars_fortuna,antes_uranus,antes_neptune,antes_pluto,antes_chiron,ruler_pars_spirit,ruler_pars_glory,ruler_pars_crest,ruler_pars_rock,ruler_antes_pars_fortuna,transform_id
24975,2021/03/28,13:30,20e9,44n22,<flatlib.chart.Chart object at 0x7f96c1546ac0>,<Asc Leo +28:37:58>,<Desc Aquarius +28:37:58>,<MC Taurus +21:15:45>,<IC Scorpio +21:15:45>,<Pars Fortuna Aquarius +25:33:47 +00:00:00>,<Sun Aries +08:05:21 +00:59:19>,<Moon Libra +05:01:10 +14:51:31>,<Saturn Aquarius +11:05:56 +00:04:54>,<Uranus Taurus +08:49:59 +00:03:05>,<Neptune Pisces +21:17:31 +00:02:12>,<Pluto Capricorn +26:35:13 +00:00:52>,<Chiron Aries +08:48:42 +00:03:31>,<North Node Gemini +14:16:27 -00:03:11>,<South Node Sagittarius +14:16:27 -00:03:11>,<Pars Spirit Pisces +01:42:09 +00:00:00>,<Pars Glory Cancer +13:05:31 +00:00:00>,<Pars Crest Capricorn +01:55:26 +00:00:00>,<Pars Rock Cancer +01:38:34 +00:00:00>,<Sun Aries +08:05:21 +00:59:19>,<Saturn Aquarius +11:05:56 +00:04:54>,<Venus Aries +08:39:55 +01:14:33>,<Mars Gemini +14:23:24 +00:35:48>,<Saturn Aquarius +11:05:56 +00:04:54>,<Antes Moon Pisces +24:58:50 +14:51:31>,<Antes Sun Virgo +21:54:39 +00:59:19>,<Antes Saturn Scorpio +18:54:04 +00:04:54>,<Antes Venus Virgo +21:20:05 +01:14:33>,<Antes Mars Cancer +15:36:36 +00:35:48>,<Antes Pars Fortuna Scorpio +04:26:13 +00:00:00>,<Antes Uranus Leo +21:10:01 +00:03:05>,<Antes Neptune Libra +08:42:29 +00:02:12>,<Antes Pluto Sagittarius +03:24:47 +00:00:52>,<Antes Chiron Virgo +21:11:18 +00:03:31>,<Jupiter Aquarius +22:32:53 +00:12:01>,<Moon Libra +05:01:10 +14:51:31>,<Saturn Aquarius +11:05:56 +00:04:54>,<Moon Libra +05:01:10 +14:51:31>,<Mars Gemini +14:23:24 +00:35:48>,"[(asc, Asc), (desc, Desc), (mc, MC), (ic, IC), (antes_moon, Antes Moon), (antes_ruler_asc, Antes..."
24976,2021/03/28,12:30,33e46,34n59,<flatlib.chart.Chart object at 0x7f96c154b220>,<Asc Leo +24:38:37>,<Desc Aquarius +24:38:37>,<MC Taurus +19:51:23>,<IC Scorpio +19:51:23>,<Pars Fortuna Aquarius +20:59:46 +00:00:00>,<Sun Aries +08:02:52 +00:59:19>,<Moon Libra +04:24:02 +14:50:59>,<Saturn Aquarius +11:05:44 +00:04:55>,<Uranus Taurus +08:49:52 +00:03:05>,<Neptune Pisces +21:17:25 +00:02:12>,<Pluto Capricorn +26:35:11 +00:00:52>,<Chiron Aries +08:48:33 +00:03:31>,<North Node Gemini +14:16:35 -00:03:11>,<South Node Sagittarius +14:16:35 -00:03:11>,<Pars Spirit Aquarius +28:17:27 +00:00:00>,<Pars Glory Cancer +09:08:08 +00:00:00>,<Pars Crest Sagittarius +27:54:48 +00:00:00>,<Pars Rock Gemini +27:41:28 +00:00:00>,<Sun Aries +08:02:52 +00:59:19>,<Saturn Aquarius +11:05:44 +00:04:55>,<Venus Aries +08:36:49 +01:14:33>,<Mars Gemini +14:21:55 +00:35:48>,<Saturn Aquarius +11:05:44 +00:04:55>,<Antes Moon Pisces +25:35:58 +14:50:59>,<Antes Sun Virgo +21:57:08 +00:59:19>,<Antes Saturn Scorpio +18:54:16 +00:04:55>,<Antes Venus Virgo +21:23:11 +01:14:33>,<Antes Mars Cancer +15:38:05 +00:35:48>,<Antes Pars Fortuna Scorpio +09:00:14 +00:00:00>,<Antes Uranus Leo +21:10:08 +00:03:05>,<Antes Neptune Libra +08:42:35 +00:02:12>,<Antes Pluto Sagittarius +03:24:49 +00:00:52>,<Antes Chiron Virgo +21:11:27 +00:03:31>,<Saturn Aquarius +11:05:44 +00:04:55>,<Moon Libra +04:24:02 +14:50:59>,<Jupiter Aquarius +22:32:23 +00:12:01>,<Mercury Pisces +18:40:37 +01:37:50>,<Mars Gemini +14:21:55 +00:35:48>,"[(asc, Asc), (desc, Desc), (mc, MC), (ic, IC), (antes_moon, Antes Moon), (antes_ruler_asc, Antes..."
24977,2021/03/28,11:00,99e47,11n49,<flatlib.chart.Chart object at 0x7f96c154b940>,<Asc Libra +00:51:53>,<Desc Aries +00:51:53>,<MC Cancer +00:47:38>,<IC Capricorn +00:47:38>,<Pars Fortuna Pisces +26:21:05 +00:00:00>,<Sun Aries +07:59:10 +00:59:19>,<Moon Libra +03:28:22 +14:50:07>,<Saturn Aquarius +11:05:25 +00:04:55>,<Uranus Taurus +08:49:40 +00:03:04>,<Neptune Pisces +21:17:17 +00:02:12>,<Pluto Capricorn +26:35:08 +00:00:52>,<Chiron Aries +08:48:20 +00:03:31>,<North Node Gemini +14:16:47 -00:03:11>,<South Node Sagittarius +14:16:47 -00:03:11>,<Pars Spirit Aries +05:22:40 +00:00:00>,<Pars Glory Leo +15:24:21 +00:00:00>,<Pars Crest Aquarius +04:06:08 +00:00:00>,<Pars Rock Leo +03:58:08 +00:00:00>,<Venus Aries +08:32:09 +01:14:33>,<Mars Gemini +14:19:40 +00:35:48>,<Moon Libra +03:28:22 +14:50:07>,<Saturn Aquarius +11:05:25 +00:04:55>,<Jupiter Aquarius +22:31:38 +00:12:01>,<Antes Moon Pisces +26:31:38 +14:50:07>,<Antes Venus Virgo +21:27:51 +01:14:33>,<Antes Mars Cancer +15:40:20 +00:35:48>,<Antes Moon Pisces +26:31:38 +14:50:07>,<Antes Saturn Scorpio +18:54:35 +00:04:55>,<Antes Pars Fortuna Libra +03:38:55 +00:00:00>,<Antes Uranus Leo +21:10:20 +00:03:04>,<Antes Neptune Libra +08:42:43 +00:02:12>,<Antes Pluto Sagittarius +03:24:52 +00:00:52>,<Antes Chiron Virgo +21:11:40 +00:03:31>,<Mars Gemini +14:19:40 +00:35:48>,<Sun Aries +07:59:10 +00:59:19>,<Saturn Aquarius +11:05:25 +00:04:55>,<Sun Aries +07:59:10 +00:59:19>,<Venus Aries +08:32:09 +01:14:33>,"[(asc, Asc), (desc, Desc), (mc, MC), (ic, IC), (antes_ruler_asc, Antes Venus), (antes_ruler_desc..."

### Calculate aspects

In [32]:
# error_inds_calc = []

# for i in range(df.shape[0]):
#     try:
#         AspectsCalculate.aspects_calculate(df, i)
#     except Exception as e: 
#         error_inds_calc.append([i, e])

In [33]:
# error_inds_calc

In [34]:
aspects = []
for x in tqdm(range(df.shape[0])):
     aspects.append(AspectsCalculate.aspects_calculate(df, x))  

df['aspects'] = aspects

100%|█████████████████████████████████████| 24978/24978 [50:03<00:00,  8.32it/s]

In [35]:
df_coords['aspects'] = df.aspects

In [36]:
df_coords.tail(1)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city,iso_code,longitude,latitude,lat,lon,moon_day,aspects
24977,15109589,Thai League 1,718,298,28.03.2021 11:00,Prachuap - Bangkok United,0:1,thr,Prachuap,10.0,37.0,5.0,51.0,"10 - 5, 16","37 - 51, 77",Pre,sum_coef_13,Thailand,13605,Prachuap Khiri Khan,TH,99.7841,11.82098,11n49,99e47,15,"[{'f_point': 'Moon', 's_point': 'Antes Pars Fortuna', 'type': 'Con', 'approach': 'moon_conv_clea..."

In [37]:
df_coords[df_coords.aspects.isna()]

Empty DataFrame
Columns: [game_id, ligue_header, comp_id, season_id, game_utc, game_title, goals, ligue, f_team, pos_f, pts_f, pos_s, pts_s, fs_pos_max, fs_pts_max, f_pow, desc, country, team_id, city, iso_code, longitude, latitude, lat, lon, moon_day, aspects]
Index: []

In [45]:
# df_coords.aspects.loc[8946]

In [39]:
# file = open('pickle_files/aspected_files/df_with_aspects_26_05_2022_sec', 'wb')
# pickle.dump(df_coords, file)  
# file.close()

### Aspect's restructurisation

In [40]:
with open('pickle_files/aspected_files/df_with_aspects_26_05_2022_sec', 'rb') as f:
    df_with_aspects = pickle.load(f)

In [41]:
print('shape - ', df_with_aspects.shape)
df_with_aspects.tail(1)

shape -  (24978, 27)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city,iso_code,longitude,latitude,lat,lon,moon_day,aspects
24977,15109589,Thai League 1,718,298,28.03.2021 11:00,Prachuap - Bangkok United,0:1,thr,Prachuap,10.0,37.0,5.0,51.0,"10 - 5, 16","37 - 51, 77",Pre,sum_coef_13,Thailand,13605,Prachuap Khiri Khan,TH,99.7841,11.82098,11n49,99e47,15,"[{'f_point': 'Moon', 's_point': 'Antes Pars Fortuna', 'type': 'Con', 'approach': 'moon_conv_clea..."

In [42]:
df_with_aspects[df_with_aspects.game_id.duplicated()]

Empty DataFrame
Columns: [game_id, ligue_header, comp_id, season_id, game_utc, game_title, goals, ligue, f_team, pos_f, pts_f, pos_s, pts_s, fs_pos_max, fs_pts_max, f_pow, desc, country, team_id, city, iso_code, longitude, latitude, lat, lon, moon_day, aspects]
Index: []

In [44]:
# 0      [None, None, None, None, None, None, None, None, None, None] - it's ok.
df_with_aspects[['game_id', 'aspects']].apply(lambda x: [y.update({'game_id': x[0]}) for y in x[1]], axis=1)

0                                               [None, None, None, None, None, None, None, None, None, None]
1                                                                 [None, None, None, None, None, None, None]
2                                                     [None, None, None, None, None, None, None, None, None]
3                                                     [None, None, None, None, None, None, None, None, None]
4                             [None, None, None, None, None, None, None, None, None, None, None, None, None]
                                                        ...
24973             [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
24974    [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None,...
24975                         [None, None, None, None, None, None, None, None, None, None, None, None, None]
24976    [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None,...
24977    [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None,...
Length: 24978, dtype: object

In [47]:
df_table_asps = pd.DataFrame()

for i in tqdm(range(df_with_aspects.shape[0])):
    df_table_asps = pd.concat([df_table_asps, pd.DataFrame(df_with_aspects.aspects[i])])

100%|█████████████████████████████████████| 24978/24978 [12:34<00:00, 33.09it/s]

In [48]:
col_names = ['game_id','game_title','goals','ligue','f_pow', 'moon_day']
df_game_asps = df_with_aspects[col_names].merge(df_table_asps, how='left',left_on='game_id', right_on='game_id')
df_game_asps.reset_index(drop=True, inplace=True)

In [49]:
df_game_asps.drop(columns=['orb', 'longs'], inplace=True)

In [50]:
col_names    = ['game_id', 'game_title', 'goals', 'ligue', 'f_pow', 'f_point', 'fmain_ch', 'fsec_ch', 's_point', 'smain_ch', 
                'ssec_ch', 'type', 'approach', 'sing', 'tr_orb', 'bp_asp', 'den_point', 'orb_char', 'moon_day']
df_game_asps = df_game_asps[col_names]

In [51]:
print('shape - ', df_game_asps.shape)
df_game_asps.tail(3)

shape -  (256161, 19)

,game_id,game_title,goals,ligue,f_pow,f_point,fmain_ch,fsec_ch,s_point,smain_ch,ssec_ch,type,approach,sing,tr_orb,bp_asp,den_point,orb_char,moon_day
256158,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Pars Crest,[],[],Pars Rock,[],[],Opp,stat,equal,0.08,yes,[],max,15
256159,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Venus,[ruler_asc],[ruler_antes_pars_fortuna],Antes Neptune,[],[],Opp,conv,equal,0.11,no,[],max,15
256160,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Jupiter,[ruler_pars_fortuna],[],Antes Uranus,[],[],Opp,diver,equal,1.22,yes,[],middle,15

In [52]:
df_table_asps.fmain_ch.value_counts().head(6)

[]                      201326
[ruler_desc]             10672
[ruler_mc]               10187
[ruler_asc]               9922
[ruler_ic]                9319
[ruler_pars_fortuna]      5792
Name: fmain_ch, dtype: int64

In [53]:
df_table_asps.f_point.value_counts(dropna=False)

Moon                  55833
Sun                   19572
Chiron                18986
Desc                  12329
Pars Spirit           11593
MC                    11585
Pars Fortuna          11399
Pars Crest            10576
South Node            10460
Pars Glory            10252
Pluto                  9840
Asc                    9814
Saturn                 9292
IC                     8568
Pars Rock              7915
Neptune                6402
Mars                   5728
Uranus                 5644
Venus                  4967
North Node             4182
Mercury                3653
Jupiter                2198
Antes Pars Fortuna      808
Antes Neptune           723
Antes Pluto             722
Antes Mars              557
Antes Chiron            524
Antes Venus             521
Antes Uranus            423
Antes Jupiter           350
Antes Saturn            326
Antes Mercury           254
Antes Sun               165
Name: f_point, dtype: int64

In [55]:
# file = open('pickle_files/aspected_files/df_aspects_table_26_05_2022_sum_coef_13', 'wb')
# pickle.dump(df_game_asps, file)  
# file.close()

In [ ]:
# for x in objects:
#     if x.id == 'Mars':
#         x.lon = 1
#     if x.id == 'Pluto':
#         x.lon = 2

In [ ]:
#     Rules for aspekts:
#     Antes Moon - only for house conuction
#     Antes has only house rulers planets, higher planets and Parse Fortuna.

#     Moon aspects by specific points (houses rulers, there antes and fortuna parts with it antes):
#     'moon_conv_clear_compl' - any first aspect by parse fortuna and it antes, or first 'Con' aspect to houses rulers or any last aspect to houses rulers without 
#       any point aspects beefore
#     'moon_conv_compl' - any first aspect by parse fortuna and it antes, or if first 'Con' aspect to houses rulers or any last aspect to houses rulers with 
#       aspected beefore any point among active planets and only 'Con' type for all other points if their not in house rulers
#     'moon_conv_compl_weak' - any first aspect by parse fortuna and it antes or if first 'Con' aspect to houses rulers or any last houses rulers's aspect 
#       which was aspecting beefore parses or other houses rulers and last aspect antes's houses rulers which wasn't aspecting beefore parses or other houses rulers -------
#     'moon_conv' - all other points aspects
#     'moon_conv_denide' - if aspect sing: 'diff' or if aspect's 'tr_orb' > 5.1 
#     'moon_diver', 'moon_diver_weak' - for divergent Moon aspects.

#     Houses rulers and parts rulers aspects are aspecting own parts(houses):
#     'conv_compl', (conv_in_compl', conv_out_compl') - approuch parts(houses) rulers aspecting own parts(houses) without Moon's aspect at part 
#     'conv_denide', (conv_in_weak', conv_out_weak') - if parts(houses) rulers has other early conversation aspect(Moon include) or locate in different sings
#     'diver_weak', (diver_in_weak', diver_out_weak') - if aspect is divergent
#     'diver_denide' - if pars ruler has divergent aspect and it has previos con aspect

#     Other 'conv' and 'stat' aspects:
#     'conv_denide', 'stat_denide' - if points locate in different sings.
#     'conv_weak', 'stat_weak', ('in_conv_weak', 'out_conv_weak', 'in_stat_weak', 'out_stat_weak') - weakened aspects with the other long point 
#     located beetwen points longs. 

#     Remove antes aspects: 
#     If exist aspect between natural points - remove all unimportant aspects with anteses:
#       Stay - ('Mars' con 'Venus') or ('Mars' opp 'Venus')
#       Remove aspects ('Mars' opp 'Antes Venus', 'Mars' opp 'Antes Mars', ' Venus' opp 'Antes Mars', 'Venus' opp 'Antes Venus', 'Antes Mars' opp 'Antes Venus')
#     If exist mirror aspect between natural and antes point without aspect between natural points: 
#       ('Mars' con 'Antes Chiron') and ('Chiron' con 'Antes Mars') 
#       required stay the houses ruler's aspect, if aspect has two houses rulers or any other points - stay any.
#     Antes aspect by own planet without natural points aspect ('Mars' con 'Antes Mars')
#     Remove mirror houses antes aspects: ('Asc' con 'Mars') - ('Dsc' con 'Antes Mars').
#     Remove one mirror 'Moon Node' aspect by houses with 'weak' status from 'den_point' planet or any.