In [30]:
import pandas as pd

from flatlib import const
from flatlib.chart import Chart
from flatlib.datetime import Datetime
from flatlib.geopos import GeoPos

from flatlib.tools import arabicparts
from flatlib.dignities import essential

from _astro_constants import AstrologicalPoints

In [2]:
%load_ext autoreload
%autoreload 2

In [11]:
data = {'date':['2015/03/13', '2016/05/23', '2018/10/03'], 'utc_time':['17:00', '12:30', '00:15'], 'lon':['38n32', '08n07', '14s42'], 'lat':['8w54', '18e14','36w04']}
df = pd.DataFrame(data)
df

         date utc_time    lon    lat
0  2015/03/13    17:00  38n32   8w54
1  2016/05/23    12:30  08n07  18e14
2  2018/10/03    00:15  14s42  36w04

In [12]:
df['charts'] = AstrologicalPoints.charts_calculate(df, 'date', 'utc_time', 'lon', 'lat')

In [13]:
df.charts

0    <flatlib.chart.Chart object at 0x7fb300e280d0>
1    <flatlib.chart.Chart object at 0x7fb2cbbea130>
2    <flatlib.chart.Chart object at 0x7fb2cbbea7c0>
Name: charts, dtype: object

In [14]:
df['asc'] = AstrologicalPoints.calculate_astro_house(df.charts, 'ASC')
df['desc'] = AstrologicalPoints.calculate_astro_house(df.charts, 'DESC')
df['mc'] = AstrologicalPoints.calculate_astro_house(df.charts, 'MC')
df['ic'] = AstrologicalPoints.calculate_astro_house(df.charts, 'IC')

In [17]:
df['ruler_asc'] = AstrologicalPoints.ruler_of_house(df.asc)
df['ruler_desc'] = AstrologicalPoints.ruler_of_house(df.desc)
df['ruler_mc'] = AstrologicalPoints.ruler_of_house(df.mc)
df['ruler_ic'] = AstrologicalPoints.ruler_of_house(df.ic)

In [28]:
df['ruler_asc_attr'] = AstrologicalPoints.chart_object_attributes(df, 'charts', 'ruler_asc')
df['ruler_desc_attr'] = AstrologicalPoints.chart_object_attributes(df, 'charts', 'ruler_desc')
df['ruler_mc_attr'] = AstrologicalPoints.chart_object_attributes(df, 'charts', 'ruler_mc')
df['ruler_ic_attr'] = AstrologicalPoints.chart_object_attributes(df, 'charts', 'ruler_ic')

In [29]:
df

,date,utc_time,lon,lat,charts,asc,desc,mc,ic,ruler_asc,ruler_desc,ruler_mc,ruler_ic,ruler_asc_attr,ruler_desc_attr,ruler_mc_attr,ruler_ic_attr
0,2015/03/13,17:00,38n32,8w54,<flatlib.chart.Chart object at 0x7fb300e280d0>,<Asc Virgo +03:27:30>,<Desc Pisces +03:27:30>,<MC Taurus +29:19:03>,<IC Scorpio +29:19:03>,Mercury,Jupiter,Venus,Mars,<Mercury Pisces +00:48:57 +01:29:49>,<Jupiter Leo +13:38:37 -00:04:45>,<Venus Aries +25:30:11 +01:12:41>,<Mars Aries +16:32:48 +00:45:18>
1,2016/05/23,12:30,08n07,18e14,<flatlib.chart.Chart object at 0x7fb2cbbea130>,<Asc Virgo +27:12:45>,<Desc Pisces +27:12:45>,<MC Gemini +27:30:28>,<IC Sagittarius +27:30:28>,Mercury,Jupiter,Mercury,Jupiter,<Mercury Taurus +14:22:23 +00:04:22>,<Jupiter Virgo +13:33:03 +00:02:30>,<Mercury Taurus +14:22:23 +00:04:22>,<Jupiter Virgo +13:33:03 +00:02:30>
2,2018/10/03,00:15,14s42,36w04,<flatlib.chart.Chart object at 0x7fb2cbbea7c0>,<Asc Gemini +05:25:08>,<Desc Sagittarius +05:25:08>,<MC Pisces +07:39:39>,<IC Virgo +07:39:39>,Mercury,Jupiter,Jupiter,Mercury,<Mercury Libra +18:46:13 +01:38:51>,<Jupiter Scorpio +22:27:07 +00:11:21>,<Jupiter Scorpio +22:27:07 +00:11:21>,<Mercury Libra +18:46:13 +01:38:51>

In [41]:
chart = df.charts.values[0]