In [1]:
import os
import re
import pickle
import datetime
import pandas as pd
import numpy as np

from _html_parser import ParsingDataPrepare, TableConstant

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [2]:
%load_ext autoreload
%autoreload 2

#### Choose the date for dirs and files

In [3]:
# Start from more time ('26_05_2022' -'27_03_2021'), ('26_03_2021' - '03_11_2013)
dir_data = dir_data_start = '26_05_2022'
dir_data_end = '27_03_2021'

In [4]:
with open('pickle_files/new_events/'+ dir_data +'/df_'+ dir_data_start +'_to_'+ dir_data_end  +'_games', 'rb') as f:
    df_games = pickle.load(f)

In [5]:
df_games

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue
0,1729359,Ligue 1,18,310,26.05.2022 17:00,Auxerre - Saint-Etienne,1:1,top
1,1729393,Serie B,627,310,26.05.2022 18:30,Monza - Pisa,2:1,thr
2,1729388,Eredivisie,596,Cup,26.05.2022 18:00,Vitesse - AZ Alkmaar,2:1,top
3,1708335,Premier League,483,301,26.05.2022 15:00,FC Minsk - Arsenal Dzerzhinsk,2:0,top
4,1687458,Eliteserien,747,301,26.05.2022 16:00,Rosenborg - Haugesund,3:3,sec
...,...,...,...,...,...,...,...,...
91916,15197308,Primera Division,593,306,28.03.2021 17:00,Nueva Concepcion - Suchitepequez,1:1,thr
91917,15197309,Primera Division,593,306,28.03.2021 20:59,Deportivo San Pedro - Plataneros,2:1,thr
91918,15092974,National Football League,575,307,28.03.2021 03:00,Navua - Rewa,1:2,thr
91919,15092975,National Football League,575,307,28.03.2021 03:00,Ba - Lautoka,1:2,thr
91920,15092976,National Football League,575,307,28.03.2021 03:00,Nadi - Suva,1:0,thr

In [6]:
df_games['f_team'] = df_games.game_title.map(lambda x: str(x).split(' - ')[0])
df_games['s_team'] = df_games.game_title.map(lambda x: str(x).split(' - ')[1])

In [7]:
df_games.head(3)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,s_team
0,1729359,Ligue 1,18,310,26.05.2022 17:00,Auxerre - Saint-Etienne,1:1,top,Auxerre,Saint-Etienne
1,1729393,Serie B,627,310,26.05.2022 18:30,Monza - Pisa,2:1,thr,Monza,Pisa
2,1729388,Eredivisie,596,Cup,26.05.2022 18:00,Vitesse - AZ Alkmaar,2:1,top,Vitesse,AZ Alkmaar

#### Add competitions data

In [8]:
with open('pickle_files/new_events/'+ dir_data +'/df_comp_tabs_'+ dir_data_start +'_all_lgs', 'rb') as f:
    df_comp_tables = pickle.load(f)

In [9]:
df_comp_tables.rename(columns={'team_name':'f_team'}, inplace=True)

In [10]:
# Duble column for get data for each team
df_comp_tables['s_team'] = df_comp_tables.f_team

In [11]:
df_comp_tables.head()

,f_team,team_id,pos,pld,w,d,l,gf,ga,+/-,pts,comp_id,season_id,s_team
0,Japan U23,10622,1,3,3,0,0,7,1,+6,9,1016,298,Japan U23
1,Mexico U23,9209,2,3,2,0,1,8,3,+5,6,1016,298,Mexico U23
2,France U23,10739,3,3,1,0,2,5,11,-6,3,1016,298,France U23
3,South Africa U23,10615,4,3,0,0,3,3,8,-5,0,1016,298,South Africa U23
4,South Korea U23,10609,1,3,2,0,1,10,1,+9,6,1016,298,South Korea U23

In [12]:
df_fcom = pd.merge(left=df_games, right=df_comp_tables[['f_team','comp_id','season_id','pos', 'pts']], on=['f_team','comp_id','season_id'], how='left')
df_fcom.rename(columns={'pos':'pos_f', 'pts':'pts_f'}, inplace=True)

In [13]:
df_scom = pd.merge(left=df_games, right=df_comp_tables[['s_team','comp_id','season_id','pos', 'pts']], on=['s_team','comp_id','season_id'], how='left')
df_scom.rename(columns={'pos':'pos_s', 'pts':'pts_s'}, inplace=True)

In [14]:
df_games_tb = pd.merge(df_fcom, df_scom[['game_id', 'pos_s','pts_s']], how='left', left_on='game_id', right_on='game_id')

In [15]:
df_games_tb.pos_f = pd.to_numeric(df_games_tb.pos_f, errors='coerce')
df_games_tb.pos_s = pd.to_numeric(df_games_tb.pos_s, errors='coerce')
df_games_tb.pts_f = pd.to_numeric(df_games_tb.pts_f, errors='coerce')
df_games_tb.pts_s = pd.to_numeric(df_games_tb.pts_s, errors='coerce')

In [16]:
df_games_tb['posf_poss'] = df_games_tb[['pos_f', 'pos_s']].apply(lambda x: str(x[0]).replace('.0', '') + ' - ' + str(x[1]).replace('.0', '') \
                                                                 if pd.notna(x[0]) and pd.notna(x[1]) else None, axis=1) 
df_games_tb['ptsf_ptss'] = df_games_tb[['pts_f', 'pts_s']].apply(lambda x: str(x[0]).replace('.0', '') + ' - ' + str(x[1]).replace('.0', '') \
                                                                 if pd.notna(x[0]) and pd.notna(x[1]) else None, axis=1)

In [17]:
df_games_tb.drop(columns=['s_team'], inplace=True)

In [18]:
df_games_tb.drop_duplicates(subset=['game_id'], inplace=True)

In [19]:
df_games_tb.reset_index(drop=True, inplace=True)

In [20]:
df_games_tb.posf_poss.value_counts(dropna=False).head(4)

None     16922
1 - 3      706
1 - 2      692
1 - 4      683
Name: posf_poss, dtype: int64

In [21]:
df_games_tb.posf_poss.value_counts(dropna=False).tail(4)

3 - 36     1
17 - 37    1
27 - 35    1
21 - 27    1
Name: posf_poss, dtype: int64

In [22]:
df_comp_tables.pos = pd.to_numeric(df_comp_tables.pos, errors='coerce')
df_comp_tables.pts = pd.to_numeric(df_comp_tables.pts, errors='coerce')

df_max_pos = df_comp_tables.groupby(['comp_id', 'season_id'])['pos'].max().to_frame().reset_index()  
df_max_pts = df_comp_tables.groupby(['comp_id', 'season_id'])['pts'].max().to_frame().reset_index() 

df_max_pos.rename(columns={'pos':'max_pos'}, inplace=True)
df_max_pts.rename(columns={'pts':'max_pts'}, inplace=True)

In [23]:
df_max_pos.head(3)

  comp_id season_id  max_pos
0    1016       298        4
1    1019       310        4
2    1035       306       11

In [24]:
df_max_pts.head(3)

  comp_id season_id  max_pts
0    1016       298        9
1    1019       310       16
2    1035       306       28

In [25]:
df_games_tb = df_games_tb.merge(df_max_pos, how='left', left_on=['comp_id', 'season_id'],  right_on=['comp_id', 'season_id'])
df_games_tb = df_games_tb.merge(df_max_pts, how='left', left_on=['comp_id', 'season_id'],  right_on=['comp_id', 'season_id'])

In [26]:
df_games_tb['fs_pos_max'] = df_games_tb[['posf_poss', 'max_pos']].apply(lambda x: str(x[0])+ ', ' + str(x[1]).replace('.0', '') \
                                                                                                                  if x[0] != None else None, axis=1)
df_games_tb['fs_pts_max'] = df_games_tb[['ptsf_ptss', 'max_pts']].apply(lambda x: str(x[0])+ ', ' + str(x[1]).replace('.0', '') \
                                                                                                                  if x[0] != None else None, axis=1)

In [27]:
df_games_tb.drop(columns=['posf_poss', 'ptsf_ptss', 'max_pts'], inplace=True)

#### Add games events

In [28]:
with open('pickle_files/new_events/'+ dir_data +'/df_evns_'+ dir_data_start +'_to_'+ dir_data_end, 'rb') as f:
    df_events = pickle.load(f)

In [29]:
df_events.event_desc = df_events.event_desc.map(lambda x: [y[0]+y[-1] for y in x])

In [30]:
print('shape - ', df_events.shape[0])
df_events.head(2)

shape -  33890

,game_id,teams_ids,event_mins,event_desc,stats_dict,city_country,viewers,weath_temp,bets
0,1729343,None,"[5, 31, 39, 42, 64, 85, +]","[gl, pl, gl, yd, yd, yd, yd]","[(Shots, 15, 23), (Shots on target, 5, 5), (Shots Blocked, 6, 3), (Saves, 5, 2), (Possession %, 40, 60), (Corner, 5, 7), (Fouls, 18, 11), (Offsides, 0, 0), (Yellow cards, 3, 1), (Red cards, 0, 0), (Attacks, 84, 114), (Attacks (Dangerous), 26, 69), (Free Kicks, 14, 27)]",,,,"([1, X, 2, Ð¢Ðœ 2.5, Ð¢Ð‘ 2.5], [2.08, 3.16, 3.90, 1.63, 2.39])"
1,1729390,None,"[9, 41, 58, 69, 71, 72, 81, 89]","[yd, gl, yd, yd, gl, yd, yd, yd]","[(Shots, 13, 14), (Shots on target, 3, 6), (Shots Blocked, 6, 2), (Saves, 4, 3), (Possession %, 54, 46), (Corner, 8, 2), (Fouls, 11, 8), (Offsides, 7, 1), (Yellow cards, 3, 3), (Red cards, 1, 0), (Attacks, 93, 94), (Attacks (Dangerous), 65, 34), (Free Kicks, 9, 18)]",,,,"([1, X, 2, Ð¢Ðœ 2.5, Ð¢Ð‘ 2.5], [1.95, 3.56, 3.82, 1.99, 1.89])"

In [31]:
# Check max len stats_dict col for new names df's columns
maxlen_stats_dict = df_events.stats_dict.map(lambda x: len(x))
maxlen_stats_dict.max()

19

In [32]:
maxlen_stats_dict[maxlen_stats_dict == 19].head(2)

2592    19
8728    19
Name: stats_dict, dtype: int64

In [33]:
# '2592' index with maxlen 'stats_dict' column
col_names = [x[0] for x in df_events.stats_dict[2592]]

In [34]:
str(col_names)

"['xG', 'Shots', 'Shots on target', 'Shots Blocked', 'Saves', 'Possession %', 'Corner', 'Fouls', 'Offsides', 'Yellow cards', 'Red cards', 'Attacks', 'Attacks (Dangerous)', 'Pass', 'Pass percentage %', 'Free Kicks', 'Throw Ins', 'Crosses', 'Tackles']"

In [35]:
for col in col_names:
    df_events[col] = df_events.stats_dict.map(lambda x: ''.join([str(y[1]) + '-' + str(y[2]) for y in x if y[0] == col]))

In [36]:
df_events.drop(columns=['stats_dict', 'xG','Shots on target', 'Shots Blocked', 'Offsides', 'Pass', 'Pass percentage %', 'Free Kicks', 
                        'Crosses', 'Tackles','Throw Ins'], inplace=True)

In [37]:
col_names = ['tm_1', 'tm_x', 'tm_2', 'ls_25', 'mr_25']

for ind, col in enumerate(col_names):
    df_events[col] = df_events.bets.map(lambda x: x[1][ind] if x[1] != [] else None)

In [38]:
df_events.tm_1 = pd.to_numeric(df_events.tm_1, errors='coerce')
df_events.tm_2 = pd.to_numeric(df_events.tm_2, errors='coerce')

In [39]:
df_events.drop(columns=['bets'], inplace=True)

In [40]:
df_events.columns = df_events.columns.str.lower()

In [41]:
df_events.rename(columns={'possession %':'poss', 'yellow cards':'yl_crd', 'red cards':'rd_crd', 'attacks (dangerous)':'att_dang'}, inplace=True)

In [42]:
print('shape - ', df_events.shape[0])
df_events.head(3)

shape -  33890

,game_id,teams_ids,event_mins,event_desc,city_country,viewers,weath_temp,shots,saves,poss,corner,fouls,yl_crd,rd_crd,attacks,att_dang,tm_1,tm_x,tm_2,ls_25,mr_25
0,1729343,None,"[5, 31, 39, 42, 64, 85, +]","[gl, pl, gl, yd, yd, yd, yd]",,,,15-23,5-2,40-60,5-7,18-11,3-1,0-0,84-114,26-69,2.08,3.16,3.90,1.63,2.39
1,1729390,None,"[9, 41, 58, 69, 71, 72, 81, 89]","[yd, gl, yd, yd, gl, yd, yd, yd]",,,,13-14,4-3,54-46,8-2,11-8,3-3,1-0,93-94,65-34,1.95,3.56,3.82,1.99,1.89
2,1729506,None,"[8, 37, 40, 45, +, +, +, 58, 83, +, +]","[gl, yd, yd, pl, yd, yd, gl, yd, rd, yd, yd]",,,,21-11,1-4,65-35,2-1,16-8,4-3,0-1,107-91,46-26,1.63,3.78,5.10,1.78,2.13

In [43]:
# main_ligues = pd.read_csv('csv_files/main_ligues.csv')
# main_ligues = main_ligues.top_ligues.squeeze()
# df_main = df[df.ligue_header.isin(main_ligues)].reset_index(drop=True)
# df_main.shape
# (353909, 8)

#### Concatinate dataframes with best and tables position coefficients

In [44]:
df_games_tb.shape[0]

91921

In [45]:
df_gms_events = df_games_tb.merge(df_events, left_on='game_id', right_on='game_id')

In [46]:
df_gms_events.shape[0]

33890

In [47]:
df_games_tb_not_events = df_games_tb[~df_games_tb.game_id.isin(df_gms_events.game_id)]

In [48]:
df_games_tb_not_events.shape[0]

58031

In [49]:
df_games_events = pd.concat([df_games_tb_not_events, df_gms_events], axis=0).reset_index(drop=True)

In [50]:
df_games_events.replace(to_replace=[np.nan], value=None, inplace=True)
df_games_events = df_games_events.fillna('',).replace([''], [None]).copy()

In [51]:
df_games_events.tm_2.value_counts(dropna=False).head(3)

NaN     63027
3.24      176
3.34      168
Name: tm_2, dtype: int64

In [52]:
df_games_events.fs_pos_max.value_counts(dropna=False).head(3)

None        16922
1 - 2, 4      146
1 - 3, 4      144
Name: fs_pos_max, dtype: int64

In [53]:
df_power_coefs = df_games_events[(~df_games_events.tm_1.isna()) | (df_games_events.max_pos >= 8)].copy()

In [54]:
df_power_coefs.tm_1.value_counts(dropna=False)

NaN      46491
2.00       228
1.80       207
1.68       206
1.40       199
         ...
5.22         1
3.23         1
6.49         1
87.00        1
4.59         1
Name: tm_1, Length: 586, dtype: int64

In [55]:
df_power_coefs.max_pos.value_counts(dropna=False)

20.0    16303
16.0     9883
18.0     8383
12.0     7766
10.0     5208
21.0     4811
14.0     4245
17.0     3043
22.0     2990
24.0     1979
8.0      1728
19.0     1501
23.0     1442
9.0      1256
13.0     1216
11.0     1073
15.0     1004
NaN       482
26.0      325
32.0      264
37.0      167
4.0       134
7.0       128
6.0        54
Name: max_pos, dtype: int64

In [56]:
df_power_coefs.reset_index(drop=True, inplace=True)

In [57]:
df_power_coefs.drop(columns=['max_pos'], inplace=True)

In [58]:
print('shape - ', df_power_coefs.shape[0])
df_power_coefs.tail()

shape -  75385

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,teams_ids,event_mins,event_desc,city_country,viewers,weath_temp,shots,saves,poss,corner,fouls,yl_crd,rd_crd,attacks,att_dang,tm_1,tm_x,tm_2,ls_25,mr_25
75380,15093756,Primera C Metropolitana,459,307,28.03.2021 19:30,Lujan - Excursionistas,1:3,sec,Lujan,12.0,44.0,8.0,54.0,"12 - 8, 19","44 - 54, 64",None,"[3, 34, 42, 83]","[gl, gl, gl, gl]",None,None,None,9-7,None,0-0,6-5,None,2-2,0-0,98-108,93-72,1.84,3.28,4.26,1.55,2.26
75381,15093755,Primera C Metropolitana,459,307,28.03.2021 19:30,Ferrocarril Midland - Berazategui,2:1,sec,Ferrocarril Midland,16.0,36.0,5.0,55.0,"16 - 5, 19","36 - 55, 64",None,"[33, +, 88]","[gl, gl, rd]",None,None,None,9-9,None,0-0,6-8,13-14,3-3,0-1,119-152,72-78,2.66,2.67,2.96,1.51,2.56
75382,15093754,Primera C Metropolitana,459,307,28.03.2021 19:30,Atletico Atlas - Leandro Niceforo Alem,2:0,sec,Atletico Atlas,11.0,47.0,18.0,30.0,"11 - 18, 19","47 - 30, 64",None,[],[],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
75383,15091817,Primera B Metropolitana,457,307,28.03.2021 19:30,Argentino Quilmes - Defensores Unidos,0:1,sec,Argentino Quilmes,3.0,0.0,7.0,46.0,"3 - 7, 16","0 - 46, 61",None,[],[],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
75384,15091822,Primera B Metropolitana,457,307,28.03.2021 19:30,Canuelas - UAI Urquiza,4:1,sec,Canuelas,1.0,4.0,1.0,3.0,"1 - 1, 16","4 - 3, 61",None,[],[],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

#### Power coefficient and statistic

In [59]:
pow_coef = 1.9
df_power_coefs['f_pow_bet'] = df_power_coefs[['tm_1', 'tm_2']].apply(lambda x: ParsingDataPrepare.roles_determinate([x[0], x[1]], pow_coef, 'min'), axis=1)

In [60]:
df_power_coefs.f_pow_bet.value_counts(dropna=False)

None    46491
Neu     13906
Fav     10996
Pre      3992
Name: f_pow_bet, dtype: int64

In [61]:
# pow_coef = 1.95
# df_power_coefs['f_pow_pos'] = df_power_coefs[['pos_f', 'pos_s']].apply(lambda x: ParsingDataPrepare.roles_determinate([x[0], x[1]], pow_coef, 'min'), axis=1)

In [62]:
# df_power_coefs.f_pow_pos.value_counts(dropna=False)

In [63]:
pow_coef = 2
df_power_coefs['f_pow_pts'] = df_power_coefs[['pts_f', 'pts_s']].apply(lambda x: ParsingDataPrepare.roles_determinate([x[0], x[1]], pow_coef, 'max'), axis=1)

In [64]:
df_power_coefs.f_pow_pts.value_counts(dropna=False)

Neu     59899
Pre      6209
Fav      6192
None     3085
Name: f_pow_pts, dtype: int64

In [65]:
df_power_coefs['f_pow'] = df_power_coefs.f_pow_pts

In [66]:
df_power_coefs.f_pow = df_power_coefs[['f_pow', 'f_pow_bet']].apply(lambda x: x[1] if x[0] == None and x[1] == 'Fav' else x[0], axis=1)

In [67]:
df_power_coefs.f_pow = df_power_coefs[['f_pow', 'f_pow_bet']].apply(lambda x: x[1] if x[0] == None and x[1] == 'Pre' else x[0], axis=1)

In [68]:
df_power_coefs.f_pow.value_counts(dropna=False)

Neu     59899
Fav      6834
Pre      6387
None     2265
Name: f_pow, dtype: int64

In [69]:
df_fav_pre = df_power_coefs[df_power_coefs.f_pow.isin(['Fav', 'Pre'])].copy()

In [70]:
df_fav_pre['desc'] = 'fav_pre'

In [71]:
df_fav_pre.reset_index(drop=True, inplace=True)

In [72]:
print('shape - ', df_fav_pre.shape[0])
df_fav_pre.tail(3)

shape -  13221

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,teams_ids,event_mins,event_desc,city_country,viewers,weath_temp,shots,saves,poss,corner,fouls,yl_crd,rd_crd,attacks,att_dang,tm_1,tm_x,tm_2,ls_25,mr_25,f_pow_bet,f_pow_pts,f_pow,desc
13218,15079926,Campeonato Catarinense,504,307,28.03.2021 19:00,Figueirense - Chapecoense,1:3,sec,Figueirense,8.0,11.0,1.0,26.0,"8 - 1, 12","11 - 26, 26",None,"[10, 11, 34, 44, 64, 65, 86, 86]","[yd, yd, yd, yd, yd, yd, gl, yd]","Chapeco, Brazil",None,"(+12, light drizzle)",4-1,None,0-0,7-0,None,1-3,0-0,29-21,13-7,2.08,3.11,3.56,1.55,2.44,Neu,Pre,Pre,fav_pre
13219,15091267,Campeonato Paranaense,516,307,28.03.2021 13:00,Coritiba - Cascavel CR,2:1,sec,Coritiba,9.0,14.0,12.0,4.0,"9 - 12, 12","14 - 4, 23",None,"[11, 17, 26, 40, 62, 68, 74, 80, 83, 85, 87, +, +]","[yd, yd, gl, yd, gl, yd, yd, yd, yd, gl, yd, yd, rd]",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,Fav,Fav,fav_pre
13220,15091817,Primera B Metropolitana,457,307,28.03.2021 19:30,Argentino Quilmes - Defensores Unidos,0:1,sec,Argentino Quilmes,3.0,0.0,7.0,46.0,"3 - 7, 16","0 - 46, 61",None,[],[],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,Pre,Pre,fav_pre

In [73]:
df_statistic = df_power_coefs[~df_power_coefs.event_mins.isna()].copy()

In [74]:
df_statistic = df_statistic[df_statistic.event_mins.map(lambda x: len(x) > 0)].copy()

In [75]:
df_statistic['desc'] = 'stat'

In [76]:
df_statistic.reset_index(drop=True, inplace=True)

In [77]:
print('shape - ', df_statistic.shape[0])
df_statistic.head(2)

shape -  28966

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,teams_ids,event_mins,event_desc,city_country,viewers,weath_temp,shots,saves,poss,corner,fouls,yl_crd,rd_crd,attacks,att_dang,tm_1,tm_x,tm_2,ls_25,mr_25,f_pow_bet,f_pow_pts,f_pow,desc
0,1729359,Ligue 1,18,310,26.05.2022 17:00,Auxerre - Saint-Etienne,1:1,top,Auxerre,None,None,18.0,32.0,None,None,None,"[51, 76, 89, +, +, +, +, +, +, +, +, +, +]","[gl, gl, yd, pm, pg, pg, pg, pg, pg, pg, pg, pg, pg]","Saint-Etienne, France",None,"(+18, sunny)",19-13,1-8,50-50,12-2,10-11,0-1,0-0,200-122,69-45,2.02,3.44,3.54,1.73,2.11,Neu,None,None,stat
1,1729388,Eredivisie,596,Cup,26.05.2022 18:00,Vitesse - AZ Alkmaar,2:1,top,Vitesse,None,None,None,None,None,None,None,"[3, 8, 13, 29, 41, 52, 69, 69, 75, 78, 89]","[gl, yd, gl, yd, gl, gl, yd, yd, gl, gl, gl]","Alkmaar, Netherlands","15,222","(+14, light rain)",21-14,4-8,53-47,7-6,8-12,1-3,0-0,None,None,1.71,4.00,4.7,2.08,1.83,Fav,None,Fav,stat

In [78]:
df_for_cities = pd.concat([df_fav_pre, df_statistic]).reset_index(drop=True)

In [79]:
df_for_cities.shape

(42187, 39)

In [80]:
# stop

#### Add cities and countries

In [82]:
with open('pickle_files/df_countries_champ_ids', 'rb') as f:
    df_countries = pickle.load(f)

In [83]:
df_countries.drop_duplicates(subset=['comp_id', 'country'], inplace=True)
df_countries.reset_index(drop=True, inplace=True)

In [84]:
df_countries.head(2)

  comp_id  country
0      12  England
1      13   Russia

In [85]:
df_countries.shape

(337, 2)

In [86]:
str(set(df_for_cities[~df_for_cities.comp_id.isin(df_countries.comp_id)].comp_id))

'set()'

In [87]:
df_for_cities = df_for_cities.merge(df_countries, how='left', left_on='comp_id', right_on='comp_id')

In [88]:
df_for_cities.shape

(42187, 40)

In [89]:
df_for_cities.country.value_counts(dropna=False).head()

England    2719
Italy      2549
Spain      2240
Germany    1897
Brazil     1876
Name: country, dtype: int64

In [90]:
df_for_cities['city'] = df_for_cities.city_country.map(lambda x: str(x).split(', ')[0] if len(str(x).split(', ')) == 2 else None)

In [91]:
df_for_cities.city.value_counts(dropna=False)

None           24380
London           283
Istanbul         150
Sao Paulo        141
Prague           133
               ...
Como               1
Vinnytsia          1
Rijeka             1
Fredrikstad        1
Mouscron           1
Name: city, Length: 699, dtype: int64

In [92]:
df_for_cities.drop(columns=['city_country'], inplace=True)

#### Add new data

In [93]:
with open('pickle_files/teams_data/df_tmd_main_created_21_06_22', 'rb') as f:
    df_teams_data = pickle.load(f)

In [94]:
df_teams_data.rename(columns={'team':'f_team', 'teams_ids':'teams_ids_tm', 'city':'city_tm'}, inplace=True)

In [95]:
print('shape - ', df_teams_data.shape[0])
df_teams_data.head(3)

shape -  4117

              f_team teams_ids_tm   country      city_tm
0  1. FC SaarbrÃ¼cken         8086   Germany  SaarbrÃ¼cken
1      12 de Octubre        15355  Paraguay      ItauguÃ¡
2       3 de Febrero         8778  Paraguay  Alto ParanÃ¡

In [96]:
df_for_cities = df_for_cities.merge(df_teams_data, how='left', left_on=['f_team', 'country'], right_on=['f_team', 'country'])

In [97]:
df_for_cities.shape

(42187, 42)

In [98]:
df_for_cities.city.value_counts(dropna=False)[:3]

None        24380
London        283
Istanbul      150
Name: city, dtype: int64

In [99]:
df_for_cities.city = df_for_cities[['city', 'city_tm']].apply(lambda x: x[0] if pd.notna(x[0]) else x[1], axis=1)

In [100]:
df_for_cities.city.value_counts(dropna=False).head(3)

NaN             3118
Buenos Aires     357
London           298
Name: city, dtype: int64

In [101]:
df_for_cities.teams_ids.value_counts(dropna=False).head(3)

None    42187
Name: teams_ids, dtype: int64

In [102]:
df_for_cities.teams_ids = df_for_cities[['teams_ids', 'teams_ids_tm']].apply(lambda x: x[0] if pd.notna(x[0]) else x[1], axis=1)

In [103]:
df_for_cities.teams_ids.value_counts(dropna=False).head(3)

None     13071
NaN       9936
15713       41
Name: teams_ids, dtype: int64

In [104]:
df_for_cities.drop(columns=['city_tm', 'teams_ids_tm'], inplace=True)

In [105]:
print('shape - ', df_for_cities.shape[0])

shape -  42187

In [106]:
df_for_cities = df_for_cities[(~df_for_cities.country.isna()) & (~df_for_cities.city.isna())].copy()

In [107]:
df_for_cities.reset_index(drop=True, inplace=True)
print('shape - ', df_for_cities.shape)
df_for_cities.tail(3)

shape -  (39069, 40)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,teams_ids,event_mins,event_desc,viewers,weath_temp,shots,saves,poss,corner,fouls,yl_crd,rd_crd,attacks,att_dang,tm_1,tm_x,tm_2,ls_25,mr_25,f_pow_bet,f_pow_pts,f_pow,desc,country,city
39066,15093752,Primera C Metropolitana,459,307,28.03.2021 19:30,Lamadrid - Ituzaingo,1:3,sec,Lamadrid,14.0,42.0,1.0,64.0,"14 - 1, 19","42 - 64, 64",14357,"[60, 67]","[gl, gl]",None,None,None,None,None,None,None,None,None,None,None,2.19,2.98,3.44,1.44,2.55,Neu,Neu,Neu,stat,Argentina,Villa Devoto
39067,15093756,Primera C Metropolitana,459,307,28.03.2021 19:30,Lujan - Excursionistas,1:3,sec,Lujan,12.0,44.0,8.0,54.0,"12 - 8, 19","44 - 54, 64",12783,"[3, 34, 42, 83]","[gl, gl, gl, gl]",None,None,9-7,None,0-0,6-5,None,2-2,0-0,98-108,93-72,1.84,3.28,4.26,1.55,2.26,Fav,Neu,Neu,stat,Argentina,LujÃ¡n
39068,15093755,Primera C Metropolitana,459,307,28.03.2021 19:30,Ferrocarril Midland - Berazategui,2:1,sec,Ferrocarril Midland,16.0,36.0,5.0,55.0,"16 - 5, 19","36 - 55, 64",NaN,"[33, +, 88]","[gl, gl, rd]",None,None,9-9,None,0-0,6-8,13-14,3-3,0-1,119-152,72-78,2.66,2.67,2.96,1.51,2.56,Neu,Neu,Neu,stat,Argentina,Buenos Aires

#### For find teams with na cities

In [108]:
# df_na_cities = pd.DataFrame(df_for_cities[['f_team', 'country']][df_for_cities.city.isna()])

In [109]:
# df_na_cities = df_na_cities.drop_duplicates(subset=['f_team', 'country'], keep='first')
# df_na_cities.reset_index(drop=True, inplace=True)

In [110]:
# df_teams_counts_na = df_for_cities[df_for_cities.city.isna()].f_team.value_counts()

In [111]:
# numb = 3

In [112]:
# len(df_teams_counts_na[df_teams_counts_na >= numb])

In [113]:
# df_teams_counts_na[df_teams_counts_na >= numb].values.sum()

In [114]:
# df_teams_counts_na

In [115]:
# df_teams_counts_na_numb = df_teams_counts_na[df_teams_counts_na >= numb].index

In [116]:
# df_teams_counts_na_numb

In [117]:
# df_teams_cities_na_26_05_2022_second = df_na_cities[df_na_cities.f_team.isin(df_teams_counts_na_numb)]
# df_teams_cities_na_26_05_2022_second.reset_index(drop=True, inplace=True)

In [118]:
# df_teams_cities_na_26_05_2022_second

In [119]:
# file = open('pickle_files/df_teams_cities_na_26_05_2022_second', 'wb')
# pickle.dump(df_teams_cities_na_26_05_2022_second, file)  
# file.close()

#### Save file for geo coordinates

In [126]:
# file = open('pickle_files/df_for_geo_coords_26_05_2022', 'wb')
# pickle.dump(df_for_cities, file)  
# file.close()

#### For find rows without coordinates

In [ ]:
# df_wt_coords = df_for_cities[df_for_cities.lon.isna()][['country', 'city']]

In [ ]:
# df_wt_coords.shape[0]

In [ ]:
# df_wt_coords.drop_duplicates(subset=['country',	'city'], inplace=True)
# df_wt_coords = df_wt_coords[df_wt_coords.city != 'nd'].copy()
# df_wt_coords.reset_index(drop=True, inplace=True)
# df_wt_coords.head()

In [ ]:
# df_wt_coords.shape

In [ ]:
# file = open('pickle_files/df_wt_coords_26_05_2022', 'wb')
# pickle.dump(df_wt_coords, file)  
# file.close()

In [ ]:
# df_wt_coords.country.value_counts(dropna=False).head()

In [ ]:
# for_cities_countries   = list(set(df_for_cities.country.values))
# world_cities_countries = list(set(df_world_cities.country.values))

In [ ]:
# world_not_in = list(set(df_world_cities[~df_world_cities.country.isin(for_cities_countries)].country.values))
# ', '.join(world_not_in)

In [ ]:
# for_not_in = list(set(df_for_cities[~df_for_cities.country.isin(world_cities_countries)].country.values))
# for_not_in

In [ ]:
# find_c = df_world_cities.country.apply(lambda x: x if re.findall(r'Congo', str(x)) else None)
# find_c.value_counts()