In [1]:
import os
import re
import pickle
import datetime
import pandas as pd
import numpy as np

from _html_parser import ParsingDataPrepare, TableConstant

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
with open('pickle_files/all_matches', 'rb') as f:
    all_matches = pickle.load(f)

In [4]:
df_to_transform = pd.DataFrame(all_matches)

In [5]:
df_games = ParsingDataPrepare.transform_columns_to_rows(df_to_transform, ['ligue_header', 'comp_id', 'season_id', 
                                                                          'game_utc', 'game_title','goals', 'game_status'])

In [6]:
df_games.reset_index(inplace=True)
df_games.rename(columns={'index':'game_id'}, inplace=True)

In [7]:
df_games['f_com'] = df_games.game_title.map(lambda x: str(x).split(' - ')[0])
df_games['s_com'] = df_games.game_title.map(lambda x: str(x).split(' - ')[1])

In [8]:
df_games.head(3)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,game_status,f_com,s_com
0,1458512,Segunda División,707,306,26.03.2021 20:00,Sporting Gijón - Alcorcón,0:0,Finished,Sporting Gijón,Alcorcón
1,1458506,Segunda División,707,306,26.03.2021 22:00,Castellon - Espanyol,1:3,Finished,Castellon,Espanyol
2,1459331,First League,435,306,26.03.2021 14:00,Mykolaiv - Alians Lypova Dolyna,2:0,Finished,Mykolaiv,Alians Lypova Dolyna

#### Add competitions data

In [9]:
with open('pickle_files/df_comp_tables', 'rb') as f:
    df_comp_tables = pickle.load(f)

In [10]:
df_comp_tables.rename(columns={'team_name':'f_com'}, inplace=True)

In [11]:
df_comp_tables['s_com'] = df_comp_tables.f_com

In [12]:
df_comp_tables.head()

,f_com,pos,pld,w,d,l,gf,ga,+/-,pts,comp_id,season_id,s_com
0,Manchester City,1,32,23,5,4,67,23,+44,74,12,306,Manchester City
1,Man Utd,2,31,18,9,4,61,34,+27,63,12,306,Man Utd
2,Leicester City,3,31,17,5,9,55,37,+18,56,12,306,Leicester City
3,West Ham,4,31,16,7,8,51,39,+12,55,12,306,West Ham
4,Chelsea,5,31,15,9,7,50,31,+19,54,12,306,Chelsea

In [13]:
df_fcom = pd.merge(left=df_games, right=df_comp_tables[['f_com','comp_id','season_id','pos', 'pts']], on=['f_com','comp_id','season_id'], how='left')
df_fcom.rename(columns={'pos':'pos_f', 'pts':'pts_f'}, inplace=True)

In [14]:
df_scom = pd.merge(left=df_games, right=df_comp_tables[['s_com','comp_id','season_id','pos', 'pts']], on=['s_com','comp_id','season_id'], how='left')
df_scom.rename(columns={'pos':'pos_s', 'pts':'pts_s'}, inplace=True)

In [15]:
df_games_tb = pd.merge(df_fcom, df_scom[['pos_s','pts_s']], how='left', left_index=True, right_index=True)

In [16]:
df_games_tb.pos_f = pd.to_numeric(df_games_tb.pos_f, errors='coerce')
df_games_tb.pos_s = pd.to_numeric(df_games_tb.pos_s, errors='coerce')
df_games_tb.pts_f = pd.to_numeric(df_games_tb.pts_f, errors='coerce')
df_games_tb.pts_s = pd.to_numeric(df_games_tb.pts_s, errors='coerce')

In [17]:
df_games_tb['posf_poss'] = df_games_tb[['pos_f', 'pos_s']].apply(lambda x: str(x[0]).replace('.0', '') + ' - ' + str(x[1]).replace('.0', '') \
                                                                 if pd.notna(x[0]) and pd.notna(x[1]) else None, axis=1) 
df_games_tb['ptsf_ptss'] = df_games_tb[['pts_f', 'pts_s']].apply(lambda x: str(x[0]).replace('.0', '') + ' - ' + str(x[1]).replace('.0', '') \
                                                                 if pd.notna(x[0]) and pd.notna(x[1]) else None, axis=1)

In [18]:
df_games_tb.drop(columns=['game_status', 's_com', 'pos_f', 'pts_f', 'pos_s', 'pts_s'], inplace=True)

In [19]:
df_games_tb.head(3)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,f_com,posf_poss,ptsf_ptss
0,1458512,Segunda División,707,306,26.03.2021 20:00,Sporting Gijón - Alcorcón,0:0,Sporting Gijón,5 - 20,56 - 35
1,1458506,Segunda División,707,306,26.03.2021 22:00,Castellon - Espanyol,1:3,Castellon,18 - 1,36 - 70
2,1459331,First League,435,306,26.03.2021 14:00,Mykolaiv - Alians Lypova Dolyna,2:0,Mykolaiv,None,None

#### Add games events

In [20]:
all_events_games = list()
for file in os.listdir('pickle_files/old_pickles/'):
    if re.search('-Copy1', file):
        with open('pickle_files/old_pickles/' + file, 'rb') as f:
            events_games = pickle.load(f)
            all_events_games.append(events_games)

In [21]:
df_list   = []
col_names = ['event_mins', 'event_hts_ats', 'stats_dict', 'city_country', 'viewers', 'weath_temp', 'bet_coefs']

for game in all_events_games:
    df_to_transform = pd.DataFrame(game)
    df_create = ParsingDataPrepare.transform_columns_to_rows(df_to_transform, col_names)
    
    df_list.append(df_create)

df_events = pd.concat(df_list)

In [22]:
df_events.reset_index(inplace=True)
df_events.rename(columns={'index':'game_id'}, inplace=True)

In [83]:
df_events.event_hts_ats = df_events.event_hts_ats.map(lambda x: [y[0]+y[-1] for y in x])

In [84]:
df_events.shape

(200354, 8)

In [176]:
tmp = df_events.loc[:10,].copy()

In [177]:
col_names = [x[0] for x in df_events.stats_dict[1]]

for col in col_names:
    tmp[col] = tmp.stats_dict[:10].map(lambda x: ''.join([str(y[1]) + '-' + str(y[2]) for y in x if y[0] == col]))
    # tmp.stats_dict[:10].map(lambda x: [print(y) if y[0] == col else None for y in x])

In [178]:
tmp.tail(1)

,game_id,event_mins,event_hts_ats,stats_dict,city_country,viewers,weath_temp,bet_coefs,Shots,Shots on target,Shots Blocked,Saves,Possession %,Corner,Fouls,Offsides,Yellow cards,Red cards,Attacks,Attacks (Dangerous),Pass,Tackles
10,1533666,"[52, 58, 59, 61, 63, 67, 84, , , ]","[yd, gl, gl, yd, yd, yd, gl, yd, gl, yd]","[(Shots, 11, 7), (Shots on target, 7, 4), (Possession %, 53, 47), (Corner, 1, 4), (Fouls, 13, 24), (Offsides, 0, 3), (Yellow cards, 1, 4), (Red cards, 0, 0)]","Tripoli, Greece",,"(+18, sunny)","([1, X, 2, ТМ 2.5, ТБ 2.5], [2.91, 3.04, 2.66, 1.49, 2.80])",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df_events.head(3)

,game_id,event_mins,event_hts_ats,stats_dict,city_country,viewers,weath_temp,bet_coefs
0,1432501,"[12, 35, 62, 76, 87]","[gl, gl, yd, yd, gl]","[(Shots, 4, 7), (Shots on target, 4, 7), (Saves, 4, 4), (Possession %, 0, 0), (Corner, 4, 4), (Fouls, 6, 15), (Offsides, 3, 5), (Yellow cards, 1, 1), (Red cards, 0, 0)]","Duesseldorf, Germany",0,"(+3, light sleet)","([1, X, 2, ТМ 2.5, ТБ 2.5], [2.55, 3.65, 2.70, 1.97, 1.91])"
1,1454685,"[3, 16, 66, 87]","[rd, yd, yd, yd]","[(Shots, 19, 6), (Shots on target, 7, 3), (Shots Blocked, 5, 1), (Saves, 3, 7), (Possession %, 66, 34), (Corner, 9, 2), (Fouls, 18, 14), (Offsides, 0, 5), (Yellow cards, 3, 0), (Red cards, 0, 1), (Attacks, 153, 59), (Attacks (Dangerous), 63, 20), (Pass, 579, 261), (Tackles, 11, 17)]","Vila de Conde, Portugal",0,"(+18, sunny)","([1, X, 2, ТМ 2.5, ТБ 2.5], [2.06, 3.19, 4.32, 1.57, 2.47])"
2,1454684,"[14, 17, 23, 32, 37, 42, 43, 50, 63, 78]","[yd, yd, yd, gl, gl, mn, yd, gl, yd, gl]","[(Shots, 2, 7), (Shots on target, 2, 7), (Saves, 3, 2), (Possession %, 0, 0), (Corner, 5, 1), (Fouls, 13, 15), (Offsides, 1, 1), (Yellow cards, 3, 2), (Red cards, 0, 0)]","Funchal, Portugal",0,"(+21, partly cloudy)","([1, X, 2, ТМ 2.5, ТБ 2.5], [2.66, 3.20, 2.77, 1.63, 2.41])"

In [25]:
# main_ligues = pd.read_csv('csv_files/main_ligues.csv')
# main_ligues = main_ligues.top_ligues.squeeze()
# df_main = df[df.ligue_header.isin(main_ligues)].reset_index(drop=True)
# df_main.shape
# (353909, 8)

In [26]:
top_ligues = TableConstant.top_ligues
second_ligues = TableConstant.second_ligues

In [27]:
df_games_tb['ligue_sts'] = np.where(df_games_tb.comp_id.isin(top_ligues), 'top', np.where(df_games_tb.comp_id.isin(second_ligues),'second', 'third'))

#### Data clearing

In [28]:
df_games_tb.ligue_sts.value_counts()

third     350160
second    118719
top        74706
Name: ligue_sts, dtype: int64

In [29]:
df_games_tb = df_games_tb.merge(df_events, left_on='game_id', right_on='game_id')

In [30]:
sr_coef     = df_games_tb.bet_coefs != ([],[])
sr_pos_pts  = pd.notna(df_games_tb.posf_poss)
df_pos_coef = pd.concat([sr_coef, sr_pos_pts], axis=1)

In [31]:
mask     = df_pos_coef.bet_coefs == False  
mask_2   = df_pos_coef.posf_poss == False
df_check = df_pos_coef[mask & mask_2]
df_check.shape

(47687, 2)

In [32]:
df_games_tb.drop(df_check.index, inplace=True)

In [33]:
df_games_tb.shape

(152667, 18)

In [75]:
df_games_tb.head(1)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,f_com,posf_poss,ptsf_ptss,ligue_sts,event_mins,event_hts_ats,stats_dict,city_country,viewers,weath_temp,bet_coefs,city,country
0,1458512,Segunda División,707,306,26.03.2021 20:00,Sporting Gijón - Alcorcón,0:0,Sporting Gijon,5 - 20,56 - 35,top,"[61, 88]","[yellowcard, yellowcard]","[(Shots, 11, 9), (Shots on target, 3, 4), (Shots Blocked, 2, 3), (Saves, 4, 3), (Possession %, 44, 56), (Corner, 2, 5), (Fouls, 13, 8), (Offsides, 1, 1), (Yellow cards, 0, 2), (Red cards, 0, 0), (Attacks, 102, 121), (Attacks (Dangerous), 57, 71)]","Gijon, Spain",,"(+13, partly cloudy)","([1, X, 2, ТМ 2.5, ТБ 2.5], [1.95, 2.77, 4.72, 1.33, 3.08])",Gijon,Spain

#### Add cities and countries

In [35]:
df_games_tb['city']    = df_games_tb.city_country.map(lambda x: str(x).split(', ')[0] if len(str(x).split(', ')) == 2 else None)
df_games_tb['country'] = df_games_tb.city_country.map(lambda x: str(x).split(', ')[1] if len(str(x).split(', ')) == 2 else None)

In [36]:
df_games_tb.city.value_counts(dropna=False)[:3]

None         66513
London        1486
Sao Paulo     1381
Name: city, dtype: int64

In [37]:
with open('pickle_files/df_teams_data', 'rb') as f:
    df_teams_data = pickle.load(f)

In [73]:
df_teams_data.head(3)

      f_com   country_tm  city_tm
0       AaB      Denmark  Aalborg
1  Aalesund       Norway  Alesund
2     Aarau  Switzerland    Aarau

In [39]:
df_teams_data.rename(columns={'club':'f_com', 'country':'country_tm', 'city':'city_tm'}, inplace=True)

In [40]:
df_games_tb.f_com = df_games_tb.f_com.map(lambda x: ParsingDataPrepare.str_utf_decode(x))

In [41]:
df_games_tb = pd.merge(df_games_tb, df_teams_data, how='left', left_on='f_com', right_on='f_com')

In [42]:
df_games_tb.city.value_counts(dropna=False)[:3]

None         66915
Sao Paulo     1682
London        1633
Name: city, dtype: int64

In [43]:
sr_city    = df_games_tb[['city', 'city_tm']].apply(lambda x: x[0] if pd.notna(x[0]) else x[1], axis=1)
sr_country = df_games_tb[['country', 'country_tm']].apply(lambda x: x[0] if pd.notna(x[0]) else x[1], axis=1)

In [44]:
df_games_tb.city    = sr_city
df_games_tb.country = sr_country

In [45]:
df_games_tb.city.value_counts(dropna=False)[:3]

NaN             35101
Buenos Aires     2253
Sao Paulo        1828
Name: city, dtype: int64

In [46]:
df_games_tb.drop(columns=['country_tm', 'city_tm'], inplace=True)

In [166]:
df_na_cities = pd.DataFrame(df_games_tb[['game_id', 'f_com']][df_games_tb.city.isna()])

In [170]:
df_na_cities = df_na_cities.drop_duplicates('f_com', keep='first')

In [173]:
# list_indexes = open('pickle_files/df_game_ids_na_cities', 'wb')
# pickle.dump(df_na_cities, list_indexes)  
# list_indexes.close()

In [174]:
com_na_cities = df_games_tb.f_com[df_games_tb.city.isna()]
com_na_cities.reset_index(drop=True, inplace=True)

In [175]:
com_na_cities.value_counts()[:10]

Oeste                   156
Gillingham              145
Doncaster Rovers        141
Montevideo Wanderers    140
Istra 1961              132
Oss                     128
Telstar                 127
Hallescher              123
Chiasso                 123
Nacional Montevideo     120
Name: f_com, dtype: int64

#### Add geo coordinate and cities popylation

In [71]:
find_c = df_games_tb[['f_com', 'city']].apply(lambda x: x[1] if re.findall('Merseburg', str(x[0])) else None, axis=1)
find_c.value_counts()

Series([], dtype: int64)

In [74]:
find_c = df_teams_data[['f_com', 'city_tm']].apply(lambda x: x[1] if re.findall('Merseburg', str(x[0])) else None, axis=1)
find_c.value_counts()

Series([], dtype: int64)

In [52]:
with open('pickle_files/df_world_cities', 'rb') as f:
    df_world_cities = pickle.load(f)

In [53]:
df_world_cities.head(3)

   country        city population   latitude  longitude    lat   lon
0  Andorra       Aixàs        NaN  42.483333   1.466667  42n28  1e28
1  Andorra  Aixirivali        NaN  42.466667   1.500000  42n28  1e30
2  Andorra  Aixirivall        NaN  42.466667   1.500000  42n28  1e30

In [56]:
sr_city     = pd.notna(df_games_tb.city)
sr_country  = pd.notna(df_games_tb.country)
# df_check = df_pos_coef[sr_city & sr_country]
# df_check.shape

In [57]:
sr_city.value_counts()

True     119761
False     35101
Name: city, dtype: int64

In [58]:
sr_country.value_counts()

True     119761
False     35101
Name: country, dtype: int64

In [59]:
tmp = df_games_tb.city_country.map(lambda x: str(x).split(', ')[0])

In [60]:
tmp.value_counts()

                  54058
Sao Paulo          1682
London             1633
Argentina          1184
Rio de Janeiro     1006
                  ...
Rechytsa              1
Santa Clara           1
New Zealand           1
Australia             1
Auckland              1
Name: city_country, Length: 945, dtype: int64

In [61]:
tmp = df_teams_data.f_com.map(lambda x: re.findall('Haig', str(x)))