In [1]:
import pickle
import datetime
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [10]:
# with open('pickle_files/df_all_matches', 'wb') as f:
#     pickle.dump(df, f)

In [2]:
with open('pickle_files/df_all_matches', 'rb') as f:
    df_all_matches = pickle.load(f)

In [3]:
df_all_matches.head(3)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,game_status
0,1458512,Segunda División,707,306,26.03.2021 20:00,Sporting Gijón - Alcorcón,0:0,Finished
1,1458506,Segunda División,707,306,26.03.2021 22:00,Castellon - Espanyol,1:3,Finished
2,1459331,First League,435,306,26.03.2021 14:00,Mykolaiv - Alians Lypova Dolyna,2:0,Finished

In [5]:
with open('pickle_files/df_comp_tables', 'rb') as f:
    df_comp_tables = pickle.load(f)

In [6]:
df_comp_tables.head(3)

         team_name pos pld   w  d  l  gf  ga  +/- pts comp_id season_id
0  Manchester City   1  32  23  5  4  67  23  +44  74      12       306
1          Man Utd   2  31  18  9  4  61  34  +27  63      12       306
2   Leicester City   3  31  17  5  9  55  37  +18  56      12       306

In [11]:
mask = df_all_matches.comp_id.isin(df_comp_tables.comp_id) & df_all_matches.season_id.isin(df_comp_tables.season_id)
df = df_all_matches[mask].copy()
df.reset_index(drop=True, inplace=True)

#### Main matches

In [12]:
df

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,game_status
0,1458512,Segunda División,707,306,26.03.2021 20:00,Sporting Gijón - Alcorcón,0:0,Finished
1,1458506,Segunda División,707,306,26.03.2021 22:00,Castellon - Espanyol,1:3,Finished
2,1529443,Primera B Nacional,456,306,23.03.2021 02:10,Tigre - Deportivo Riestra,3:0,Finished
3,1458505,Segunda División,707,306,22.03.2021 20:00,Albacete - Cartagena,2:0,Finished
4,1458497,Segunda División,707,306,22.03.2021 22:00,Zaragoza - Mirandés,1:0,Finished
...,...,...,...,...,...,...,...,...
72531,10917411,Superliga,560,38,04.11.2013 19:00,Vestsjælland - Brondby,0:2,Finished
72532,10918533,Fortuna liga,554,38,04.11.2013 18:00,Bohemians 1905 - Mlada Boleslav,1:1,Finished
72533,10903781,Primera B Nacional,456,38,04.11.2013 20:00,Independiente Rivadavia - Banfield,3:0,Finished
72534,10903780,Primera B Nacional,456,38,04.11.2013 22:10,Douglas Haig - Huracan,1:0,Finished
72535,10903788,Primera B Nacional,456,38,04.11.2013 23:59,Ferro Carril Oeste - San Martín San Juan,1:0,Finished