In [1]:
import pickle
import pandas as pd
from _html_parser import HtmlParser, ParsingDataPrepare, TableConstant

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [2]:
%load_ext autoreload
%autoreload 2

### Competitions tables parser

In [14]:
# df_26_05_2022_to_27_03_2021_games, df_26_03_2021_to_03_11_2013_games, df_02_11_2013_to_10_07_2005_games, df_09_07_2005_to_01_01_2000_games
# df_29_12_1999_to_15_08_1998_games
with open('pickle_files/new_events/16_09_2022/df_16_09_2022_to_26_05_2022_games', 'rb') as f:
    df_games = pickle.load(f)

In [15]:
df_games

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue
0,1736289,Premier League,12,381,16.09.2022 19:00,Aston Villa - Southampton,1:0,top
1,1736296,Premier League,12,381,16.09.2022 19:00,Nottingham - Fulham,2:3,top
2,1747456,Serie A,15,381,16.09.2022 18:45,Salernitana - Lecce,1:2,top
3,1744353,Primera Division,16,381,16.09.2022 19:00,Real Valladolid - Cadiz,0:1,top
4,1748218,Segunda División,707,381,16.09.2022 19:00,Levante - Cartagena,0:1,top
...,...,...,...,...,...,...,...,...
24287,1607985,Landesliga,475,310,28.05.2022 15:30,Volders - Münster,0:1,thr
24288,1607984,Landesliga,475,310,28.05.2022 15:30,Innsbrucker AC - Mils,3:2,thr
24289,1607740,Landesliga,475,310,28.05.2022 16:00,St. Jakob - SAK Klagenfurt,0:1,thr
24290,1607990,Landesliga,475,310,28.05.2022 16:30,Natters - Prutz / Serfaus,3:2,thr
24291,1617486,Landesliga,475,310,28.05.2022 17:00,Pinkafeld - Parndorf,0:1,thr

In [16]:
comp_seasons = ParsingDataPrepare.competition_season_ids(df_games)

In [17]:
list(comp_seasons.keys())[3], list(comp_seasons.values())[3]

('1037', [])

In [18]:
len(comp_seasons)

465

In [19]:
dict_seasons = dict((x, y) for x, y in comp_seasons.items() if y != [])

In [21]:
# dict_seasons

In [22]:
list(dict_seasons.keys())[2], list(dict_seasons.values())[2]

('1067', ['381', '310'])

In [25]:
# comp_tables = HtmlParser.parsing_competition_tables(dict_seasons)

In [24]:
len(comp_tables)

306

In [27]:
# comp_tables

In [28]:
df_comp_tables = ParsingDataPrepare.create_df_comp_tables(comp_tables)

In [29]:
df_comp_tables

,team_name,team_id,pos,pld,w,d,l,gf,ga,+/-,pts,comp_id,season_id
0,Liverpool U19,12863,1,2,2,0,0,6,1,+5,6,1019,381
1,Ajax U19,8738,2,2,1,0,1,2,5,-3,3,1019,381
2,Rangers U19,16026,3,2,1,0,1,4,4,0,3,1019,381
3,Napoli U19,10866,4,2,0,0,2,3,5,-2,0,1019,381
4,Atletico Madrid U19,10871,1,2,2,0,0,4,0,+4,6,1019,381
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8824,PFC Kuban U19,23879,6,11,5,1,5,13,14,-1,16,973,381
8825,Fakel U19,23878,7,11,4,1,6,10,15,-5,13,973,381
8826,Ahmat U19,18825,8,11,4,0,7,17,23,-6,12,973,381
8827,PFC Sochi U19,18830,9,11,2,2,7,17,22,-5,8,973,381
8828,Khimki U19,18839,10,11,2,0,9,13,27,-14,6,973,381

#### Fix and clear data incorrect (more > 40 in indexes)

In [30]:
df_comp_tables.pos.value_counts(dropna=False)

1     778
3     757
4     746
2     745
5     594
     ...
29      1
32      1
31      1
30      1
37      1
Name: pos, Length: 37, dtype: int64

In [29]:
# df_comp_tables[df_comp_tables.pos == '364']

In [32]:
# file = open('pickle_files/new_events/df_comp_tabs_16_09_2022_all_lgs', 'wb')
# pickle.dump(df_comp_tables, file)  
# file.close()

#### Parsing don't used countries names

In [78]:
# Check last file version:
with open('pickle_files/cities_countries/df_countries_champ_ids_created_16_09_22', 'rb') as f:
    df_champ_ids = pickle.load(f)

In [79]:
df_champ_ids

    comp_id     country
0        12     England
1        13      Russia
2        14     Ukraine
3        15       Italy
4        16       Spain
..      ...         ...
423    2109         USA
424    1115  Kazakhstan
425      19          nd
426     426     England
427    1950    Mongolia

[428 rows x 2 columns]

In [49]:
comp_ids = df_comp_tables[~df_comp_tables.comp_id.isin(df_champ_ids.comp_id)].comp_id.tolist()
comp_ids = list(set(comp_ids))
len(comp_ids)

38

In [50]:
comp_ids[:3]

['1581', '969', '823']

In [64]:
# HtmlParser.find_countries_names(comp_ids)

In [54]:
with open('pickle_files/countries_names_files/countries_names_1950', 'rb') as f:
    country_names_ids = pickle.load(f)

In [56]:
# country_names_ids

In [57]:
ids   = []
names = []

for country in country_names_ids:
    val = list(country.values())
    ids.append(val[0])
    names.append(val[1])

df_countries = pd.DataFrame({'comp_id': ids, 'country': names})

In [70]:
df_countries.loc[df_countries[df_countries.country == ''].index, 'country'] = 'nd'

In [71]:
df_countries

   comp_id     country
0     1581          nd
1      969          nd
2      823          nd
3     2110          nd
4     1659          nd
..     ...         ...
33    2109         USA
34    1115  Kazakhstan
35      19          nd
36     426     England
37    1950    Mongolia

[38 rows x 2 columns]

In [72]:
df_cntrs_nms = pd.concat([df_champ_ids, df_countries])

In [73]:
df_cntrs_nms.drop_duplicates(subset=['comp_id', 'country'], inplace=True)

In [74]:
df_cntrs_nms.reset_index(drop=True, inplace=True)

In [75]:
df_cntrs_nms

    comp_id     country
0        12     England
1        13      Russia
2        14     Ukraine
3        15       Italy
4        16       Spain
..      ...         ...
423    2109         USA
424    1115  Kazakhstan
425      19          nd
426     426     England
427    1950    Mongolia

[428 rows x 2 columns]

In [77]:
# file = open('pickle_files/cities_countries/df_countries_champ_ids_created_16_09_22', 'wb')
# pickle.dump(df_cntrs_nms, file)  
# file.close()