In [5]:
import pickle
import datetime
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [6]:
# number of col_names in list must be equal number of rows df
def transform_columns_to_rows(df: pd.DataFrame, col_names: list):
    pd_series = pd.DataFrame()
    for i, col in zip(range(df.shape[0]), col_names):
        pd_series[col] = df.stack()[i]
    return pd_series

In [7]:
with open('pickle_files/all_matches', 'rb') as f:
    all_matches = pickle.load(f)

In [8]:
df_to_transform = pd.DataFrame(all_matches)

In [9]:
df = transform_columns_to_rows(df_to_transform, ['ligue_header', 'comp_id', 'season_id', 'game_utc', 'game_title','goals', 'game_status'])

In [10]:
df.reset_index(inplace=True)
df.rename(columns={'index':'game_id'}, inplace=True)

In [11]:
df

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,game_status
0,1458512,Segunda División,707,306,26.03.2021 20:00,Sporting Gijón - Alcorcón,0:0,Finished
1,1458506,Segunda División,707,306,26.03.2021 22:00,Castellon - Espanyol,1:3,Finished
2,1459331,First League,435,306,26.03.2021 14:00,Mykolaiv - Alians Lypova Dolyna,2:0,Finished
3,1459330,First League,435,306,26.03.2021 14:00,Polessya - Krystal Kherson,1:1,Finished
4,1459334,First League,435,306,26.03.2021 15:00,Kremin - Hirnyk-Sport,1:1,Finished
...,...,...,...,...,...,...,...,...
543580,10934224,Torneo Federal A,455,38,04.11.2013 00:30,Juventud Unida Universitario - Union Mar del Plata,2:0,Finished
543581,10968262,Division di Honor,463,38,04.11.2013 01:00,Nacional da Madeira - Dakota,1:3,Finished
543582,10925170,Primera D Metropolitana,460,38,04.11.2013 19:30,Claypole - Argentino Rosario,0:1,Finished
543583,10960778,Argentino B,458,38,04.11.2013 01:00,Huracan San Rafael - Pacífico,3:0,Finished
543584,10961027,Argentino B,458,38,04.11.2013 20:00,Ferroviarios Corrientes - Atletico Parana,1:0,Finished

In [14]:
main_ligues = pd.read_csv('main_ligues.csv')
main_ligues = main_ligues.top_ligues.squeeze()

In [18]:
df_main = df[df.ligue_header.isin(main_ligues)].reset_index(drop=True)

In [19]:
df_main.shape

(353909, 8)

In [25]:
top_ligues_start = ['12', '13', '14', '15', '16', '17', '18', '419', '420', '454', '456', '474', '483', '485', '550', '554', '560', '565']
top_ligues_end =  ['577', '581', '587', '591','596', '601', '677', '681', '684', '695', '699', '707', '712', '716', '723', '727']

In [32]:
second_igues_start = [ '419', '424', '435', '436', '437', '444', '446', '449', '450', '457', '459', '464', '473', '477', '491']
second_igues_start_2  = ['493', '496', '498', '500', '502', '504', '507', '512', '516', '518', '523', '532', '539', '540', '542']
second_ligues_middle = [ '544', '545', '546', '548', '551', '555', '562', '567', '576', '585', '586', '589', '595', '599', '602']
second_ligues_middle_2 =  ['606', '621', '622', '625', '626', '628', '632', '634', '636', '637', '642', '646', '647', '648', '653']
second_ligues_end = ['654', '655', '657', '659', '660', '667', '672', '674', '675', '676', '679', '685', '687', '691', '692', '697']
second_ligues_end_2 = ['700', '703', '704', '714', '715', '720', '721', '725', '727', '733''735', '747', '761', '912', '1157', '1259']

In [33]:
# top_ligues_start and end
df_top_ligues = df[df.comp_id.isin(top_ligues)]

In [34]:
df_top_ligues.shape

(74706, 8)

In [35]:
# top_ligues_2_start, mddle, end
df_top_ligues_2 = df[df.comp_id.isin(second_ligues)

In [36]:
df_top_ligues_2.shape

(125237, 8)