In [1]:
import re
import pickle
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 200)  # or 1000
pd.set_option('display.max_rows', 1000)  # or 1000
pd.set_option('display.max_colwidth', 100)  # or 199

#### Files with games description

In [2]:
with open('pickle_files/aspected_files/df_with_aspects_26_05_2022_f_pow_2', 'rb') as f:
    df_desc_26_05_2022_f_pow_2 = pickle.load(f)

In [3]:
with open('pickle_files/aspected_files/df_with_aspects_26_05_2022_sum_coef_13', 'rb') as f:
    df_desc_26_05_2022_coef_13 = pickle.load(f)

In [4]:
with open('pickle_files/aspected_files/df_with_aspects_26_03_2021_f_pow_2', 'rb') as f:
    df_desc_26_03_2021_f_pow_2 = pickle.load(f)

In [5]:
# df_with_aspects = df_desc_26_05_2022_coef_13
df_with_aspects = pd.concat([df_desc_26_05_2022_f_pow_2, df_desc_26_03_2021_f_pow_2, df_desc_26_05_2022_coef_13], ignore_index=True)

In [6]:
print('shape - ', df_with_aspects.shape)
df_with_aspects.tail(2)

shape -  (89942, 27)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city,iso_code,longitude,latitude,lat,lon,moon_day,aspects
89940,15147393,Third Division,553,306,28.03.2021 12:30,Ormideia - O Kormakitis,2:0,thr,Ormideia,8.0,40.0,16.0,16.0,"8 - 16, 16","40 - 16, 68",Fav,sum_coef_13,Cyprus,NaN,Ormideia,CY,33.775628,34.99351,34n59,33e46,15,"[{'f_point': 'Moon', 's_point': 'Venus', 'type': 'Opp', 'approach': 'moon_conv_compl_weak', 'sin..."
89941,15109589,Thai League 1,718,298,28.03.2021 11:00,Prachuap - Bangkok United,0:1,thr,Prachuap,10.0,37.0,5.0,51.0,"10 - 5, 16","37 - 51, 77",Pre,sum_coef_13,Thailand,13605,Prachuap Khiri Khan,TH,99.784100,11.82098,11n49,99e47,15,"[{'f_point': 'Moon', 's_point': 'Antes Pars Fortuna', 'type': 'Con', 'approach': 'moon_conv_clea..."

#### Files with aspects

In [7]:
# Create table with best aspects for Pre and Fav, which view more changes about mean count relation between ('fav_win'+'fav_drow'/'fav_loss') and ('fav_win'/'fav_drow'+'fav_loss')
# Add all aspect's changes for each game and create tabel with best game's rating changes.

In [8]:
with open('pickle_files/aspected_files/df_aspects_table_26_05_2022_f_pow_2', 'rb') as f:
    df_asps_26_05_2022_f_pow_2 = pickle.load(f)

In [9]:
with open('pickle_files/aspected_files/df_aspects_table_26_05_2022_sum_coef_13', 'rb') as f:
    df_asps_26_05_2022_sum_coef_13 = pickle.load(f)

In [10]:
with open('pickle_files/aspected_files/df_aspects_table_26_03_2021_f_pow_2', 'rb') as f:
    df_asps_26_03_2021_f_pow_2 = pickle.load(f)

In [11]:
# df_asps_table = df_asps_26_05_2022_sum_coef_13
df_asps_table = pd.concat([df_asps_26_05_2022_f_pow_2, df_asps_26_03_2021_f_pow_2, df_asps_26_05_2022_sum_coef_13], ignore_index=True)

In [12]:
print('shape - ', df_asps_table.shape)
df_asps_table.tail(3)

shape -  (932137, 20)

,game_id,game_title,goals,ligue,f_pow,f_point,fmain_ch,fsec_ch,s_point,smain_ch,ssec_ch,type,approach,sing,tr_orb,bp_asp,den_point,orb_char,moon_day,desc
932134,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Pars Crest,[],[],Pars Rock,[],[],Opp,stat,equal,0.08,yes,[],max,15,sum_coef_13
932135,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Venus,[ruler_asc],[ruler_antes_pars_fortuna],Antes Neptune,[],[],Opp,conv,equal,0.11,no,[],max,15,sum_coef_13
932136,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Jupiter,[ruler_pars_fortuna],[],Antes Uranus,[],[],Opp,diver,equal,1.22,yes,[],middle,15,sum_coef_13

#### Determinate winners from goals

In [13]:
rare_smbs = df_asps_table.goals.map(lambda x: x if re.findall('-', str(x)) else None)

In [14]:
rare_smbs_inds = rare_smbs[~rare_smbs.isna()].index
print(len(rare_smbs_inds))
rare_smbs_inds[:2]

19

Int64Index([512796, 512797], dtype='int64')

In [15]:
df_asps_table = df_asps_table[~df_asps_table.index.isin(rare_smbs_inds)].copy().reset_index(drop=True)
print('shape - ', df_asps_table.shape)
df_asps_table.tail(3)

shape -  (932118, 20)

,game_id,game_title,goals,ligue,f_pow,f_point,fmain_ch,fsec_ch,s_point,smain_ch,ssec_ch,type,approach,sing,tr_orb,bp_asp,den_point,orb_char,moon_day,desc
932115,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Pars Crest,[],[],Pars Rock,[],[],Opp,stat,equal,0.08,yes,[],max,15,sum_coef_13
932116,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Venus,[ruler_asc],[ruler_antes_pars_fortuna],Antes Neptune,[],[],Opp,conv,equal,0.11,no,[],max,15,sum_coef_13
932117,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Jupiter,[ruler_pars_fortuna],[],Antes Uranus,[],[],Opp,diver,equal,1.22,yes,[],middle,15,sum_coef_13

In [16]:
df_with_aspects = df_with_aspects[~df_with_aspects.index.isin(rare_smbs_inds)].copy().reset_index(drop=True)
print('shape - ', df_with_aspects.shape)
df_with_aspects.tail(3)

shape -  (89942, 27)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city,iso_code,longitude,latitude,lat,lon,moon_day,aspects
89939,15164040,Srpska Liga,698,306,28.03.2021 13:30,Zeleznicar Lajkovac - Sloboda Užice,1:0,thr,Zeleznicar Lajkovac,15.0,36.0,4.0,57.0,"15 - 4, 20","36 - 57, 94",Pre,sum_coef_13,Serbia,NaN,Lajkovac,RS,20.165280,44.36944,44n22,20e9,15,"[{'f_point': 'Moon', 's_point': 'Venus', 'type': 'Opp', 'approach': 'moon_conv_compl_weak', 'sin..."
89940,15147393,Third Division,553,306,28.03.2021 12:30,Ormideia - O Kormakitis,2:0,thr,Ormideia,8.0,40.0,16.0,16.0,"8 - 16, 16","40 - 16, 68",Fav,sum_coef_13,Cyprus,NaN,Ormideia,CY,33.775628,34.99351,34n59,33e46,15,"[{'f_point': 'Moon', 's_point': 'Venus', 'type': 'Opp', 'approach': 'moon_conv_compl_weak', 'sin..."
89941,15109589,Thai League 1,718,298,28.03.2021 11:00,Prachuap - Bangkok United,0:1,thr,Prachuap,10.0,37.0,5.0,51.0,"10 - 5, 16","37 - 51, 77",Pre,sum_coef_13,Thailand,13605,Prachuap Khiri Khan,TH,99.784100,11.82098,11n49,99e47,15,"[{'f_point': 'Moon', 's_point': 'Antes Pars Fortuna', 'type': 'Con', 'approach': 'moon_conv_clea..."

In [17]:
df_asps_table['f_goals'] = pd.to_numeric(df_asps_table.goals.str.split(':').str[0])
df_asps_table['s_goals'] = pd.to_numeric(df_asps_table.goals.str.split(':').str[1])

In [18]:
def get_results(f_pow: str, f_goals: int, s_goals: int):
    if f_goals == s_goals:
        result = 'fav_drow'
    elif f_pow == 'Pre' and f_goals > s_goals:
        result = 'fav_loss'
    elif f_pow == 'Fav' and f_goals < s_goals:
        result = 'fav_loss'    
    else:
        result = 'fav_win'
    return result

In [19]:
df_asps_table['result'] = df_asps_table[['f_pow', 'f_goals', 's_goals']].apply(lambda x: get_results(x[0], x[1], x[2]), axis=1)

In [20]:
df_asps_table.drop(columns=['f_goals', 's_goals'], inplace=True)

In [21]:
df_asps_table.head(3)

,game_id,game_title,goals,ligue,f_pow,f_point,fmain_ch,fsec_ch,s_point,smain_ch,ssec_ch,type,approach,sing,tr_orb,bp_asp,den_point,orb_char,moon_day,desc,result
0,1708335,FC Minsk - Arsenal Dzerzhinsk,2:0,top,Fav,Moon,[],[ruler_pars_rock],Antes Sun,[antes_ruler_mc],[],Sque,moon_conv,equal,2.38,no,[],middle,25,pow_coef_2,fav_win
1,1708335,FC Minsk - Arsenal Dzerzhinsk,2:0,top,Fav,Moon,[],[ruler_pars_rock],Venus,[ruler_desc],[],Con,moon_conv_denide,equal,5.40,no,[more_orb],min,25,pow_coef_2,fav_win
2,1708335,FC Minsk - Arsenal Dzerzhinsk,2:0,top,Fav,Moon,[],[ruler_pars_rock],Saturn,[ruler_ic],[],Sixt,moon_conv_clear_compl,equal,3.11,no,[],mid_min,25,pow_coef_2,fav_win

### Future develop

In [22]:
# df = pd.DataFrame({"A": [1,2,3,4], "B": ["a", "b", "c", "d"], "C": [[1,2,3], [2], [2,3,1], [4]] })
# df.C.apply(sorted).transform(tuple).unique()

In [23]:
# pd.unique(df_asps_table[['f_point', 'fmain_ch']].values.ravel('K'))

### Statistic data

In [24]:
df_uniq = df_asps_table.drop_duplicates(subset='game_id').reset_index(drop=True)
print('shape - ', df_uniq.shape)
df_uniq.tail(3)

shape -  (89940, 21)

,game_id,game_title,goals,ligue,f_pow,f_point,fmain_ch,fsec_ch,s_point,smain_ch,ssec_ch,type,approach,sing,tr_orb,bp_asp,den_point,orb_char,moon_day,desc,result
89937,15164040,Zeleznicar Lajkovac - Sloboda Užice,1:0,thr,Pre,Moon,[],"[ruler_pars_glory, ruler_pars_rock]",Venus,[ruler_mc],[],Opp,moon_conv_compl_weak,equal,3.39,no,"[[Sun], [with_ruls]]",mid_min,15,sum_coef_13,fav_loss
89938,15147393,Ormideia - O Kormakitis,2:0,thr,Fav,Moon,[],[ruler_pars_glory],Venus,[ruler_mc],[],Opp,moon_conv_compl_weak,equal,4.13,no,"[[Sun], [with_ruls]]",min,15,sum_coef_13,fav_win
89939,15109589,Prachuap - Bangkok United,0:1,thr,Pre,Moon,[ruler_mc],[],Antes Pars Fortuna,[],[],Con,moon_conv_clear_compl,equal,0.11,no,[],max,15,sum_coef_13,fav_win

In [25]:
df_uniq.f_pow.value_counts(dropna=False)

Fav    45215
Pre    44725
Name: f_pow, dtype: int64

In [26]:
df_uniq.result.value_counts(dropna=False)

fav_win     64583
fav_drow    16441
fav_loss     8916
Name: result, dtype: int64

In [27]:
print('Coef fav_loss - ',round((df_uniq[df_uniq.result=='fav_win'].shape[0] + df_uniq[df_uniq.result=='fav_drow'].shape[0]) / df_uniq[df_uniq.result=='fav_loss'].shape[0], 2))

Coef fav_loss -  9.09

In [28]:
print('Coef fav_drow_loss - ',round(df_uniq[df_uniq.result=='fav_win'].shape[0]/(df_uniq[df_uniq.result=='fav_drow'].shape[0]+df_uniq[df_uniq.result=='fav_loss'].shape[0]),2))

Coef fav_drow_loss -  2.55

### Aspects research

In [29]:
df_aspects = df_asps_table.copy() #[df_asps_table.ligue == 'top']
len(df_aspects)

932118

In [30]:
df_aspects.drop_duplicates(subset='game_id', keep=False)

,game_id,game_title,goals,ligue,f_pow,f_point,fmain_ch,fsec_ch,s_point,smain_ch,ssec_ch,type,approach,sing,tr_orb,bp_asp,den_point,orb_char,moon_day,desc,result
233112,12573128,FC Poltava - Cherkashchyna,2:1,sec,Fav,MC,[],[],Pars Spirit,[],[],Con,in_stat,equal,1.13,no,[],middle,7,pow_coef_2,fav_win
233188,12612231,Şanlıurfaspor - Karşıyaka,2:1,thr,Fav,Pars Rock,[],[],Jupiter,[ruler_pars_fortuna],[],Opp,diver,equal,1.46,yes,[],mid_min,7,pow_coef_2,fav_win
525376,14619874,Manfredonia - Gragnano,1:1,thr,Pre,Moon,[],[],Venus,"[ruler_asc, ruler_pars_fortuna]",[ruler_pars_rock],Con,moon_conv_clear_compl,equal,2.14,no,[],middle,29,pow_coef_2,fav_drow
874754,15205112,Al Najaf - Al Hudod,2:1,thr,Fav,North Node,[],[],Venus,[ruler_mc],"[ruler_antes_pars_fortuna, ruler_pars_spirit]",Con,conv,equal,0.56,yes,[],mid_max,5,sum_coef_13,fav_win

In [31]:
# Haven't aspects between 'Pars Fortuna' - 'Antes Pluto' - ?

In [32]:
# df_aspects.den_point.value_counts()

In [33]:
df_with_aspects[df_with_aspects.game_id =='15102658']

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city,iso_code,longitude,latitude,lat,lon,moon_day,aspects
89237,15102658,Premier League,1794,307,31.07.2021 00:00,York United - Forge,0:1,thr,York United,4.0,36.0,1.0,50.0,"4 - 1, 8","36 - 50, 50",Pre,sum_coef_13,Canada,15663,Toronto,CA,-79.4163,43.70011,43n42,79w24,20,"[{'f_point': 'Moon', 's_point': 'Pars Spirit', 'type': 'Con', 'approach': 'moon_conv', 'sing': '..."

In [34]:
df_calc = df_uniq[df_uniq.ligue == 'thr'].copy() # df_uniq[df_uniq.desc == 'sum_coef_13'].copy()
print('shape - ', df_calc.shape)

shape -  (52318, 21)

In [35]:
print('Coef fav_loss - ',round((df_calc[df_calc.result=='fav_win'].shape[0] + df_calc[df_calc.result=='fav_drow'].shape[0])/df_calc[df_calc.result=='fav_loss'].shape[0], 2))

Coef fav_loss -  9.61

In [36]:
s_point  = 'South Node' # Antes Pars Fortuna
# fmain_ch = ['ruler_pars_fortuna']
f_point  = 'IC'
# smain_ch = ['ruler_pars_fortuna']
tr_orb   = 5
asp_type = 'Con'
# approach = 'moon_conv_clear_compl'
# bp_asp   = 'no'

aspects_pair = df_aspects[(df_aspects.f_point == f_point) & (df_aspects.s_point == s_point) & (df_aspects.tr_orb <= tr_orb) & (df_aspects.type == asp_type) &
                         (df_aspects.den_point.str.len() == 0)]
# (df_aspects.bp_asp == bp_asp), (df_aspects.den_point.str.len() == 0), (df_aspects.fmain_ch.isin([fmain_ch])), (df_aspects.smain_ch.isin([smain_ch])), (df_aspects.type == asp_type), (df_aspects.ligue == 'thr')
# (df_aspects.den_point.str.len() == 0) & (df_aspects.approach == approach)
print('shape - ', aspects_pair.shape)
# aspects_pair       = aspects_pair[aspects_pair.desc == 'sum_coef_13'].copy()
fav_loss_coef_perc = [5.37, 8.37, 9.09][2] # sum_13, top, all
print('shape - ', aspects_pair.shape)
aspects_pair.head(3)

shape -  (88, 21)
shape -  (88, 21)

,game_id,game_title,goals,ligue,f_pow,f_point,fmain_ch,fsec_ch,s_point,smain_ch,ssec_ch,type,approach,sing,tr_orb,bp_asp,den_point,orb_char,moon_day,desc,result
468,1596519,Spezia - Napoli,0:3,top,Pre,IC,[],[],South Node,[],[],Con,in_stat,equal,2.14,no,[],min,21,pow_coef_2,fav_win
6960,1574131,Dornbirn 1913 - Lafnitz,1:4,sec,Pre,IC,[],[],South Node,[],[],Con,in_stat,equal,2.23,no,[],min,22,pow_coef_2,fav_win
12940,1714402,Machine Sazi Tabriz - FC Vista,0:0,sec,Pre,IC,[],[],South Node,[],[],Con,in_stat,equal,2.04,no,[],min,27,pow_coef_2,fav_drow

In [57]:
# Pre_deviation: count_dev +, coef_perc_dev -; Fav_deviation: count_dev -, coef_perc_dev +.
df_aspect_stat

,count_conv,expected_loss,received_loss,count_dev,loss_coef_perc,coef_perc_dev
<= 1.0_IC_South Node_Con,7.0,1.0,1.0,0.0,7.0,-23.0
<= 1.3_IC_South Node_Con,14.0,2.0,1.0,-1.0,14.0,54.0
<= 2.0_IC_South Node_Con,41.0,5.0,4.0,-1.0,10.0,10.0
_> 2.0_IC_South Node_Con,88.0,10.0,8.0,-2.0,11.0,21.0

In [39]:
# For tramsform orbs
def conversation_statistic(x):
    x = float(x)
    if x <= 0.3:
        return '<= 0.3'
    if x <= 1.0:
        return '<= 1.0'
    if x <= 1.3:
        return '<= 1.3'
    if x <= 2.0:
        return '<= 2.0'
    if x > 2.0:
        return '_> 2.0'

In [40]:
def fav_loss_count(x):
    return round((x == 'fav_loss').sum(), 2)

In [41]:
aspects_pair['conv_stat'] = aspects_pair.tr_orb.map(lambda x: conversation_statistic(x))

/tmp/ipykernel_5016/1937848843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aspects_pair['conv_stat'] = aspects_pair.tr_orb.map(lambda x: conversation_statistic(x))

In [42]:
# aspects_pair

In [43]:
## 'ligue', 'approach'
## fav_win_relation, fav_drow_less_relation, fav_win_count, fav_drow_count, fav_loss_count, expected_loss

In [44]:
name_dict  = {'f_point': f_point, 's_point': s_point, 'asp_type': asp_type} #  'tr_orb': str(tr_orb), 's_point': str(smain_ch)
name_index = '_'.join(name_dict.values())
name_index

'IC_South Node_Con'

### Fix fav_loss_coef_perc

In [45]:
# fav_loss_coef_perc               = 9.09
df_aspect_stat                   = aspects_pair.conv_stat.value_counts(dropna=False).to_frame().sort_index()
gb_aspects                       = aspects_pair.groupby(['conv_stat']).agg({'result': fav_loss_count})
df_aspect_stat['count_conv']     = df_aspect_stat.conv_stat.rolling(min_periods=1, window=6).sum()
df_aspect_stat.drop(columns      ='conv_stat', inplace=True)
df_aspect_stat['expected_loss']  = round(df_aspect_stat.count_conv / fav_loss_coef_perc) 
df_aspect_stat['received_loss']  = gb_aspects.result.rolling(min_periods=1, window=6).sum()
df_aspect_stat['count_dev']      = df_aspect_stat.received_loss - df_aspect_stat.expected_loss
df_aspect_stat['loss_coef_perc'] = round(df_aspect_stat.count_conv / df_aspect_stat.received_loss)
df_aspect_stat['coef_perc_dev']  = round(100 * (df_aspect_stat.loss_coef_perc / fav_loss_coef_perc - 1))
df_aspect_stat.index             = [x + '_' + name_index for x in df_aspect_stat.index]

In [46]:
# (pre_deviation: count_dev +, coef_perc_dev - ), (fav_deviation: count_dev -, coef_perc_dev +)
df_aspect_stat

,count_conv,expected_loss,received_loss,count_dev,loss_coef_perc,coef_perc_dev
<= 1.0_IC_South Node_Con,7.0,1.0,1.0,0.0,7.0,-23.0
<= 1.3_IC_South Node_Con,14.0,2.0,1.0,-1.0,14.0,54.0
<= 2.0_IC_South Node_Con,41.0,5.0,4.0,-1.0,10.0,10.0
_> 2.0_IC_South Node_Con,88.0,10.0,8.0,-2.0,11.0,21.0

#### Stat bets coefs for fav_pow == 2 for pretendents

In [47]:
# 1 - 20 and 4 - 18 teams, mean bets coefs on home and leawe games.

In [48]:
((11.7 + 26) + (10.5 + 3.8)) / 4 # Premier ligue

13.0

In [49]:
((12.3 + 6.13) + (10.7 + 9.2)) / 4 # Seria A

9.5825

In [50]:
((13.4 + 6.06) + (8.34 + 3.62)) / 4 # Primera

7.855

In [51]:
round((13 + 9.58 + 7.85) / 3, 2)

10.14

#### Stat bets coefs for fav_pow == 1.5 for pretendents

In [52]:
# 1 - 20 and 7 - 14 teams, mean bets coefs on home and leawe games.

In [53]:
((11.7 + 26) + (4.1 + 3.08)) / 4 # Premier ligue

11.22

In [54]:
((12.3 + 6.13) + (4.14 + 5.75)) / 4 # Seria A

7.08

In [55]:
((13.4 + 6.06) + (7.7 + 3.38)) / 4 # Primera

7.635

In [56]:
round((11.22 + 7.08 + 7.63) / 3, 2)

8.64

#### For about mean bet by 2/4 for fav/pre need calculate f_pow how: -13 pts_f  (home_team = fav) < home_team_pts_f < + 13 pts_f  (home_team = pre)