In [1]:
import pandas as pd
import numpy as np
import re
import unicodedata
import pickle

In [2]:
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_rows', 400)

### Parsing main teams data

In [3]:
# data = pd.read_table('text_files/football-city-html.txt')

In [4]:
# df = data.rename(columns={"</div>": "data"})

In [5]:
# terms = ['col-sm-6 col-xs-6', 'col-sm-3 hidden-xs', '/modules/images/flags/']

In [6]:
# df = df[df.data.str.contains('|'.join(terms))]

In [7]:
# df.drop(index=5, inplace=True)

In [8]:
# df.shape

In [9]:
# df

In [10]:
# pattern = '|'.join(['<div class=\"col-sm-6 col-xs-6\"><b>', '<img src=\"/modules/images/flags/_', '<div class=\"col-sm-3 hidden-xs\">', '</b>', '</div>'])

In [11]:
# df.data = df.data.str.replace(pattern, '')

In [12]:
# def removing_patterns(df: pd.DataFrame, col_names: list, patern: str):
#     df[col_names].apply(lambda x: str(x) if re.search(pattern, str(x)) is None else re.findall(pattern, str(x)))
#     return df

In [13]:
# pattern = r'\"[\s|\w]+\">$'
# df = removing_patterns(df, list(df), pattern)

In [14]:
# def find_no_utf_symbols(sr: pd.Series):
#     find_symols = r'[^.a-zA-Z0-9)(&"\s>;<=,-/}{\']'
#     rare_symbols = sr.map(lambda x: ''.join(re.findall(find_symols, str(x))))
#     return rare_symbols

In [15]:
# rare_symbols = find_no_utf_symbols(df.data)

In [16]:
# str(set(rare_symbols))

In [17]:
# all_symbols = []
# for symbol in rare_symbols:
#     symbols = ''.join(symbol)
#     all_symbols.append(symbols)
# all_symbols = str(all_symbols)
# all_symbols = ''.join(set(str(all_symbols)))
# all_symbols = all_symbols.replace(' ', '')
# all_symbols = all_symbols.replace(']', '')
# all_symbols = all_symbols.replace('[', '')
# all_symbols = all_symbols.replace(',', '')
# all_symbols = all_symbols.replace('\'', '')

In [18]:
# all_symbols

In [19]:
# pattern_2 = r'^[0-9]+.png'
# pattern_3 = r'title=\"(.+?)\"'

In [20]:
# df = df.data.apply(lambda x: ''.join(re.findall(pattern_3, str(x)) if re.search(pattern_2, str(x)) is not None else x))

In [21]:
# df = pd.DataFrame(df)

In [22]:
# df.shape

In [23]:
# df.iloc[648:649,:]

In [24]:
# df.data.replace('', np.nan, inplace=True)

In [25]:
# df.dropna(subset=['data'], inplace=True)

In [26]:
# df.shape

In [27]:
# def str_decode(str_obj: str):
#     normalized = unicodedata.normalize('NFD', str_obj)
#     decode_str = u"".join([c for c in normalized if not unicodedata.combining(c)])
#     return decode_str

In [28]:
# df.data = df.data.apply(lambda x: str_decode(x))

In [29]:
# rare_symbols_keys = {'ł':'l','Ł':'L','º':'','ʿ':'\'','ə':'e','Ħ':'H','đ':'d','’':'\'','ı':'i','æ':'a','ð':'d','ø':'o'}

# def replace_rare_symbols(df: pd.DataFrame, col_name: str, dict_obj: dict):
#     for k, v in rare_symbols_keys.items():
#         df[col_name] = df[col_name].apply(lambda x: x.replace(k, v) if re.search(k, str(x)) else x)
#     return df[col_name]

In [30]:
# df.data = replace_rare_symbols(df, 'data', rare_symbols_keys)

In [31]:
# df.head(3)

In [32]:
# df.reset_index(inplace=True)

In [33]:
# df.drop('index', axis=1, inplace=True)

In [34]:
# club, country, city = df[0::3], df[1::3], df[2::3]

In [35]:
# table_df = pd.concat([club.reset_index(drop=True), country.reset_index(drop=True), city.reset_index(drop=True)], axis=1)

In [36]:
# table_df.columns.values[0] = "team"
# table_df.columns.values[1] = "country"
# table_df.columns.values[2] = "city"

In [37]:
# table_df.shape

In [38]:
# df = table_df.copy()

In [39]:
# # take city.values from hooks for transcription
# df.city = df.city.map(lambda x: ''.join(re.findall(r'\((.*?)\)', x)) if re.search(r'\(', x) else x)

In [40]:
# # remove Buenos Aires districts
# buenos_pattern = 'Buenos'
# df.city = df.city.apply(lambda x: x if re.search(buenos_pattern, str(x)) is None else 'Buenos Aires')

In [41]:
# # take city.values before '/'
# df.city = df.city.map(lambda x: ''.join(re.findall(r'^(.*?)/', x)) if re.search(r'\/', x) else x)

In [42]:
# # take city.values before ',' without districts
# df.city = df.city.map(lambda x: ''.join(re.findall(r'^(.*?),', x)) if re.search(r',', x) else x)

In [43]:
# # rename 'D.F.' at 'Mexico'
# mexico_pattern = 'D.F.'
# df.city = df.city.apply(lambda x: x if re.search(mexico_pattern, str(x)) is None else 'Mexico')

In [44]:
# df['team_id'] = None

In [45]:
# df.insert(1, 'team_id', df.pop('teams_ids'))

In [46]:
# df.head()

In [47]:
# df.tail()

In [48]:
# df.drop_duplicates(subset=['team', 'country'], inplace=True)

In [49]:
# df.team.value_counts()

In [50]:
# df.reset_index(drop=True, inplace=True)

In [51]:
# df

In [163]:
# with open('pickle_files/df_teams_data_main', 'wb') as f:
#     pickle.dump(df, f)

### Add teams data

##### Check last file version

In [3]:
# df_teams_data_main
with open('pickle_files/teams_data/df_tmd_main_created_18_09_2022', 'rb') as f:
    df_teams_data_main = pickle.load(f)

In [4]:
print('shape - ', df_teams_data_main.shape[0])
df_teams_data_main.head(3)

shape -  14455

     f_team team_id      country     city tm_data
0       AaB    None      Denmark  Aalborg     NaN
1  Aalesund    None       Norway  Alesund     NaN
2     Aarau    None  Switzerland    Aarau     NaN

In [5]:
df_teams_data_main.tail(3)

                 f_team team_id country     city tm_data
14452          Koinonia    None  Canada       nd    None
14453            Namlha    None  Bhutan       nd    None
14454  Grapiuna Itabuna    None  Brazil  Itabuna    None

In [6]:
df_teams_data_main[df_teams_data_main.city == 'nan']

Empty DataFrame
Columns: [f_team, team_id, country, city, tm_data]
Index: []

##### Add new teams data

In [7]:
with open('pickle_files/teams_data/tmd_16_09_2022/df_after_corr_16_09_2022_sum_coef_13', 'rb') as f:
    df_tmd = pickle.load(f)

In [8]:
print('shape - ', df_tmd.shape[0])
df_tmd.head(3)

shape -  59

            f_team    country        city team_id tm_data
0      CF Montréal        USA    Montreal    None    None
1     Gjelleraasen     Norway       Hagan    None    None
2  Arsenal Sarandí  Argentina  Avellaneda    None    None

In [9]:
df_teams_data = pd.concat([df_teams_data_main, df_tmd]).reset_index(drop=True)

In [10]:
print('shape - ', df_teams_data.shape[0])
df_teams_data.head(3)

shape -  14514

     f_team team_id      country     city tm_data
0       AaB    None      Denmark  Aalborg     NaN
1  Aalesund    None       Norway  Alesund     NaN
2     Aarau    None  Switzerland    Aarau     NaN

In [11]:
df_teams_data.f_team    = df_teams_data.f_team.str.strip()
df_teams_data.country = df_teams_data.country.str.strip()
df_teams_data.city    = df_teams_data.city.str.strip()

In [12]:
df_teams_data.f_team.value_counts(dropna=False).head()

Concordia Santa Catarina    4
Rangers                     4
Platense                    3
FC Sevastopol               3
Al Ittihad                  3
Name: f_team, dtype: int64

In [13]:
df_teams_data.country.value_counts(dropna=False).head()

Spain      1085
Germany     919
Italy       736
England     619
Brazil      586
Name: country, dtype: int64

In [14]:
df_teams_data.country.value_counts(dropna=False).tail()

Mauritius      1
Mauritania     1
Kosovo         1
South Sudan    1
Madagascar     1
Name: country, dtype: int64

##### Remove errors values if exist ********

In [15]:
df_teams_data[df_teams_data.country == 'country']

Empty DataFrame
Columns: [f_team, team_id, country, city, tm_data]
Index: []

In [22]:
# df_teams_data.drop([7634], inplace=True)
# df_teams_data.reset_index(drop=True, inplace=True)

In [16]:
df_teams_data.city.value_counts(dropna=False).head()

nd              229
Buenos Aires     60
London           44
Hamburg          40
Madrid           40
Name: city, dtype: int64

In [17]:
df_teams_data.city.value_counts(dropna=False).tail()

Guantánamo     1
Guilsfield     1
Memmingen      1
Salford        1
Ulaanbaatar    1
Name: city, dtype: int64

In [19]:
print('shape - ', df_teams_data.shape[0])
df_teams_data.tail(3)

shape -  14514

             f_team team_id   country         city tm_data
14511      Schwerin    None   Germany     Schwerin    None
14512    Stari Grad    None    Serbia      Palanka    None
14513  Tuv Buganuud    None  Mongolia  Ulaanbaatar    None

In [20]:
# After csv formating - 'nan'
df_teams_data[df_teams_data.city == 'nan']

Empty DataFrame
Columns: [f_team, team_id, country, city, tm_data]
Index: []

In [21]:
df_teams_data.drop_duplicates(subset=['f_team', 'country'], inplace=True, ignore_index=True)

In [22]:
print('shape - ', df_teams_data.shape[0])
df_teams_data.tail(3)

shape -  14513

             f_team team_id   country         city tm_data
14510      Schwerin    None   Germany     Schwerin    None
14511    Stari Grad    None    Serbia      Palanka    None
14512  Tuv Buganuud    None  Mongolia  Ulaanbaatar    None

In [30]:
# 2 Stop *************************************************************

In [24]:
# file = open('pickle_files/df_tmd_main_created_18_09_2022_14513', 'wb')
# pickle.dump(df_teams_data, file)  
# file.close()

### Go to concatinate_data_coef_pow.ipynb file and save file with new teams data.