In [1]:
import os
import re
import pickle
import datetime
import pandas as pd
import numpy as np

from _html_parser import ParsingDataPrepare, TableConstant

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [2]:
%load_ext autoreload
%autoreload 2

#### Choose the date for dirs and files

In [73]:
# Start from more time ('26_05_2022' -'27_03_2021'), ('26_03_2021' - '03_11_2013)
dir_data = dir_data_start = '26_05_2022'
dir_data_end = '27_03_2021'

In [74]:
with open('pickle_files/new_events/'+ dir_data +'/df_'+ dir_data_start +'_to_'+ dir_data_end  +'_games', 'rb') as f:
    df_games = pickle.load(f)

In [75]:
df_games

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue
0,1729359,Ligue 1,18,310,26.05.2022 17:00,Auxerre - Saint-Etienne,1:1,top
1,1729393,Serie B,627,310,26.05.2022 18:30,Monza - Pisa,2:1,thr
2,1729388,Eredivisie,596,Cup,26.05.2022 18:00,Vitesse - AZ Alkmaar,2:1,top
3,1708335,Premier League,483,301,26.05.2022 15:00,FC Minsk - Arsenal Dzerzhinsk,2:0,top
4,1687458,Eliteserien,747,301,26.05.2022 16:00,Rosenborg - Haugesund,3:3,sec
...,...,...,...,...,...,...,...,...
91916,15197308,Primera Division,593,306,28.03.2021 17:00,Nueva Concepcion - Suchitepequez,1:1,thr
91917,15197309,Primera Division,593,306,28.03.2021 20:59,Deportivo San Pedro - Plataneros,2:1,thr
91918,15092974,National Football League,575,307,28.03.2021 03:00,Navua - Rewa,1:2,thr
91919,15092975,National Football League,575,307,28.03.2021 03:00,Ba - Lautoka,1:2,thr
91920,15092976,National Football League,575,307,28.03.2021 03:00,Nadi - Suva,1:0,thr

In [76]:
df_games['f_team'] = df_games.game_title.map(lambda x: str(x).split(' - ')[0])
df_games['s_team'] = df_games.game_title.map(lambda x: str(x).split(' - ')[1])

In [77]:
df_games.head(3)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,s_team
0,1729359,Ligue 1,18,310,26.05.2022 17:00,Auxerre - Saint-Etienne,1:1,top,Auxerre,Saint-Etienne
1,1729393,Serie B,627,310,26.05.2022 18:30,Monza - Pisa,2:1,thr,Monza,Pisa
2,1729388,Eredivisie,596,Cup,26.05.2022 18:00,Vitesse - AZ Alkmaar,2:1,top,Vitesse,AZ Alkmaar

#### Add competitions data

In [78]:
with open('pickle_files/new_events/'+ dir_data +'/df_comp_tabs_'+ dir_data_start +'_all_lgs', 'rb') as f:
    df_comp_tables = pickle.load(f)

In [79]:
df_comp_tables.rename(columns={'team_name':'f_team'}, inplace=True)

In [80]:
# Duble column for get data for each team
df_comp_tables['s_team'] = df_comp_tables.f_team

In [81]:
df_comp_tables.head()

,f_team,team_id,pos,pld,w,d,l,gf,ga,+/-,pts,comp_id,season_id,s_team
0,Japan U23,10622,1,3,3,0,0,7,1,+6,9,1016,298,Japan U23
1,Mexico U23,9209,2,3,2,0,1,8,3,+5,6,1016,298,Mexico U23
2,France U23,10739,3,3,1,0,2,5,11,-6,3,1016,298,France U23
3,South Africa U23,10615,4,3,0,0,3,3,8,-5,0,1016,298,South Africa U23
4,South Korea U23,10609,1,3,2,0,1,10,1,+9,6,1016,298,South Korea U23

In [82]:
df_fcom = pd.merge(left=df_games, right=df_comp_tables[['f_team','comp_id','season_id','pos', 'pts']], on=['f_team','comp_id','season_id'], how='left')
df_fcom.rename(columns={'pos':'pos_f', 'pts':'pts_f'}, inplace=True)

In [83]:
df_scom = pd.merge(left=df_games, right=df_comp_tables[['s_team','comp_id','season_id','pos', 'pts']], on=['s_team','comp_id','season_id'], how='left')
df_scom.rename(columns={'pos':'pos_s', 'pts':'pts_s'}, inplace=True)

In [84]:
df_games_tb = pd.merge(df_fcom, df_scom[['game_id', 'pos_s','pts_s']], how='left', left_on='game_id', right_on='game_id')

In [85]:
df_games_tb.pos_f = pd.to_numeric(df_games_tb.pos_f, errors='coerce')
df_games_tb.pos_s = pd.to_numeric(df_games_tb.pos_s, errors='coerce')
df_games_tb.pts_f = pd.to_numeric(df_games_tb.pts_f, errors='coerce')
df_games_tb.pts_s = pd.to_numeric(df_games_tb.pts_s, errors='coerce')

In [86]:
df_games_tb['posf_poss'] = df_games_tb[['pos_f', 'pos_s']].apply(lambda x: str(x[0]).replace('.0', '') + ' - ' + str(x[1]).replace('.0', '') \
                                                                 if pd.notna(x[0]) and pd.notna(x[1]) else None, axis=1) 
df_games_tb['ptsf_ptss'] = df_games_tb[['pts_f', 'pts_s']].apply(lambda x: str(x[0]).replace('.0', '') + ' - ' + str(x[1]).replace('.0', '') \
                                                                 if pd.notna(x[0]) and pd.notna(x[1]) else None, axis=1)

In [87]:
df_games_tb.drop(columns=['s_team'], inplace=True)

In [88]:
df_games_tb.drop_duplicates(subset=['game_id'], inplace=True)

In [89]:
df_games_tb.reset_index(drop=True, inplace=True)

In [90]:
df_games_tb.posf_poss.value_counts(dropna=False).head(4)

None     16922
1 - 3      706
1 - 2      692
1 - 4      683
Name: posf_poss, dtype: int64

In [91]:
df_games_tb.posf_poss.value_counts(dropna=False).tail(4)

3 - 36     1
17 - 37    1
27 - 35    1
21 - 27    1
Name: posf_poss, dtype: int64

In [92]:
df_comp_tables.pos = pd.to_numeric(df_comp_tables.pos, errors='coerce')
df_comp_tables.pts = pd.to_numeric(df_comp_tables.pts, errors='coerce')

df_max_pos = df_comp_tables.groupby(['comp_id', 'season_id'])['pos'].max().to_frame().reset_index()  
df_max_pts = df_comp_tables.groupby(['comp_id', 'season_id'])['pts'].max().to_frame().reset_index() 

df_max_pos.rename(columns={'pos':'max_pos'}, inplace=True)
df_max_pts.rename(columns={'pts':'max_pts'}, inplace=True)

In [93]:
df_max_pos.head(3)

  comp_id season_id  max_pos
0    1016       298        4
1    1019       310        4
2    1035       306       11

In [94]:
df_max_pts.head(3)

  comp_id season_id  max_pts
0    1016       298        9
1    1019       310       16
2    1035       306       28

In [95]:
df_games_tb = df_games_tb.merge(df_max_pos, how='left', left_on=['comp_id', 'season_id'],  right_on=['comp_id', 'season_id'])
df_games_tb = df_games_tb.merge(df_max_pts, how='left', left_on=['comp_id', 'season_id'],  right_on=['comp_id', 'season_id'])

In [96]:
df_games_tb['fs_pos_max'] = df_games_tb[['posf_poss', 'max_pos']].apply(lambda x: str(x[0])+ ', ' + str(x[1]).replace('.0', '') \
                                                                                                                  if x[0] != None else None, axis=1)
df_games_tb['fs_pts_max'] = df_games_tb[['ptsf_ptss', 'max_pts']].apply(lambda x: str(x[0])+ ', ' + str(x[1]).replace('.0', '') \
                                                                                                                  if x[0] != None else None, axis=1)

In [97]:
df_games_tb.drop(columns=['posf_poss', 'ptsf_ptss', 'max_pts'], inplace=True)

#### Concatinate dataframes with best and tables position coefficients

In [98]:
df_power_coefs = df_games_tb[df_games_tb.max_pos >= 8].copy().reset_index(drop=True)
df_power_coefs.shape[0]

74587

In [99]:
df_power_coefs.max_pos.value_counts(dropna=False)

20.0    16303
16.0     9883
18.0     8383
12.0     7766
10.0     5208
21.0     4811
14.0     4245
17.0     3043
22.0     2990
24.0     1979
8.0      1728
19.0     1501
23.0     1442
9.0      1256
13.0     1216
11.0     1073
15.0     1004
26.0      325
32.0      264
37.0      167
Name: max_pos, dtype: int64

In [100]:
df_power_coefs.drop(columns=['max_pos'], inplace=True)

In [101]:
print('shape - ', df_power_coefs.shape[0])
df_power_coefs.tail(10)

shape -  74587

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max
74577,15109590,Thai League 1,718,298,28.03.2021 11:00,Rayong - Chonburi,1:1,thr,Rayong,16.0,15.0,12.0,32.0,"16 - 12, 16","15 - 32, 77"
74578,15109586,Thai League 1,718,298,28.03.2021 11:00,Buriram United - BEC Tero Sasana,2:0,thr,Buriram United,2.0,63.0,11.0,36.0,"2 - 11, 16","63 - 36, 77"
74579,15109592,Thai League 1,718,298,28.03.2021 11:00,Suphanburi (Tha) - Sukhothai,1:0,thr,Suphanburi (Tha),13.0,30.0,14.0,28.0,"13 - 14, 16","30 - 28, 77"
74580,15080915,Liga Panameña,671,307,27.03.2021 23:00,Plaza Amador - CD Universitario Panama,2:2,thr,Plaza Amador,1.0,52.0,5.0,47.0,"1 - 5, 12","52 - 47, 52"
74581,15080961,Liga Panameña,671,307,27.03.2021 23:00,Herrera - Tauro,1:1,thr,Herrera,4.0,49.0,3.0,50.0,"4 - 3, 12","49 - 50, 52"
74582,15197084,Birinci Divizion,476,306,28.03.2021 11:00,MOIK - Kapaz,4:1,thr,MOIK,10.0,20.0,8.0,28.0,"10 - 8, 10","20 - 28, 64"
74583,15197083,Birinci Divizion,476,306,28.03.2021 11:00,Neftchi II - Sumqayıt II,6:2,thr,Neftchi II,1.0,64.0,9.0,22.0,"1 - 9, 10","64 - 22, 64"
74584,15092974,National Football League,575,307,28.03.2021 03:00,Navua - Rewa,1:2,thr,Navua,7.0,9.0,2.0,25.0,"7 - 2, 8","9 - 25, 30"
74585,15092975,National Football League,575,307,28.03.2021 03:00,Ba - Lautoka,1:2,thr,Ba,3.0,22.0,1.0,30.0,"3 - 1, 8","22 - 30, 30"
74586,15092976,National Football League,575,307,28.03.2021 03:00,Nadi - Suva,1:0,thr,Nadi,6.0,15.0,4.0,21.0,"6 - 4, 8","15 - 21, 30"

#### Power coefficient  ' * ' :  2

#### Power coefficient sum: -13 pts_f  (home_team = fav) < home_team_pts_f < + 13 pts_f  (home_team = pre)

In [102]:
# pow_coef = 2
# df_power_coefs['f_pow_pts'] = df_power_coefs[['pts_f', 'pts_s']].apply(lambda x: ParsingDataPrepare.roles_determinate([x[0], x[1]], pow_coef, 'max_point'), axis=1)

In [103]:
sum_coef = 13
df_power_coefs['f_pow_pts'] = df_power_coefs[['pts_f', 'pts_s']].apply(lambda x: ParsingDataPrepare.roles_determinate([x[0], x[1]], sum_coef, 'sum_point'), axis=1)

In [104]:
df_power_coefs.f_pow_pts.value_counts(dropna=False)

Neu    40086
Pre    17291
Fav    17210
Name: f_pow_pts, dtype: int64

In [105]:
df_power_coefs['f_pow'] = df_power_coefs.f_pow_pts

In [106]:
df_power_coefs.drop(columns='f_pow_pts', inplace=True)

In [107]:
df_fav_pre = df_power_coefs[df_power_coefs.f_pow.isin(['Fav', 'Pre'])].copy()

In [108]:
# Stop

#### Set description

In [109]:
# 'pow_coef_2'
df_fav_pre['desc'] = 'sum_coef_13'

In [110]:
df_fav_pre.reset_index(drop=True, inplace=True)

In [111]:
print('shape - ', df_fav_pre.shape[0])
df_fav_pre.tail(3)

shape -  34501

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc
34498,15109586,Thai League 1,718,298,28.03.2021 11:00,Buriram United - BEC Tero Sasana,2:0,thr,Buriram United,2.0,63.0,11.0,36.0,"2 - 11, 16","63 - 36, 77",Fav,sum_coef_13
34499,15197083,Birinci Divizion,476,306,28.03.2021 11:00,Neftchi II - Sumqayıt II,6:2,thr,Neftchi II,1.0,64.0,9.0,22.0,"1 - 9, 10","64 - 22, 64",Fav,sum_coef_13
34500,15092974,National Football League,575,307,28.03.2021 03:00,Navua - Rewa,1:2,thr,Navua,7.0,9.0,2.0,25.0,"7 - 2, 8","9 - 25, 30",Pre,sum_coef_13

In [112]:
df_for_cities = df_fav_pre.copy()

In [113]:
df_for_cities.shape

(34501, 17)

In [114]:
# Stop

#### Remove previous game_ids with 'pow_coef_2' description if exist.

In [115]:
print('dir_data - ', dir_data)
with open('pickle_files/aspected_files/df_with_aspects_' + dir_data, 'rb') as f:
    df_with_asps = pickle.load(f)

dir_data -  26_05_2022

In [116]:
df_with_asps.shape

(8947, 27)

In [117]:
df_for_cities = df_for_cities[~df_for_cities.game_id.isin(df_with_asps.game_id)].copy().reset_index(drop=True)
print('shape - ', df_for_cities.shape)
df_for_cities.tail(3)

shape -  (26040, 17)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc
26037,15109590,Thai League 1,718,298,28.03.2021 11:00,Rayong - Chonburi,1:1,thr,Rayong,16.0,15.0,12.0,32.0,"16 - 12, 16","15 - 32, 77",Pre,sum_coef_13
26038,15109586,Thai League 1,718,298,28.03.2021 11:00,Buriram United - BEC Tero Sasana,2:0,thr,Buriram United,2.0,63.0,11.0,36.0,"2 - 11, 16","63 - 36, 77",Fav,sum_coef_13
26039,15092974,National Football League,575,307,28.03.2021 03:00,Navua - Rewa,1:2,thr,Navua,7.0,9.0,2.0,25.0,"7 - 2, 8","9 - 25, 30",Pre,sum_coef_13

#### Add cities and countries. Got ids from 'soccer365' site. Check last created file.

In [118]:
with open('pickle_files/cities_countries/df_countries_champ_ids_created_20_07_22', 'rb') as f:
    df_countries = pickle.load(f)

In [119]:
df_countries.drop_duplicates(subset=['comp_id', 'country'], inplace=True)
df_countries = df_countries[~df_countries.country.isin([''])]
df_countries.reset_index(drop=True, inplace=True)

In [120]:
print('shape - ', df_countries.shape)
df_countries

shape -  (385, 2)

    comp_id  country
0        12  England
1        13   Russia
2        14  Ukraine
3        15    Italy
4        16    Spain
..      ...      ...
380    1199       nd
381     526       nd
382     780       nd
383    2062   Mexico
384    2076       nd

[385 rows x 2 columns]

In [121]:
str(set(df_for_cities[~df_for_cities.comp_id.isin(df_countries.comp_id)].comp_id))

'set()'

In [122]:
# '467':'Australia', 538':'Canada', '1695':'Kenya', '719':'Trinidad and Tobago', '583':'Gabon', '702':'Slovakia', '663':'New Zealand', '1074':'South Africa'
# '1767':'USA', '594':'Haiti', '608':'Indonesia', '497':'Brazil', '696':'Senegal', '490':'Bhutan', '662':'Namibia', '480':'Barbados', '1078':'Guinea'
# '1081':'Burkina Faso', '573':'Faroe Islands', '2062': 'Mexico'

In [123]:
# df_countries = df_countries.append({'comp_id':'2076', 'country':'nd'}, ignore_index=True)

In [124]:
# file = open('pickle_files/cities_countries/df_countries_champ_ids_created_20_07_22', 'wb')
# pickle.dump(df_countries, file)  
# file.close()

In [125]:
print('shape - ', df_for_cities.shape[0])
df_for_cities.tail(3)

shape -  26040

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc
26037,15109590,Thai League 1,718,298,28.03.2021 11:00,Rayong - Chonburi,1:1,thr,Rayong,16.0,15.0,12.0,32.0,"16 - 12, 16","15 - 32, 77",Pre,sum_coef_13
26038,15109586,Thai League 1,718,298,28.03.2021 11:00,Buriram United - BEC Tero Sasana,2:0,thr,Buriram United,2.0,63.0,11.0,36.0,"2 - 11, 16","63 - 36, 77",Fav,sum_coef_13
26039,15092974,National Football League,575,307,28.03.2021 03:00,Navua - Rewa,1:2,thr,Navua,7.0,9.0,2.0,25.0,"7 - 2, 8","9 - 25, 30",Pre,sum_coef_13

In [126]:
df_for_cities = df_for_cities.merge(df_countries, how='left', left_on='comp_id', right_on='comp_id')

In [127]:
df_for_cities.shape

(26040, 18)

In [128]:
df_for_cities.country.value_counts(dropna=False)

Spain       3580
England     2894
Italy       2369
Germany     1746
Russia       771
            ...
Tunisia        2
Pakistan       2
Haiti          2
Suriname       2
Guinea         1
Name: country, Length: 133, dtype: int64

In [129]:
# Stop

#### Add new data. Check last created file.

In [131]:
with open('pickle_files/teams_data/df_tmd_main_created_22_07_2022', 'rb') as f:
    df_teams_data = pickle.load(f)

In [132]:
print('shape - ', df_teams_data.shape[0])
df_teams_data.tail(3)

shape -  9217

                 f_team team_id    country       city
9214   Song Lam Nghe An   11391    Vietnam       Vinh
9215  Heidelberg United   12529  Australia  Melbourne
9216  Mladost Medoševac     NaN     Serbia  Medoševac

In [133]:
df_teams_data[df_teams_data.duplicated(subset=['f_team', 'country'])]

Empty DataFrame
Columns: [f_team, team_id, country, city]
Index: []

In [134]:
df_teams_data.rename(columns={'team':'f_team'}, inplace=True)

In [135]:
print('shape - ', df_for_cities.shape[0])
df_for_cities = df_for_cities.merge(df_teams_data, how='left', left_on=['f_team', 'country'], right_on=['f_team', 'country'])
print('shape - ', df_for_cities.shape[0])

shape -  26040
shape -  26040

In [136]:
df_for_cities.head(3)

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue,f_team,pos_f,pts_f,pos_s,pts_s,fs_pos_max,fs_pts_max,f_pow,desc,country,team_id,city
0,1600750,FNL-2,1147,310,26.05.2022 15:00,Chernomorets Novorossiysk - Druzhba,5:1,thr,Chernomorets Novorossiysk,5.0,60.0,11.0,32.0,"5 - 11, 17","60 - 32, 80",Fav,sum_coef_13,Russia,7407,Novorossiysk
1,1627637,Superliga,447,310,26.05.2022 15:00,Skenderbeu - Teuta Durrës,0:0,thr,Skenderbeu,10.0,26.0,6.0,50.0,"10 - 6, 10","26 - 50, 73",Pre,sum_coef_13,Albania,734,Korçë
2,1627640,Superliga,447,310,26.05.2022 15:00,Tirana - Kukësi,2:3,thr,Tirana,1.0,73.0,4.0,55.0,"1 - 4, 10","73 - 55, 73",Fav,sum_coef_13,Albania,None,Tirana

In [137]:
df_for_cities = df_for_cities[~df_for_cities.country.isin(['nd'])].reset_index(drop=True).copy()

In [138]:
df_for_cities.city.value_counts(dropna=False)[:3]

London          193
Madrid          185
Buenos Aires    143
Name: city, dtype: int64

#### Save this file and uncomment rows after manual adding cities and teams data

In [140]:
# Stop

In [148]:
# df_for_cities = df_for_cities[~df_for_cities.city.isna()].reset_index(drop=True).copy()

In [149]:
# df_for_cities = df_for_cities[~df_for_cities.city.isin(['nd'])].reset_index(drop=True).copy()

In [150]:
# df_for_cities

In [147]:
# df_for_geo_coords = df_for_cities.copy()
# print('shape - ', df_for_geo_coords.shape[0])
# df_for_geo_coords.tail(3)

In [146]:
# file = open('pickle_files/df_for_geo_coords_26_05_2022_sec', 'wb')
# pickle.dump(df_for_geo_coords, file)  
# file.close()

#### For find teams with na cities

In [ ]:
# df_na_cities = pd.DataFrame(df_for_cities[['f_team', 'country']][df_for_cities.city.isna()])

In [ ]:
# df_na_cities = df_na_cities.drop_duplicates(subset=['f_team', 'country'], keep='first').reset_index(drop=True)

In [ ]:
# df_na_cities

In [ ]:
# df_teams_counts_na = df_for_cities[df_for_cities.city.isna()].f_team.value_counts()

In [ ]:
# numb = 0

In [ ]:
# len(df_teams_counts_na[df_teams_counts_na >= numb])

In [ ]:
# df_teams_counts_na[df_teams_counts_na >= numb].values.sum()

In [ ]:
# df_teams_counts_na

In [ ]:
# df_teams_counts_na_numb = df_teams_counts_na[df_teams_counts_na >= numb].index

In [ ]:
# df_teams_counts_na_numb

In [ ]:
# df_teams_cities_na = df_na_cities[df_na_cities.f_team.isin(df_teams_counts_na_numb)].reset_index(drop=True)

In [ ]:
# df_teams_cities_na

In [ ]:
# dir_data

In [ ]:
# file = open('pickle_files/df_teams_cities_na_' + dir_data, 'wb')
# pickle.dump(df_teams_cities_na, file)  
# file.close()