In [1]:
# For get tables of competitions 
# https://soccer365.ru/competitions/16/ - current tables
# https://soccer365.ru/competitions/16/2017-2018/ - for seasons

# html = requests.get('https://soccer365.me/?c=live&a=showtable&competition_id=483&season_id=307').content
# <tr class="adv_kef_wgt_odd">

In [1]:
import os
import re
import pickle
import numpy as np
import pandas as pd

from _html_parser import HtmlParser, ParsingDataPrepare, TableConstant

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [2]:
%load_ext autoreload
%autoreload 2

### Get games data

In [3]:
# Last date of season in EPL with correct datatime on 'soccer365.me': 15.08.1998
# Format: start - %m/%d/%Y, end - %m/%d/%Y
numdays = ParsingDataPrepare.count_days_by_dates('12/29/1999', '08/15/1998')
numdays

501

In [4]:
# from_26_05_2022_to_27_03_2021_games, from_26_03_2021_to_03_11_2013_games, from_02_11_2013_to_10_07_2005_games, from_09_07_2005_to_01_01_2000_games
# from_29_12_1999_to_15_08_1998_games
name = 'pickle_files/new_events/02_11_2013/from_02_11_2013_to_10_07_2005_games'

In [6]:
# HtmlParser.parsing_write_by_date(numdays=numdays, start_year=1999, start_month=12, start_day=29, file_name=name)

In [5]:
with open(name, 'rb') as f:
    games = pickle.load(f)

In [6]:
len(games)

475589

#### Check and change datatime if need '+3 utc' on 'utc'

In [12]:
# import pytz
# utc = pytz.timezone('UTC')
# localtz = pytz.timezone('Europe/Kiev')
# # pytz.all_timezones
# from datetime import datetime, timedelta

# for key, val in games.items():
#     if val[3] in ['Cancelled', 'Postponed', 'Awarded', 'Stopped', 'Delayed']:
#         continue
#     d_time = datetime.strptime(val[3], "%d.%m.%Y %H:%M")
#     localtime = localtz.localize(d_time)
#     utctime = utc.normalize(localtime.astimezone(utc))    
#     games[key][3] = utctime.strftime('%d.%m.%Y %H:%M')

In [7]:
df_to_transform = pd.DataFrame(games)
df = ParsingDataPrepare.transform_columns_to_rows(df_to_transform, ['ligue_header', 'comp_id', 'season_id', 'game_utc', 'game_title','goals', 'game_status'])

df.reset_index(inplace=True)
df.rename(columns={'index':'game_id'}, inplace=True)
df.shape

(475589, 8)

In [14]:
# df

In [15]:
# Clearing data
df_games = df[(df.game_status == 'Finished') & (df.game_utc.str.len() > 10)].copy()
# Check for dublicates
df_games.drop(columns=['game_status'], inplace=True)
df_games.drop_duplicates(subset=['game_id'], inplace=True)
df_games.drop_duplicates(subset=['game_utc', 'game_title'], inplace=True)

In [16]:
top_lgs = TableConstant.top_ligues
sec_lgs = TableConstant.second_ligues

df_games['ligue'] = np.where(df_games.comp_id.isin(top_lgs), 'top', np.where(df_games.comp_id.isin(sec_lgs), 'sec', 'thr'))

In [17]:
df_games.ligue.value_counts()

thr    274101
sec    119207
top     81096
Name: ligue, dtype: int64

In [18]:
df_games.reset_index(inplace=True, drop=True)
df_games.shape

(474404, 8)

In [19]:
df_games

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue
0,10899688,Premier League,12,38,02.11.2013 14:45,Newcastle Utd - Chelsea,2:0,top
1,10899687,Premier League,12,38,02.11.2013 17:00,Manchester City - Norwich,7:0,top
2,10899685,Premier League,12,38,02.11.2013 17:00,Fulham - Manchester United,1:3,top
3,10899686,Premier League,12,38,02.11.2013 17:00,Hull City - Sunderland,1:0,top
4,10899690,Premier League,12,38,02.11.2013 17:00,West Bromwich - Crystal Palace,2:0,top
...,...,...,...,...,...,...,...,...
474399,10134933,Premier League,644,20,11.07.2005 23:59,Al Shat - Al-Ittihad Tripoli,0:1,thr
474400,10134934,Premier League,644,20,11.07.2005 23:59,Al-Sowaihili - Al-Madina,4:0,thr
474401,10134932,Premier League,644,20,11.07.2005 23:59,Al-Ouroba - Al Hilal,5:2,thr
474402,10134935,Premier League,644,20,11.07.2005 23:59,Wefaq - Al-Akhdar,0:0,thr
474403,10134936,Premier League,644,20,11.07.2005 23:59,Al-Tahaddi - Al-Mustaqbal,0:3,thr

In [20]:
# file = open('pickle_files/new_events/df_29_12_1999_to_15_08_1998_games', 'wb')
# pickle.dump(df_games, file)  
# file.close()

### Get events data

In [3]:
with open('pickle_files/new_events/02_11_2013/df_02_11_2013_to_10_07_2005_games', 'rb') as f:
    df_load = pickle.load(f)

In [5]:
# df_load

In [4]:
# tls_one_ids_02_11_13 = ['12', '13', '14', '15', '16', '17', '18', '419', '420']
# tls_two_ids_02_11_13 = ['454', '456', '474', '483', '485', '550', '554', '560', '565']
tls_three_ids_02_11_13 =  ['577', '581', '587', '591','596', '601', '677', '681'] 
# tls_four_new_ids_26_03_21 = ['684', '695', '699', '707', '712', '716', '723', '727']

In [24]:
# tls_new_ids_26_03_21 = tls_one_new_ids_26_03_21 + tls_two_new_ids_26_03_21 + tls_three_new_ids_26_03_21 + tls_four_new_ids_26_03_21

In [25]:
# sls_one_new_ids_26_03_21 = [ '419', '424', '435', '436', '437', '444', '446', '449', '450', '457', '459', '464', '473', '477', '491']
# sls_two_new_ids_26_03_21  = ['493', '496', '498', '500', '502', '504', '507', '512', '516', '518', '523', '532', '539', '540', '542']
# slm_one_new_ids_26_03_21 = [ '544', '545', '546', '548', '551', '555', '562', '567', '576', '585', '586', '589', '595', '599', '602']
# slm_two_new_ids_26_03_21 =  ['606', '621', '622', '625', '626', '628', '632', '634', '636', '637', '642', '646', '647', '648', '653']
# sle_one_new_ids_26_03_21 = ['654', '655', '657', '659', '660', '667', '672', '674', '675', '676', '679', '685', '687', '691', '692', '697']
# sle_two_new_ids_26_03_21 = ['700', '703', '704', '714', '715', '720', '721', '725', '727', '733''735', '747', '761', '912', '1157', '1259']

In [26]:
# sls_new_ids_26_03_21 = sls_one_new_ids_26_03_21 + sls_two_new_ids_26_03_21 + slm_one_new_ids_26_03_21 + slm_two_new_ids_26_03_21 +\
#                        sle_one_new_ids_26_03_21 + sle_two_new_ids_26_03_21

In [27]:
# tls_sls_new_ids_26_03_21 = tls_new_ids_26_03_21 + sls_new_ids_26_03_21

In [5]:
leagues      =  tls_three_ids_02_11_13
leagues_name = 'tls_three_ids_02_11_13'

In [6]:
game_ids = df_load.game_id[df_load.comp_id.isin(leagues)].to_list()
len(game_ids)

17896

In [30]:
# Aftar start script 'HtmlParser.find_game_events' all events save every 500 ids in files, in last save file has all events save before.

In [ ]:
HtmlParser.find_game_events(game_ids[8001:], name_saved_file = leagues_name)

# For check for last saved game_id
# game_ids.index('1574921') 
# HtmlParser.find_game_events(game_ids[1500:], name_saved_file = leagues_name)

In [8]:
with open('pickle_files/tls_three_ids_02_11_13_10478055', 'rb') as f:
    events_games = pickle.load(f)

In [9]:
# From_02_11_2013_to_10_07_2005_games
# first id   count     name               last id
# 10912069 - 8001 -  tls_three_ids_02_11_13_10478055

In [10]:
# 'teams_ids' column not in all events files
df_pickle = pd.DataFrame(events_games)
df_events = ParsingDataPrepare.transform_columns_to_rows(df_pickle, ['teams_ids', 'event_mins', 'event_desc', 'stats_dict', 
                                                                     'city_country', 'viewers', 'weath_temp', 'bets'])

df_events.reset_index(inplace=True)
df_events.rename(columns={'index':'game_id'}, inplace=True)
df_events.shape

(8001, 9)

In [11]:
df_events.head()

,game_id,teams_ids,event_mins,event_desc,stats_dict,city_country,viewers,weath_temp,bets
0,10912069,8075 - 123,"[4, 5, 7, 13, 26, 33, 34, 58, 61, 66, 79, 84, +, +, +]","[yellowcard, yellowcard, yellowcard, goal, yellowcard, yellowred, goal, goal, goal, yellowcard, mispen, goal, yellowcard, redcard, yellowcard]","[(Shots, 2, 9), (Shots on target, 2, 9), (Saves, 6, 1), (Possession %, 28, 72), (Corner, 3, 8), (Fouls, 13, 16), (Offsides, 2, 3), (Yellow cards, 0, 0), (Red cards, 0, 0), (Pass percentage %, 63.33, 88.79)]","Lisbon, Portugal","6,992","(+17, partly cloudy)","([1, X, 2, ТМ 2.5, ТБ 2.5], [14.00, 6.45, 1.22, 2.18, 1.65])"
1,10912070,6887 - 153,"[5, 33, 38, 52, 89, 90, +]","[goal, yellowcard, goal, yellowcard, yellowcard, yellowcard, yellowcard]","[(Shots, 2, 4), (Shots on target, 2, 4), (Saves, 3, 1), (Possession %, 32, 68), (Corner, 4, 8), (Fouls, 16, 15), (Offsides, 2, 2), (Yellow cards, 0, 0), (Red cards, 0, 0), (Pass percentage %, 76.87, 87.21)]","Funchal, Portugal","6,221","(+18, partly cloudy)","([1, X, 2, ТМ 2.5, ТБ 2.5], [6.50, 4.10, 1.54, 1.94, 1.95])"
2,10903429,202 - 6,"[15, 24, 52, 56, 73, 73, 76, 87]","[goal, yellowcard, goal, goal, yellowcard, yellowcard, yellowcard, goal]","[(Shots, 13, 14), (Shots on target, 6, 5), (Shots Blocked, 3, 0), (Saves, 3, 4), (Possession %, 38, 62), (Corner, 5, 6), (Fouls, 7, 7), (Offsides, 0, 1), (Yellow cards, 0, 4), (Red cards, 0, 0), (Counterattacks, 2, 1), (Free Kicks, 8, 7), (Goal Kicks, 13, 4), (Throw Ins, 23, 17), (Crosses, 8, 17), (Treatment, 1, 0)]","Arnhem, Netherlands","18,920","(+14, overcast)","([1, X, 2, ТМ 2.5, ТБ 2.5], [5.25, 4.84, 1.54, 2.99, 1.37])"
3,10903430,537 - 249,"[58, 72, 89]","[goal, goal, goal]","[(Shots, 20, 3), (Shots on target, 6, 2), (Shots Blocked, 5, 0), (Saves, 1, 4), (Possession %, 68, 32), (Corner, 17, 0), (Fouls, 5, 6), (Offsides, 1, 2), (Yellow cards, 0, 0), (Red cards, 0, 0), (Counterattacks, 1, 0), (Free Kicks, 8, 6), (Goal Kicks, 1, 9), (Throw Ins, 20, 22), (Crosses, 55, 6), (Treatment, 0, 8)]","Alkmaar, Netherlands",0,"(+19, sunny)","([1, X, 2, ТМ 2.5, ТБ 2.5], [1.11, 10.00, 22.00, 3.78, 1.25])"
4,10903431,6974 - 159,[],[],[],"Nijmegen, Netherlands",,"(+15, overcast)","([], [])"

In [12]:
df_events.shape

(8001, 9)

In [13]:
df_events.head()

,game_id,teams_ids,event_mins,event_desc,stats_dict,city_country,viewers,weath_temp,bets
0,10912069,8075 - 123,"[4, 5, 7, 13, 26, 33, 34, 58, 61, 66, 79, 84, +, +, +]","[yellowcard, yellowcard, yellowcard, goal, yellowcard, yellowred, goal, goal, goal, yellowcard, mispen, goal, yellowcard, redcard, yellowcard]","[(Shots, 2, 9), (Shots on target, 2, 9), (Saves, 6, 1), (Possession %, 28, 72), (Corner, 3, 8), (Fouls, 13, 16), (Offsides, 2, 3), (Yellow cards, 0, 0), (Red cards, 0, 0), (Pass percentage %, 63.33, 88.79)]","Lisbon, Portugal","6,992","(+17, partly cloudy)","([1, X, 2, ТМ 2.5, ТБ 2.5], [14.00, 6.45, 1.22, 2.18, 1.65])"
1,10912070,6887 - 153,"[5, 33, 38, 52, 89, 90, +]","[goal, yellowcard, goal, yellowcard, yellowcard, yellowcard, yellowcard]","[(Shots, 2, 4), (Shots on target, 2, 4), (Saves, 3, 1), (Possession %, 32, 68), (Corner, 4, 8), (Fouls, 16, 15), (Offsides, 2, 2), (Yellow cards, 0, 0), (Red cards, 0, 0), (Pass percentage %, 76.87, 87.21)]","Funchal, Portugal","6,221","(+18, partly cloudy)","([1, X, 2, ТМ 2.5, ТБ 2.5], [6.50, 4.10, 1.54, 1.94, 1.95])"
2,10903429,202 - 6,"[15, 24, 52, 56, 73, 73, 76, 87]","[goal, yellowcard, goal, goal, yellowcard, yellowcard, yellowcard, goal]","[(Shots, 13, 14), (Shots on target, 6, 5), (Shots Blocked, 3, 0), (Saves, 3, 4), (Possession %, 38, 62), (Corner, 5, 6), (Fouls, 7, 7), (Offsides, 0, 1), (Yellow cards, 0, 4), (Red cards, 0, 0), (Counterattacks, 2, 1), (Free Kicks, 8, 7), (Goal Kicks, 13, 4), (Throw Ins, 23, 17), (Crosses, 8, 17), (Treatment, 1, 0)]","Arnhem, Netherlands","18,920","(+14, overcast)","([1, X, 2, ТМ 2.5, ТБ 2.5], [5.25, 4.84, 1.54, 2.99, 1.37])"
3,10903430,537 - 249,"[58, 72, 89]","[goal, goal, goal]","[(Shots, 20, 3), (Shots on target, 6, 2), (Shots Blocked, 5, 0), (Saves, 1, 4), (Possession %, 68, 32), (Corner, 17, 0), (Fouls, 5, 6), (Offsides, 1, 2), (Yellow cards, 0, 0), (Red cards, 0, 0), (Counterattacks, 1, 0), (Free Kicks, 8, 6), (Goal Kicks, 1, 9), (Throw Ins, 20, 22), (Crosses, 55, 6), (Treatment, 0, 8)]","Alkmaar, Netherlands",0,"(+19, sunny)","([1, X, 2, ТМ 2.5, ТБ 2.5], [1.11, 10.00, 22.00, 3.78, 1.25])"
4,10903431,6974 - 159,[],[],[],"Nijmegen, Netherlands",,"(+15, overcast)","([], [])"

#### Unite parsing events files in dataframe:

In [14]:
stop

NameError: name 'stop' is not defined

In [ ]:
# pickle_files/new_events/26_05_2022/events_ids/, 
path = 'pickle_files/new_events/26_05_2022/events_ids/'
all_events_games = list()

for file in os.listdir(path):
    with open(path + file, 'rb') as f:
        events_games = pickle.load(f)
        all_events_games.append(events_games)

In [ ]:
len(all_events_games)

In [ ]:
df_list   = []
col_names = ['teams_ids', 'event_mins', 'event_hts_ats', 'stats_dict', 'city_country', 'viewers', 'weath_temp', 'bet_coefs']

for game in all_events_games:
    df_to_transform = pd.DataFrame(game)
    df_create = ParsingDataPrepare.transform_columns_to_rows(df_to_transform, col_names)
    
    df_list.append(df_create)

df_events = pd.concat(df_list)

In [ ]:
df_events = df_events.reset_index().rename(columns={'index': 'game_id'})

In [ ]:
df_events.head(1)

In [ ]:
# file = open('pickle_files/new_events/df_evns_26_05_2022_to_27_03_2021', 'wb')
# pickle.dump(df_events, file)  
# file.close()