In [1]:
# For get tables of competitions 
# https://soccer365.ru/competitions/16/ - current tables
# https://soccer365.ru/competitions/16/2017-2018/ - for seasons

# html = requests.get('https://soccer365.me/?c=live&a=showtable&competition_id=483&season_id=307').content
# <tr class="adv_kef_wgt_odd">

In [2]:
import pickle
import pandas as pd

from _html_parser import HtmlParser, ParsingDataPrepare

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
numdays = HtmlParser.count_days_by_dates('5/26/2022', '3/27/2021')
numdays

425

In [5]:
name = 'pickle_files/from_26_05_2022_to_27_03_2021_matches'

In [6]:
# HtmlParser.parsing_write_by_date(numdays=1, start_year=2022, start_month=5, start_day=26, file_name=name)

In [7]:
with open(name, 'rb') as f:
    matches = pickle.load(f)

In [8]:
df_to_transform = pd.DataFrame(matches)
df = ParsingDataPrepare.transform_columns_to_rows(df_to_transform, ['ligue_header', 'comp_id', 'season_id', 'game_utc', 'game_title','goals', 'game_status'])

df.reset_index(inplace=True)
df.rename(columns={'index':'game_id'}, inplace=True)
df.shape

(94267, 8)

In [9]:
df_finished = df.loc[df.game_status == 'Finished']
df_finished.shape

(91921, 8)

In [10]:
# tls_one_26_05_2022 = ['12', '13', '14', '15', '16', '17', '18', '419', '420']
# tls_two_26_05_2022 = ['454', '456', '474', '483', '485', '550', '554', '560', '565']
# tls_three_26_05_2022 =  ['577', '581', '587', '591','596', '601', '677', '681'] 
# tls_four_26_05_2022 = ['684', '695', '699', '707', '712', '716', '723', '727']

In [11]:
# sls_one_26_05_2022 = [ '419', '424', '435', '436', '437', '444', '446', '449', '450', '457', '459', '464', '473', '477', '491']
# sls_two_26_05_2022  = ['493', '496', '498', '500', '502', '504', '507', '512', '516', '518', '523', '532', '539', '540', '542']
# slm_one_26_05_2022 = [ '544', '545', '546', '548', '551', '555', '562', '567', '576', '585', '586', '589', '595', '599', '602']
# slm_two_26_05_2022 =  ['606', '621', '622', '625', '626', '628', '632', '634', '636', '637', '642', '646', '647', '648', '653']
# sle_one_6_05_2022 = ['654', '655', '657', '659', '660', '667', '672', '674', '675', '676', '679', '685', '687', '691', '692', '697']
sle_two_6_05_2022 = ['700', '703', '704', '714', '715', '720', '721', '725', '727', '733''735', '747', '761', '912', '1157', '1259']

In [12]:
leagues      =  sle_two_6_05_2022
leagues_name = 'sle_two_6_05_2022'

In [13]:
game_ids = df_finished.game_id[df_finished.comp_id.isin(leagues)].to_list()
len(game_ids)

2729

In [14]:
# Aftar start script 'HtmlParser.find_game_events' all events save every 500 ids in files, in last save file has all events save before.

In [51]:
# HtmlParser.find_game_events(game_ids, name_saved_file = leagues_name)

# For check for last saved game_id
# game_ids.index('1574921') 
# HtmlParser.find_game_events(game_ids[1500:], name_saved_file = leagues_name)

In [52]:
# tls_one_26_05_2022 count - 3688

# first id   count     name               last id
# 1729359  - 3000    - tls_one_26_05_2022_15098186 
# 15098192 -  687    - tls_one_26_05_2022_15178134
# 1708335  - 3000    - tls_two_26_05_2022_15144810
# 15144811 -  328    - tls_two_26_05_2022_15105932
# 1729388  - 1500    - tls_tree_26_05_2022_1564802
# 1564798  - 1249    - tls_tree_26_05_2022_15174120
# 1729417  - 2995    - tls_four_26_05_2022_15178565
# 1706044  - 1000    - sls_one_26_05_2022_1680670
# 1680666  - 3551    - sls_one_26_05_2022_15091822
# 1701820  - 1500    - sls_two_26_05_2022_15096918
# 15096917 - 385     - sls_two_26_05_2022_15091222
# 1686866  - 2000    - slm_one_26_05_2022_1559813
# 15080693 - 2262    - slm_one_26_05_2022_15160228
# 1729511  - 4000    - slm_two_26_05_2022_15092582
# 15092738 - 403     - slm_two_26_05_2022_15191028
# 1687458  - 500     - sle_two_6_05_2022_1596922
# 1716495  - 1000    - sle_two_6_05_2022_15101770
# 15101770 - 1228    - sle_two_6_05_2022_15110666

In [45]:
with open('pickle_files/sle_two_6_05_2022_1596922', 'rb') as f:
    events_games = pickle.load(f)

In [46]:
df_pickle = pd.DataFrame(events_games)
df_events = ParsingDataPrepare.transform_columns_to_rows(df_pickle, ['event_mins', 'event_hts_ats', 'stats_dict', 
                                                                     'city_country', 'viewers', 'weath_temp', 'bets'])

df_events.reset_index(inplace=True)
df_events.rename(columns={'index':'game_id'}, inplace=True)
df_events.shape

(501, 8)

In [47]:
df_events.head()

,game_id,event_mins,event_hts_ats,stats_dict,city_country,viewers,weath_temp,bets
0,1687458,"[10, 20, 35, 40, 47, 47, 48, 54, 60, 74, 81]","[pengoal, goal, goal, goal, yellowcard, yellowcard, yellowcard, goal, yellowcard, owngoal, yellowcard]","[(Shots, 13, 9), (Shots on target, 6, 5), (Shots Blocked, 1, 2), (Saves, 2, 3), (Possession %, 59, 41), (Corner, 7, 4), (Fouls, 11, 15), (Offsides, 2, 2), (Yellow cards, 1, 4), (Red cards, 0, 0), (Attacks, 139, 83), (Attacks (Dangerous), 53, 27), (Pass, 498, 355), (Pass percentage %, 77, 68), (Free Kicks, 17, 12), (Throw Ins, 29, 19), (Tackles, 20, 15)]","Trondheim, Norway","11,076","(+12, partly cloudy)","([1, X, 2, ТМ 2.5, ТБ 2.5], [1.47, 4.50, 5.90, 2.33, 1.59])"
1,1687459,"[51, 66, 68, 83]","[goal, goal, goal, yellowcard]","[(Shots, 16, 17), (Shots on target, 6, 8), (Shots Blocked, 2, 3), (Saves, 6, 5), (Possession %, 61, 39), (Corner, 6, 4), (Fouls, 9, 5), (Offsides, 0, 1), (Yellow cards, 0, 1), (Red cards, 0, 0), (Attacks, 161, 82), (Attacks (Dangerous), 106, 35), (Pass, 641, 425), (Pass percentage %, 87, 77), (Free Kicks, 6, 9), (Throw Ins, 23, 11), (Tackles, 12, 16)]","Sarpsborg, Norway","4,635","(+17, sunny)","([1, X, 2, ТМ 2.5, ТБ 2.5], [2.78, 3.64, 2.21, 2.39, 1.53])"
2,1729415,"[8, 11, 39, +, 51, 59, 72, 86]","[goal, goal, goal, pengoal, goal, yellowcard, goal, goal]","[(Shots, 10, 14), (Shots on target, 5, 8), (Saves, 3, 3), (Possession %, 50, 50), (Corner, 5, 4), (Yellow cards, 1, 0), (Red cards, 0, 0), (Attacks, 89, 112), (Attacks (Dangerous), 50, 58), (Free Kicks, 15, 12), (Throw Ins, 18, 30)]",Slovenia,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [2.42, 3.32, 2.47, 1.83, 1.97])"
3,1728547,"[11, 11, 22, 63, 90]","[pengoal, yellowcard, goal, yellowcard, goal]","[(Shots, 9, 17), (Shots on target, 1, 5), (Shots Blocked, 4, 7), (Saves, 3, 0), (Possession %, 54, 46), (Corner, 6, 5), (Fouls, 16, 8), (Offsides, 1, 1), (Yellow cards, 0, 2), (Red cards, 0, 0), (Attacks, 93, 77), (Attacks (Dangerous), 62, 50), (Pass, 338, 302), (Pass percentage %, 77, 76), (Tackles, 16, 17)]",,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [2.16, 3.86, 2.89, 2.72, 1.40])"
4,1728545,"[2, 6, 41, +, 50, 53, 77, +]","[redcard, pengoal, redcard, yellowcard, redcard, goal, yellowcard, yellowcard]",[],,,,"([], [])"

In [48]:
df_events.shape

(501, 8)

In [49]:
df_events.head()

,game_id,event_mins,event_hts_ats,stats_dict,city_country,viewers,weath_temp,bets
0,1687458,"[10, 20, 35, 40, 47, 47, 48, 54, 60, 74, 81]","[pengoal, goal, goal, goal, yellowcard, yellowcard, yellowcard, goal, yellowcard, owngoal, yellowcard]","[(Shots, 13, 9), (Shots on target, 6, 5), (Shots Blocked, 1, 2), (Saves, 2, 3), (Possession %, 59, 41), (Corner, 7, 4), (Fouls, 11, 15), (Offsides, 2, 2), (Yellow cards, 1, 4), (Red cards, 0, 0), (Attacks, 139, 83), (Attacks (Dangerous), 53, 27), (Pass, 498, 355), (Pass percentage %, 77, 68), (Free Kicks, 17, 12), (Throw Ins, 29, 19), (Tackles, 20, 15)]","Trondheim, Norway","11,076","(+12, partly cloudy)","([1, X, 2, ТМ 2.5, ТБ 2.5], [1.47, 4.50, 5.90, 2.33, 1.59])"
1,1687459,"[51, 66, 68, 83]","[goal, goal, goal, yellowcard]","[(Shots, 16, 17), (Shots on target, 6, 8), (Shots Blocked, 2, 3), (Saves, 6, 5), (Possession %, 61, 39), (Corner, 6, 4), (Fouls, 9, 5), (Offsides, 0, 1), (Yellow cards, 0, 1), (Red cards, 0, 0), (Attacks, 161, 82), (Attacks (Dangerous), 106, 35), (Pass, 641, 425), (Pass percentage %, 87, 77), (Free Kicks, 6, 9), (Throw Ins, 23, 11), (Tackles, 12, 16)]","Sarpsborg, Norway","4,635","(+17, sunny)","([1, X, 2, ТМ 2.5, ТБ 2.5], [2.78, 3.64, 2.21, 2.39, 1.53])"
2,1729415,"[8, 11, 39, +, 51, 59, 72, 86]","[goal, goal, goal, pengoal, goal, yellowcard, goal, goal]","[(Shots, 10, 14), (Shots on target, 5, 8), (Saves, 3, 3), (Possession %, 50, 50), (Corner, 5, 4), (Yellow cards, 1, 0), (Red cards, 0, 0), (Attacks, 89, 112), (Attacks (Dangerous), 50, 58), (Free Kicks, 15, 12), (Throw Ins, 18, 30)]",Slovenia,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [2.42, 3.32, 2.47, 1.83, 1.97])"
3,1728547,"[11, 11, 22, 63, 90]","[pengoal, yellowcard, goal, yellowcard, goal]","[(Shots, 9, 17), (Shots on target, 1, 5), (Shots Blocked, 4, 7), (Saves, 3, 0), (Possession %, 54, 46), (Corner, 6, 5), (Fouls, 16, 8), (Offsides, 1, 1), (Yellow cards, 0, 2), (Red cards, 0, 0), (Attacks, 93, 77), (Attacks (Dangerous), 62, 50), (Pass, 338, 302), (Pass percentage %, 77, 76), (Tackles, 16, 17)]",,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [2.16, 3.86, 2.89, 2.72, 1.40])"
4,1728545,"[2, 6, 41, +, 50, 53, 77, +]","[redcard, pengoal, redcard, yellowcard, redcard, goal, yellowcard, yellowcard]",[],,,,"([], [])"

In [50]:
# First events from all_matches
# 11967929 - 12997 - second_ligues_start_11967929
# 11925466 - 5498  - second_ligues_start_10991305
# 11258622 - 2000 - second_ligues_start__11028911
# 10856567 - 3200 - second_ligues_start_10924530
# 1507965 - 5500 - second_ligues_start_2_11935838
# 11935833 - 4840 - second_ligues_start_2_10932840

# 1445410 - 9500 - second_ligues_middle_12606526
# 12606530 - 5500 - second_ligues_middle_11937265
# 11937267 - 11630 - second_ligues_middle_10961666
# 1521058 - 10000 - second_ligues_middle_2_12621697
# 12621701 - 6500 - second_ligues_middle_2_11478148
# 11511623 - 5500- second_ligues_middle_2_14513946
# 11065258 - 2000 - second_ligues_middle_2_14385660
# 10884541 - 650 - second_ligues_middle_2_10884423

# 1427554 - 6000 - second_ligues_end_14128217
# 14128214 - 500 - second_ligues_end_14145950
# 14145944 - 5000 - second_ligues_end_11902890
# 11914011 - 9000 - second_ligues_end_10869236
# 11012263 - 2500 - second_ligues_end_10915569

# 1533922 - 8000 - second_ligues_end_2_11907597
# 511894218 - 500 - second_ligues_end_2_12558586
# 12558685 - 6500 - second_ligues_end_2_10861138
# 11057180 - 1000 - second_ligues_end_2_10932349
# 10932346 - 500 - second_ligues_end_2_10934906
# 10934905 - 409 - second_ligues_end_2_10625206

# 1432501 - 7500 - top_ligues_end_12563304
# 12563302 - 9130 - top_ligues_end_10911255
# 12567313 - 9146 - top_ligues_end_2_10909453
# 1458512 - 7500 - top_ligues_end_2_12567311
# 1529443  - 19084 - top_ligues_start_2_1090378
# 11920204 - 9495 - top_ligues_start_1_10900138
# 1442836  - 2001 - top_ligues_start_1_14893395
# 14893402 - 501  - top_ligues_start_1_14919434
# 14919433 - 501  - top_ligues_start_1_14900239
# 14900237 - 1001 - top_ligues_start_1_14101959
# 14898253 - 1001 - top_ligues_start_1_14898150
# 14898157 - 7995 - top_ligues_start_1_11920200