In [1]:
# For get tables of competitions 
# https://soccer365.ru/competitions/16/ - current tables
# https://soccer365.ru/competitions/16/2017-2018/ - for seasons

# html = requests.get('https://soccer365.me/?c=live&a=showtable&competition_id=483&season_id=307').content
# <tr class="adv_kef_wgt_odd">

In [1]:
import os
import re
import pickle
import numpy as np
import pandas as pd

from _html_parser import HtmlParser, ParsingDataPrepare, TableConstant

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# Last date of season in EPL with correct datatime on 'soccer365.me': 15.08.1998
# Format: start - %m/%d/%Y, end - %m/%d/%Y
numdays = ParsingDataPrepare.count_days_by_dates('12/29/1999', '08/15/1998')
numdays

501

In [3]:
# from_26_05_2022_to_27_03_2021_games, from_26_03_2021_to_03_11_2013_games, from_02_11_2013_to_10_07_2005_games, from_09_07_2005_to_01_01_2000_games
# from_29_12_1999_to_15_08_1998_games
name = 'pickle_files/new_events/from_29_12_1999_to_15_08_1998_games'

In [4]:
HtmlParser.parsing_write_by_date(numdays=1, start_year=1999, start_month=12, start_day=29, file_name=name)

1999-12-29
Data is saved

In [17]:
with open(name, 'rb') as f:
    games = pickle.load(f)

In [18]:
len(games)

2

#### Check and change datatime if need '+3 utc' on 'utc'

In [7]:
# import pytz
# utc = pytz.timezone('UTC')
# localtz = pytz.timezone('Europe/Kiev')
# # pytz.all_timezones
# from datetime import datetime, timedelta

# for key, val in games.items():
#     if val[3] in ['Cancelled', 'Postponed', 'Awarded', 'Stopped', 'Delayed']:
#         continue
#     d_time = datetime.strptime(val[3], "%d.%m.%Y %H:%M")
#     localtime = localtz.localize(d_time)
#     utctime = utc.normalize(localtime.astimezone(utc))    
#     games[key][3] = utctime.strftime('%d.%m.%Y %H:%M')

In [19]:
df_to_transform = pd.DataFrame(games)
df = ParsingDataPrepare.transform_columns_to_rows(df_to_transform, ['ligue_header', 'comp_id', 'season_id', 'game_utc', 'game_title','goals', 'game_status'])

df.reset_index(inplace=True)
df.rename(columns={'index':'game_id'}, inplace=True)
df.shape

(2, 8)

In [23]:
# df

In [21]:
# Clearing data
df_games = df[(df.game_status == 'Finished') & (df.game_utc.str.len() > 10)].copy()
# Check for dublicates
df_games.drop(columns=['game_status'], inplace=True)
df_games.drop_duplicates(subset=['game_id'], inplace=True)
df_games.drop_duplicates(subset=['game_utc', 'game_title'], inplace=True)

In [21]:
top_lgs = TableConstant.top_ligues
sec_lgs = TableConstant.second_ligues

df_games['ligue'] = np.where(df_games.comp_id.isin(top_lgs), 'top', np.where(df_games.comp_id.isin(sec_lgs), 'sec', 'thr'))

In [22]:
df_games.ligue.value_counts()

top    17983
thr    11339
sec     4188
Name: ligue, dtype: int64

In [23]:
df_games.reset_index(inplace=True, drop=True)
df_games.shape

(33510, 8)

In [26]:
df_games

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue
0,10761221,Premier Liga,13,19,09.07.2005 10:00,Spartak Moscow - Lokomotiv Moscow,1:2,top
1,10761218,Premier Liga,13,19,09.07.2005 13:00,Amkar - Torpedo Moscow,0:0,top
2,10761217,Premier Liga,13,19,09.07.2005 14:00,FK Rostov - Zenit Petersburg,0:1,top
3,10761216,Premier Liga,13,19,09.07.2005 14:00,Alania Vladikavkaz - CSKA Moscow,1:1,top
4,10761219,Premier Liga,13,19,09.07.2005 14:00,Rubin Kazan - Shinnik,2:0,top
...,...,...,...,...,...,...,...,...
33505,10742696,Premier League,12,43,03.01.2000 19:00,Everton - Leicester City,2:2,top
33506,10742700,Premier League,12,43,03.01.2000 19:00,Southampton - Bradford City,1:0,top
33507,10742702,Premier League,12,43,03.01.2000 19:00,Wimbledon - Sunderland,1:0,top
33508,10742697,Premier League,12,43,03.01.2000 19:00,Leeds United - Aston Villa,1:2,top
33509,10742695,Premier League,12,43,03.01.2000 19:00,Derby County - Watford,2:0,top

In [30]:
# file = open('pickle_files/new_events/df_09_07_2005_to_01_01_2000_games', 'wb')
# pickle.dump(df_games, file)  
# file.close()

In [28]:
with open('pickle_files/new_events/df_09_07_2005_to_01_01_2000_games', 'rb') as f:
    df_load = pickle.load(f)

In [29]:
# df_load

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue
0,10761221,Premier Liga,13,19,09.07.2005 10:00,Spartak Moscow - Lokomotiv Moscow,1:2,top
1,10761218,Premier Liga,13,19,09.07.2005 13:00,Amkar - Torpedo Moscow,0:0,top
2,10761217,Premier Liga,13,19,09.07.2005 14:00,FK Rostov - Zenit Petersburg,0:1,top
3,10761216,Premier Liga,13,19,09.07.2005 14:00,Alania Vladikavkaz - CSKA Moscow,1:1,top
4,10761219,Premier Liga,13,19,09.07.2005 14:00,Rubin Kazan - Shinnik,2:0,top
...,...,...,...,...,...,...,...,...
33505,10742696,Premier League,12,43,03.01.2000 19:00,Everton - Leicester City,2:2,top
33506,10742700,Premier League,12,43,03.01.2000 19:00,Southampton - Bradford City,1:0,top
33507,10742702,Premier League,12,43,03.01.2000 19:00,Wimbledon - Sunderland,1:0,top
33508,10742697,Premier League,12,43,03.01.2000 19:00,Leeds United - Aston Villa,1:2,top
33509,10742695,Premier League,12,43,03.01.2000 19:00,Derby County - Watford,2:0,top

In [533]:
tls_one_new_ids_26_03_21 = ['12', '13', '14', '15', '16', '17', '18', '419', '420']
# tls_two_new_ids_26_03_21 = ['454', '456', '474', '483', '485', '550', '554', '560', '565']
# tls_three_new_ids_26_03_21 =  ['577', '581', '587', '591','596', '601', '677', '681'] 
# tls_four_new_ids_26_03_21 = ['684', '695', '699', '707', '712', '716', '723', '727']

In [534]:
# tls_new_ids_26_03_21 = tls_one_new_ids_26_03_21 + tls_two_new_ids_26_03_21 + tls_three_new_ids_26_03_21 + tls_four_new_ids_26_03_21

In [537]:
# sls_one_new_ids_26_03_21 = [ '419', '424', '435', '436', '437', '444', '446', '449', '450', '457', '459', '464', '473', '477', '491']
# sls_two_new_ids_26_03_21  = ['493', '496', '498', '500', '502', '504', '507', '512', '516', '518', '523', '532', '539', '540', '542']
# slm_one_new_ids_26_03_21 = [ '544', '545', '546', '548', '551', '555', '562', '567', '576', '585', '586', '589', '595', '599', '602']
# slm_two_new_ids_26_03_21 =  ['606', '621', '622', '625', '626', '628', '632', '634', '636', '637', '642', '646', '647', '648', '653']
# sle_one_new_ids_26_03_21 = ['654', '655', '657', '659', '660', '667', '672', '674', '675', '676', '679', '685', '687', '691', '692', '697']
# sle_two_new_ids_26_03_21 = ['700', '703', '704', '714', '715', '720', '721', '725', '727', '733''735', '747', '761', '912', '1157', '1259']

In [539]:
# sls_new_ids_26_03_21 = sls_one_new_ids_26_03_21 + sls_two_new_ids_26_03_21 + slm_one_new_ids_26_03_21 + slm_two_new_ids_26_03_21 +\
#                        sle_one_new_ids_26_03_21 + sle_two_new_ids_26_03_21

In [540]:
# tls_sls_new_ids_26_03_21 = tls_new_ids_26_03_21 + sls_new_ids_26_03_21

In [541]:
leagues      =  tls_sls_new_ids_26_03_21
leagues_name = 'tls_sls_new_ids_26_03_21'

In [542]:
game_ids = df_load.game_id[df_load.comp_id.isin(leagues)].to_list()
len(game_ids)

2967

In [ ]:
# Aftar start script 'HtmlParser.find_game_events' all events save every 500 ids in files, in last save file has all events save before.

In [12]:
# HtmlParser.find_game_events(game_ids, name_saved_file = leagues_name)

# For check for last saved game_id
# game_ids.index('1574921') 
# HtmlParser.find_game_events(game_ids[1500:], name_saved_file = leagues_name)

In [ ]:
# From_26_05_2022_to_27_03_2021_matches
# first id   count     name               last id

In [3]:
with open('pickle_files/tls_sls_new_ids_26_03_21_10903796', 'rb') as f:
    events_games = pickle.load(f)

In [4]:
df_pickle = pd.DataFrame(events_games)
df_events = ParsingDataPrepare.transform_columns_to_rows(df_pickle, ['event_mins', 'event_desc', 'stats_dict', 
                                                                     'city_country', 'viewers', 'weath_temp', 'bets'])

df_events.reset_index(inplace=True)
df_events.rename(columns={'index':'game_id'}, inplace=True)
df_events.shape

(2967, 8)

In [5]:
df_events.head()

,game_id,event_mins,event_hts_ats,stats_dict,city_country,viewers,weath_temp,bets
0,15179178,"[8, 23, 38, 54, 77, 80, +, +]","[goal, yellowcard, yellowcard, yellowcard, yellowred, goal, yellowcard, yellowcard]",[],"Odessa, Ukraine",0,"(+23, partly cloudy)","([], [])"
1,15179176,[],[],[],,,,"([], [])"
2,15080421,"[47, 89, +, +, +]","[goal, yellowcard, yellowcard, yellowcard, yellowcard]","[(Shots, 9, 13), (Shots on target, 3, 4), (Shots Blocked, 3, 5), (Saves, 4, 2), (Possession %, 49, 51), (Corner, 5, 5), (Fouls, 7, 16), (Offsides, 0, 3), (Yellow cards, 2, 2), (Red cards, 0, 0), (Attacks, 94, 113), (Attacks (Dangerous), 61, 75), (Pass, 410, 403), (Tackles, 8, 6)]",,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [2.36, 3.08, 3.13, 1.52, 2.60])"
3,15079064,[],[],[],,,,"([], [])"
4,15079063,"[22, 26, 31, 65, 81, 87]","[yellowcard, goal, yellowcard, goal, yellowcard, yellowcard]","[(Shots, 3, 6), (Shots on target, 1, 2), (Possession %, 0, 0), (Corner, 8, 3), (Yellow cards, 2, 2), (Red cards, 0, 0), (Attacks, 109, 77), (Attacks (Dangerous), 45, 20)]",,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [1.86, 3.16, 4.50, 1.43, 2.87])"

In [6]:
df_events.shape

(2967, 8)

In [11]:
df_events.head()

,game_id,event_mins,event_hts_ats,stats_dict,city_country,viewers,weath_temp,bets
0,15179178,"[8, 23, 38, 54, 77, 80, +, +]","[goal, yellowcard, yellowcard, yellowcard, yellowred, goal, yellowcard, yellowcard]",[],"Odessa, Ukraine",0,"(+23, partly cloudy)","([], [])"
1,15179176,[],[],[],,,,"([], [])"
2,15080421,"[47, 89, +, +, +]","[goal, yellowcard, yellowcard, yellowcard, yellowcard]","[(Shots, 9, 13), (Shots on target, 3, 4), (Shots Blocked, 3, 5), (Saves, 4, 2), (Possession %, 49, 51), (Corner, 5, 5), (Fouls, 7, 16), (Offsides, 0, 3), (Yellow cards, 2, 2), (Red cards, 0, 0), (Attacks, 94, 113), (Attacks (Dangerous), 61, 75), (Pass, 410, 403), (Tackles, 8, 6)]",,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [2.36, 3.08, 3.13, 1.52, 2.60])"
3,15079064,[],[],[],,,,"([], [])"
4,15079063,"[22, 26, 31, 65, 81, 87]","[yellowcard, goal, yellowcard, goal, yellowcard, yellowcard]","[(Shots, 3, 6), (Shots on target, 1, 2), (Possession %, 0, 0), (Corner, 8, 3), (Yellow cards, 2, 2), (Red cards, 0, 0), (Attacks, 109, 77), (Attacks (Dangerous), 45, 20)]",,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [1.86, 3.16, 4.50, 1.43, 2.87])"

#### Unite parsing events files in dataframe:

In [26]:
# pickle_files/new_events/26_05_2022/events_ids/, 
path = 'pickle_files/new_events/26_05_2022/events_ids/'
all_events_games = list()

for file in os.listdir(path):
    with open(path + file, 'rb') as f:
        events_games = pickle.load(f)
        all_events_games.append(events_games)

In [28]:
len(all_events_games)

27

In [36]:
df_list   = []
col_names = ['event_mins', 'event_hts_ats', 'stats_dict', 'city_country', 'viewers', 'weath_temp', 'bet_coefs']

for game in all_events_games:
    df_to_transform = pd.DataFrame(game)
    df_create = ParsingDataPrepare.transform_columns_to_rows(df_to_transform, col_names)
    
    df_list.append(df_create)

df_events = pd.concat(df_list)

In [37]:
df_events = df_events.reset_index().rename(columns={'index': 'game_id'})

In [39]:
df_events.head(1)

,game_id,event_mins,event_hts_ats,stats_dict,city_country,viewers,weath_temp,bet_coefs
0,1729343,"[5, 31, 39, 42, 64, 85, +]","[goal, pengoal, goal, yellowcard, yellowcard, yellowcard, yellowcard]","[(Shots, 15, 23), (Shots on target, 5, 5), (Shots Blocked, 6, 3), (Saves, 5, 2), (Possession %, 40, 60), (Corner, 5, 7), (Fouls, 18, 11), (Offsides, 0, 0), (Yellow cards, 3, 1), (Red cards, 0, 0), (Attacks, 84, 114), (Attacks (Dangerous), 26, 69), (Free Kicks, 14, 27)]",,,,"([1, X, 2, ТМ 2.5, ТБ 2.5], [2.08, 3.16, 3.90, 1.63, 2.39])"

In [41]:
# file = open('pickle_files/new_events/df_evns_26_05_2022_to_27_03_2021', 'wb')
# pickle.dump(df_events, file)  
# file.close()

In [16]:
# Events from_26_03_2021_to_03_11_2013_matches:
# new ids:
# first id   count     name                   last id
# 15179178 - 2967  - tls_sls_new_ids_26_03_21_10903796
# old ids:
# 11967929 - 12997 - second_ligues_start_11967929
# 11925466 - 5498  - second_ligues_start_10991305
# 11258622 - 2000 - second_ligues_start__11028911
# 10856567 - 3200 - second_ligues_start_10924530
# 1507965 - 5500 - second_ligues_start_2_11935838
# 11935833 - 4840 - second_ligues_start_2_10932840

# 1445410 - 9500 - second_ligues_middle_12606526
# 12606530 - 5500 - second_ligues_middle_11937265
# 11937267 - 11630 - second_ligues_middle_10961666
# 1521058 - 10000 - second_ligues_middle_2_12621697
# 12621701 - 6500 - second_ligues_middle_2_11478148
# 11511623 - 5500- second_ligues_middle_2_14513946
# 11065258 - 2000 - second_ligues_middle_2_14385660
# 10884541 - 650 - second_ligues_middle_2_10884423

# 1427554 - 6000 - second_ligues_end_14128217
# 14128214 - 500 - second_ligues_end_14145950
# 14145944 - 5000 - second_ligues_end_11902890
# 11914011 - 9000 - second_ligues_end_10869236
# 11012263 - 2500 - second_ligues_end_10915569

# 1533922 - 8000 - second_ligues_end_2_11907597
# 511894218 - 500 - second_ligues_end_2_12558586
# 12558685 - 6500 - second_ligues_end_2_10861138
# 11057180 - 1000 - second_ligues_end_2_10932349
# 10932346 - 500 - second_ligues_end_2_10934906
# 10934905 - 409 - second_ligues_end_2_10625206

# 1432501 - 7500 - top_ligues_end_12563304
# 12563302 - 9130 - top_ligues_end_10911255
# 12567313 - 9146 - top_ligues_end_2_10909453
# 1458512 - 7500 - top_ligues_end_2_12567311
# 1529443  - 19084 - top_ligues_start_2_1090378
# 11920204 - 9495 - top_ligues_start_1_10900138
# 1442836  - 2001 - top_ligues_start_1_14893395
# 14893402 - 501  - top_ligues_start_1_14919434
# 14919433 - 501  - top_ligues_start_1_14900239
# 14900237 - 1001 - top_ligues_start_1_14101959
# 14898253 - 1001 - top_ligues_start_1_14898150
# 14898157 - 7995 - top_ligues_start_1_11920200

# From_26_05_2022_to_27_03_2021_matches
# first id   count     name               last id
# 1729359  - 3000    - tls_one_26_05_2022_15098186 
# 15098192 -  687    - tls_one_26_05_2022_15178134
# 1708335  - 3000    - tls_two_26_05_2022_15144810
# 15144811 -  328    - tls_two_26_05_2022_15105932
# 1729388  - 1500    - tls_tree_26_05_2022_1564802
# 1564798  - 1249    - tls_tree_26_05_2022_15174120
# 1729417  - 2995    - tls_four_26_05_2022_15178565
# 1706044  - 1000    - sls_one_26_05_2022_1680670
# 1680666  - 3551    - sls_one_26_05_2022_15091822
# 1701820  - 1500    - sls_two_26_05_2022_15096918
# 15096917 - 385     - sls_two_26_05_2022_15091222
# 1686866  - 2000    - slm_one_26_05_2022_1559813
# 15080693 - 2262    - slm_one_26_05_2022_15160228
# 1729511  - 4000    - slm_two_26_05_2022_15092582
# 15092738 - 403     - slm_two_26_05_2022_15191028
# 1687458  - 500     - sle_two_6_05_2022_1596922
# 1716495  - 1000    - sle_two_6_05_2022_15101770
# 15101770 - 1228    - sle_two_6_05_2022_15110666