In [26]:
import re
import pickle
import time
import requests
import pandas as pd
from bs4 import BeautifulSoup

from _html_parser import HtmlParser

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [27]:
%load_ext autoreload
%autoreload 2

In [3]:
with open('pickle_files/teams_data/tmd_26_05_2022/df_teams_cities_na_26_05_2022_second', 'rb') as f:
    df_game_ids_na_cities = pickle.load(f)

In [27]:
df_game_ids_na_cities

               f_team         country
0               Skeid          Norway
1     Stjordals-Blink          Norway
2           Vasalunds          Sweden
3       Víkingur Gøta   Faroe Islands
4                 B68   Faroe Islands
...               ...             ...
1289    Atletico Cali        Colombia
1290          Blansko  Czech Republic
1291          Chiasso     Switzerland
1292   Dynamo Dresden         Germany
1293   Radnicki Pirot          Serbia

[1294 rows x 2 columns]

In [4]:
teams_for_ids = df_game_ids_na_cities.f_team.values
print('shape - ', len(teams_for_ids))
teams_for_ids[-3:]

shape -  1294

array(['Chiasso', 'Dynamo Dresden', 'Radnicki Pirot'], dtype=object)

#### Parsing teams ids

In [75]:
# HtmlParser.find_teams_ids(teams_for_ids)

Current_1000_teams_ids_saved - IMT Beograd
Current_1000_teams_ids_saved - Radnicki Pirot
Teams ids saved with last name: Radnicki Pirot

In [5]:
with open('pickle_files/teams_data/tmd_26_05_2022/teams_ids_na_cities_Radnicki Pirot', 'rb') as f:
    lst_teams_ids = pickle.load(f)

In [6]:
print('shape - ', len(lst_teams_ids))
lst_teams_ids[-3:]

shape -  1294

[['Chiasso', '7422'], ['Dynamo Dresden', '7175'], ['Radnicki Pirot', '12683']]

In [7]:
teams_ids = [x[1] for x in lst_teams_ids if x[1] is not None]

In [8]:
print('shape - ', len(teams_ids))
teams_ids[-3:]

shape -  998

['7422', '7175', '12683']

In [9]:
lst_teams_wt_id = [x[0] for x in lst_teams_ids if x[1] is None]

In [11]:
print('shape - ', len(lst_teams_wt_id))
lst_teams_wt_id[-3:]

shape -  296

['EPS', 'Ilves-Kissat', 'Atletico Cali']

In [14]:
# file = open('pickle_files/teams_data/lst_teams_wt_id_main', 'wb')
# pickle.dump(lst_teams_wt_id, file)  
# file.close()

In [49]:
df_teams_ids           = pd.DataFrame(columns=['teams_ids', 'team'])
df_teams_ids.teams_ids = [x[1] for x in lst_teams_ids]
df_teams_ids.team      = [x[0] for x in lst_teams_ids]

In [50]:
df_teams_ids = df_teams_ids.merge(df_game_ids_na_cities.country, how='left', left_index=True, right_index=True)

In [51]:
df_teams_ids

     teams_ids             team         country
0        10294            Skeid          Norway
1         8922  Stjordals-Blink          Norway
2         8970        Vasalunds          Sweden
3         None    Víkingur Gøta   Faroe Islands
4        10320              B68   Faroe Islands
...        ...              ...             ...
1289      None    Atletico Cali        Colombia
1290     17733          Blansko  Czech Republic
1291      7422          Chiasso     Switzerland
1292      7175   Dynamo Dresden         Germany
1293     12683   Radnicki Pirot          Serbia

[1294 rows x 3 columns]

#### Parsing teams data

In [15]:
# HtmlParser.find_teams_data(teams_ids[501:])

In [28]:
with open('pickle_files/teams_data/tmd_26_05_2022/teams_wiki_data_12683', 'rb') as f:
    wiki_data_12683 = pickle.load(f)

In [29]:
with open('pickle_files/teams_data/tmd_26_05_2022/teams_wiki_data_8636', 'rb') as f:
    wiki_data_8636 = pickle.load(f)

In [30]:
wiki_data = wiki_data_12683 + wiki_data_8636

In [31]:
len(wiki_data)

998

In [52]:
wiki_data[2:3]

[('365',
  'The Vietnam national football team represents Vietnam in international football and is controlled by the Vietnam Football Federation, the governing body of football in Vietnam. Vietnam was introduced to the sport by the French in the 19th century.')]

In [79]:
df_wiki_data  = pd.DataFrame(wiki_data, columns=['teams_ids', 'tm_data'])
df_teams_data = df_teams_ids.merge(df_wiki_data, how='left', left_on='teams_ids', right_on='teams_ids')

In [80]:
df_teams_data.drop_duplicates(subset=['teams_ids', 'team'], inplace=True)
df_teams_data.reset_index(drop=True, inplace=True)

In [81]:
df_teams_data

,teams_ids,team,country,tm_data
0,10294,Skeid,Norway,"Skeid is a Norwegian football club from Oslo that currently plays in 1. divisjon (OBOS-ligaen), the second tier of the Norwegian football league system. Its current home field is Nordre Åsen, after the club stopped playing at Bislett after the 2012 season."
1,8922,Stjordals-Blink,Norway,"Idrettslaget Stjørdals-Blink is a Norwegian sports club from Stjørdalshalsen, Trøndelag. It has sections for association football, team handball, volleyball, track and field, orienteering, cycling, swimming, gymnastics, speed skating, and Nordic skiing."
2,8970,Vasalunds,Sweden,"Vasalunds IF is a Swedish football club based in Solna, Stockholm. The club is affiliated with Stockholms Fotbollförbund."
3,None,Víkingur Gøta,Faroe Islands,NaN
4,10320,B68,Faroe Islands,"B68 Toftir is a Faroese football club, playing in the village of Toftir in Betri deildin."
...,...,...,...,...
1288,None,Atletico Cali,Colombia,NaN
1289,17733,Blansko,Czech Republic,FK Blansko is a professional Czech football club located in Blansko in the South Moravian Region. The club plays in the Czech National Football League. The team's success in recent history was earning promotion to the Czech National Football League.
1290,7422,Chiasso,Switzerland,"FC Chiasso is a Swiss football club based in Chiasso. It was founded in 1905. Chiasso also played in the Italian first league between 1914 and 1923. The team's most glorious period was between 1948 and 1961, when the team was promoted to the Swiss Super League."
1291,7175,Dynamo Dresden,Germany,"Sportgemeinschaft Dynamo Dresden e.V., commonly known as SG Dynamo Dresden or Dynamo Dresden, is a German football club based in Dresden, Saxony."
1292,12683,Radnicki Pirot,Serbia,

#### Data clear

In [82]:
data_is_a = df_teams_data.tm_data.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, 'is a', '\.')) if re.findall('is a', str(x)) else None)

In [83]:
data_based_in = data_is_a.map(lambda x: x if re.findall('(based in)|(city of)|(town of)|(located in)|(club from)|(club in)|(playing in)', str(x)) else None)

In [84]:
data_based_in = data_based_in.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, 'city of ', '$')) if re.findall('city of', str(x)) else x)
data_based_in = data_based_in.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, 'town of ', '$')) if re.findall('town of', str(x)) else x)
data_based_in = data_based_in.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, 'located in ', '$')) if re.findall('located in', str(x)) else x)
data_based_in = data_based_in.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, 'club from ', '$')) if re.findall('club from', str(x)) else x)
data_based_in = data_based_in.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, 'club in ', '$')) if re.findall('club in', str(x)) else x)
data_based_in = data_based_in.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, 'playing in ', '$')) if re.findall('playing in', str(x)) else x)
data_based_in = data_based_in.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, 'based in ', '$')) if re.findall('based in', str(x)) else x)

In [85]:
data_based_in = data_based_in.map(lambda x: ''.join(HtmlParser.cut_part_of_string(x, '^', ',')) if re.findall(',', str(x)) else x)

In [86]:
data_based_in

0               Oslo that currently plays in 1
1                              Stjørdalshalsen
2                                        Solna
3                                         None
4       the village of Toftir in Betri deildin
                         ...
1288                                      None
1289      Blansko in the South Moravian Region
1290                                   Chiasso
1291                                   Dresden
1292                                      None
Name: tm_data, Length: 1293, dtype: object

In [87]:
df_teams_data['city'] = data_based_in.values

In [90]:
print('shape - ', df_teams_data.shape[0])
df_teams_data.head(3)

shape -  1293

,teams_ids,team,country,tm_data,city
0,10294,Skeid,Norway,"Skeid is a Norwegian football club from Oslo that currently plays in 1. divisjon (OBOS-ligaen), the second tier of the Norwegian football league system. Its current home field is Nordre Åsen, after the club stopped playing at Bislett after the 2012 season.",Oslo that currently plays in 1
1,8922,Stjordals-Blink,Norway,"Idrettslaget Stjørdals-Blink is a Norwegian sports club from Stjørdalshalsen, Trøndelag. It has sections for association football, team handball, volleyball, track and field, orienteering, cycling, swimming, gymnastics, speed skating, and Nordic skiing.",Stjørdalshalsen
2,8970,Vasalunds,Sweden,"Vasalunds IF is a Swedish football club based in Solna, Stockholm. The club is affiliated with Stockholms Fotbollförbund.",Solna

In [92]:
# df_teams_data.to_csv('csv_files/df_teams_data_26_05_2022_sec.csv', index = None, header=True)

#### Work after manual correct

In [40]:
colnames = ['teams_ids', 'team', 'country', 'tm_data', 'city']

In [41]:
df_after_corr = pd.read_csv('csv_files/df_teams_data_26_05_2022_sec.csv', names=colnames, header=None)

In [48]:
df_after_corr[df_after_corr.teams_ids == 'teams_ids']

Empty DataFrame
Columns: [teams_ids, team, country, tm_data, city]
Index: []

In [51]:
df_after_corr.drop(1293, inplace=True)

In [52]:
df_after_corr.reset_index(drop=True, inplace=True)

In [53]:
df_after_corr

,teams_ids,team,country,tm_data,city
0,7998,Magdeburg,Germany,"1. FC Magdeburg is a German association football club based in the city of Magdeburg. The club was founded in 1965 and spent all but one season in East Germany top flight, the DDR-Oberliga, winning three championships and seven cup titles.",Magdeburg
1,9863,Koln II,Germany,"1. Fußball-Club Köln 01/07 e. V. II, commonly known as simply 1. FC Köln II, is a German football team based in Cologne. It is the reserve team of German association football club 1. FC Köln.",Cologne
2,8056,Lokomotive Leipzig,Germany,"1. Fußballclub Lokomotive Leipzig e.V. is a German football club based in the locality of Probstheida in the Südost borough of Leipzig, Saxony. The club may be more familiar to many of the country's football fans as the historic side VfB Leipzig the first national champion of Germany.",Leipzig
3,14511,Navad Urmia,Iran,"90 Urmia Football Club is a professional football club based in Urmia, Iran actually playing in the second tier Azadegan League. The club was founded in 2011 and joined the Azadegan League in August of 2018, after the transfer of Gostaresh Foulad F.C. to the city of Urmia.",Urmia
4,10571,Trento,Italy,"A.C. Trento 1921 S.S.D. is an Italian football club, and the major club in Trento. Currently they play in Serie C Group A. In 2014 Società Sportiva Dilettantistica Trento Calcio 1921 S.r.l. went bankrupt. The sports title was transferred to A.C. Trento S.C.S.D.",Trento
...,...,...,...,...,...
1288,NaN,EPS,Finland,NaN,Espoo
1289,NaN,Ilves-Kissat,Finland,NaN,Tampere
1290,15282,RoPS II,Finland,NaN,Rovaniemi
1291,NaN,Atletico Cali,Colombia,NaN,Cali
1292,12683,Radnicki Pirot,Serbia,NaN,Pirot

In [ ]:
df_after_corr[df_after_corr.city == 'nan']

In [55]:
# file = open('pickle_files/teams_data/df_after_corr_26_05_2022_sec', 'wb')
# pickle.dump(df_after_corr, file)  
# file.close()