In [1]:
import pickle
import pandas as pd
from _html_parser import HtmlParser, ParsingDataPrepare, TableConstant

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [2]:
%load_ext autoreload
%autoreload 2

### Competitions tables parser

In [51]:
# df_26_05_2022_to_27_03_2021_games, df_26_03_2021_to_03_11_2013_games
with open('pickle_files/new_events/26_03_2021/df_26_03_2021_to_03_11_2013_games', 'rb') as f:
    df_games = pickle.load(f)

In [52]:
df_games

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals
0,1458512,Segunda División,707,306,26.03.2021 17:00,Sporting Gijón - Alcorcón,0:0
1,1458506,Segunda División,707,306,26.03.2021 19:00,Castellon - Espanyol,1:3
2,1459331,First League,435,306,26.03.2021 11:00,Mykolaiv - Alians Lypova Dolyna,2:0
3,1459330,First League,435,306,26.03.2021 11:00,Polessya - Krystal Kherson,1:1
4,1459334,First League,435,306,26.03.2021 12:00,Kremin - Hirnyk-Sport,1:1
...,...,...,...,...,...,...,...
480417,14362043,Oberliga,428,38,09.11.2013 14:00,Jeddeloh - Osnabruck II,3:3
480418,15052857,Premier League,670,3,06.11.2013 09:00,Karachi Port Trust - Khan Research Laboratories,0:2
480419,15052851,Premier League,670,3,04.11.2013 09:00,Pakistan Navy - WAPDA FC,0:0
480420,15052852,Premier League,670,3,04.11.2013 09:00,Afghan FC - Pakistan Army,0:0
480421,15052853,Premier League,670,3,04.11.2013 09:00,Muslim - Khan Research Laboratories,1:1

In [53]:
comp_seasons = ParsingDataPrepare.competition_season_ids(df_games)

In [54]:
list(comp_seasons.keys())[3], list(comp_seasons.values())[3]

('1032', ['295', '181'])

In [55]:
len(comp_seasons)

607

In [56]:
dict_seasons = dict((x, y) for x, y in comp_seasons.items() if y != [])

In [39]:
# dict_seasons

In [57]:
list(dict_seasons.keys())[2], list(dict_seasons.values())[2]

('1032', ['295', '181'])

In [59]:
# comp_tables = HtmlParser.parsing_competition_tables(dict_seasons)

In [60]:
len(comp_tables)

460

In [170]:
# comp_tables

In [61]:
df_comp_tables = ParsingDataPrepare.create_df_comp_tables(comp_tables)

In [62]:
print('shape - ', df_comp_tables.shape[0])
df_comp_tables.head()

shape -  63217

          team_name team_id pos pld  w  d  l gf ga +/- pts comp_id season_id
0        Brazil U23   10614   1   3  1  2  0  4  0  +4   5    1016       179
1       Denmark U23   10611   2   3  1  1  1  1  4  -3   4    1016       179
2          Iraq U23   10610   3   3  0  3  0  1  1   0   3    1016       179
3  South Africa U23   10615   4   3  0  2  1  1  2  -1   2    1016       179
4       Nigeria U23   10621   1   3  2  0  1  6  6   0   6    1016       179

#### Fix and clear data incorrect

In [63]:
df_comp_tables.pos.value_counts(dropna=False)

1     6012
2     5857
3     5850
4     5753
5     4221
6     4005
7     3749
8     3658
9     3421
10    3311
11    2802
12    2723
13    2326
14    2257
15    1861
16    1785
17    1021
18     953
19     562
20     501
21     176
22     153
23      74
24      69
0       45
25      10
26       8
27       7
28       6
29       5
30       4
32       2
33       2
34       2
31       2
47       1
57       1
56       1
55       1
54       1
53       1
52       1
51       1
50       1
49       1
48       1
44       1
46       1
45       1
43       1
42       1
41       1
40       1
39       1
38       1
37       1
36       1
35       1
58       1
Name: pos, dtype: int64

In [67]:
# file = open('pickle_files/new_events/df_comp_tabs_26_03_2021_all_lgs', 'wb')
# pickle.dump(df_comp_tables, file)  
# file.close()

In [65]:
with open('pickle_files/new_events/df_comp_tabs_26_03_2021_all_lgs', 'rb') as f:
    df_comp_tabs = pickle.load(f)

In [66]:
df_comp_tabs

,team_name,team_id,pos,pld,w,d,l,gf,ga,+/-,pts,comp_id,season_id
0,Brazil U23,10614,1,3,1,2,0,4,0,+4,5,1016,179
1,Denmark U23,10611,2,3,1,1,1,1,4,-3,4,1016,179
2,Iraq U23,10610,3,3,0,3,0,1,1,0,3,1016,179
3,South Africa U23,10615,4,3,0,2,1,1,2,-1,2,1016,179
4,Nigeria U23,10621,1,3,2,0,1,6,6,0,6,1016,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63212,AC Milan,99,4,3,0,0,3,1,10,-9,0,982,6
63213,Arsenal,2,1,2,1,0,1,6,4,+2,9,990,181
63214,Sevilla,143,2,2,2,0,0,3,1,+2,9,990,181
63215,RB Leipzig,7832,3,2,1,0,1,2,1,+1,5,990,181
63216,Benfica,13,4,2,0,0,2,2,7,-5,2,990,181