In [2]:
import pickle
import pandas as pd
from _html_parser import HtmlParser, ParsingDataPrepare, TableConstant

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)

In [3]:
%load_ext autoreload
%autoreload 2

### Competitions tables parser

In [157]:
# df_26_05_2022_to_27_03_2021_games, df_26_03_2021_to_03_11_2013_games, df_02_11_2013_to_10_07_2005_games, df_09_07_2005_to_01_01_2000_games
# df_29_12_1999_to_15_08_1998_games
with open('pickle_files/new_events/26_03_2021/df_26_03_2021_to_03_11_2013_games', 'rb') as f:
    df_games = pickle.load(f)

In [158]:
df_games

,game_id,ligue_header,comp_id,season_id,game_utc,game_title,goals,ligue
0,1458512,Segunda División,707,306,26.03.2021 17:00,Sporting Gijón - Alcorcón,0:0,top
1,1458506,Segunda División,707,306,26.03.2021 19:00,Castellon - Espanyol,1:3,top
2,1459331,First League,435,306,26.03.2021 11:00,Mykolaiv - Alians Lypova Dolyna,2:0,sec
3,1459330,First League,435,306,26.03.2021 11:00,Polessya - Krystal Kherson,1:1,sec
4,1459334,First League,435,306,26.03.2021 12:00,Kremin - Hirnyk-Sport,1:1,sec
...,...,...,...,...,...,...,...,...
480417,14362043,Oberliga,428,38,09.11.2013 14:00,Jeddeloh - Osnabruck II,3:3,thr
480418,15052857,Premier League,670,3,06.11.2013 09:00,Karachi Port Trust - Khan Research Laboratories,0:2,thr
480419,15052851,Premier League,670,3,04.11.2013 09:00,Pakistan Navy - WAPDA FC,0:0,thr
480420,15052852,Premier League,670,3,04.11.2013 09:00,Afghan FC - Pakistan Army,0:0,thr
480421,15052853,Premier League,670,3,04.11.2013 09:00,Muslim - Khan Research Laboratories,1:1,thr

In [57]:
comp_seasons = ParsingDataPrepare.competition_season_ids(df_games)

In [58]:
list(comp_seasons.keys())[3], list(comp_seasons.values())[3]

('19', [])

In [59]:
len(comp_seasons)

22

In [60]:
dict_seasons = dict((x, y) for x, y in comp_seasons.items() if y != [])

In [62]:
# dict_seasons

In [63]:
list(dict_seasons.keys())[2], list(dict_seasons.values())[2]

('17', ['43', '44'])

In [1]:
# comp_tables = HtmlParser.parsing_competition_tables(dict_seasons)

In [65]:
len(comp_tables)

7

In [67]:
# comp_tables

In [68]:
df_comp_tables = ParsingDataPrepare.create_df_comp_tables(comp_tables)

In [71]:
df_comp_tables

,team_name,team_id,pos,pld,w,d,l,gf,ga,+/-,pts,comp_id,season_id
0,Man Utd,92,1,38,28,7,3,97,45,+52,91,12,43
1,Arsenal,2,2,38,22,7,9,73,43,+30,73,12,43
2,Leeds United,6930,3,38,21,6,11,58,43,+15,69,12,43
3,Liverpool,79,4,38,19,10,9,51,30,+21,67,12,43
4,Chelsea,184,5,38,18,11,9,53,34,+19,65,12,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Dinamo MVD,18604,4,3,0,0,3,1,7,-6,0,837,31
193,Spartak Moscow II,7511,1,3,3,0,0,5,1,+4,9,837,31
194,Spartak Erevan,10442,2,3,2,0,1,4,3,+1,6,837,31
195,Spartak Semey,8271,3,3,0,1,2,3,5,-2,1,837,31
196,Varzob,18605,4,3,0,1,2,2,5,-3,1,837,31

#### Fix and clear data incorrect

In [72]:
df_comp_tables.pos.value_counts(dropna=False)

1     26
4     25
3     23
2     17
5     16
      ..
13     6
12     6
10     6
19     2
20     2
Name: pos, Length: 20, dtype: int64

In [29]:
# df_comp_tables[df_comp_tables.pos == '364']

In [74]:
# file = open('pickle_files/new_events/df_comp_tabs_29_12_1999_all_lgs', 'wb')
# pickle.dump(df_comp_tables, file)  
# file.close()

In [76]:
with open('pickle_files/new_events/df_comp_tabs_29_12_1999_all_lgs', 'rb') as f:
    df_comp_tabs = pickle.load(f)

In [4]:
# df_comp_tabs

#### Parsing countries names

In [49]:
comp_tables_ids = TableConstant.top_ligues + TableConstant.second_ligues

In [50]:
# 491 493
str(comp_tables_ids)

"['12', '13', '14', '15', '16', '17', '18', '419', '420', '454', '456', '474', '483', '485', '550', '554', '560', '565', '577', '581', '587', '591', '596', '601', '677', '681', '684', '695', '699', '707', '712', '716', '723', '727', '419', '424', '435', '436', '437', '444', '446', '449', '450', '457', '459', '464', '473', '477', '491', '493', '496', '498', '500', '502', '504', '507', '512', '516', '518', '523', '532', '539', '540', '542', '544', '545', '546', '548', '551', '555', '562', '567', '576', '585', '586', '589', '595', '599', '602', '606', '621', '622', '625', '626', '628', '632', '634', '636', '637', '642', '646', '647', '648', '653', '654', '655', '657', '659', '660', '667', '672', '674', '675', '676', '679', '685', '687', '691', '692', '697', '700', '703', '704', '714', '715', '720', '721', '725', '727', '733', '735', '747', '761', '912', '1157', '1259']"

In [1]:
third_comps = ['521', '549', '1349', '718', '2071', '572', '574', '1083', '1294', '627', '1358', '1548', '501', '453', '645', '1310', '556', '668', '669', 
     '520', '598', '588', '666', '1609', '582', '921', '780', '1628', '604', '508', '698', '505', '462', '482', '652', '566', '693', '1794', '1855',
     '630', '623', '448', '590', '593', '433', '541', '680', '734', '600', '737', '910', '1190', '791', '682', '787', '729', '431', '515', '2076', '643', 
     '1084', '535', '503', '732', '717', '511', '1147', '1342', '584', '706', '579', '1981', '447', '536', '465', '442', '925', '1926', '522', '519', 
     '476', '571', '558', '603', '671', '914', '1785', '726', '445', '635', '1508', '568', '481', '553', '868', '638', '919', '570', '557', '489', '561',
     '472', '1035', '495', '506', '1085', '499', '452', '923', '1672', '651', '722', '530', '1791', '484', '1687', '689', '1322', '686', '741', '678', 
     '624', '461', '475', '683', '1333', '569', '728', '650', '1717', '552', '640', '528', '690', '694', '597', '631', '428', '1538', '1723', '547', '670',
     '1304', '427', '418', '471', '705', '1242', '1041', '466', '920', '1038', '804', '664', '487', '2070', '641', '2063', '724', '673', '492', '559', 
     '709', '463', '469', '1317', '575', '661', '738', '656', '1299', '517', '2066', '580', '494', '644', '478', '441', '1922', '880', '713', '1284', '468',
     '2074', '973', '1080', '578', '701', '513', '711', '649', '607', '425', '451', '460', '658', '665', '440', '708', '479', '486', '533', '1917', '605', 
     '1261', '162', '1779', '710', '534', '731', '443', '1075', '527']

In [12]:
HtmlParser.find_countries_names(third_comps)

All_countries_names_saved - 527
All countries names saved with last id: 527

In [13]:
with open('pickle_files/countries_names_527', 'rb') as f:
    country_names_ids = pickle.load(f)

In [15]:
# country_names_ids

In [16]:
ids   = []
names = []

for country in country_names_ids:
    val = list(country.values())
    ids.append(val[0])
    names.append(val[1])

df_countries = pd.DataFrame({'comp_id': ids, 'country': names})

In [17]:
df_countries

    comp_id contry_name
0       521      Brazil
1       549     Croatia
2      1349       Japan
3       718    Thailand
4      2071         USA
..      ...         ...
208     534    Bulgaria
209     731  Uzbekistan
210     443      Brazil
211    1075    Tanzania
212     527      Brazil

[213 rows x 2 columns]

In [10]:
with open('pickle_files/df_countries_ids', 'rb') as f:
    df_countries_names = pickle.load(f)

In [19]:
df_cntrs_nms = pd.concat([df_countries_names, df_countries])

In [ ]:
df_cntrs_nms.drop_duplicates(subset=['comp_id', 'country'], inplace=True)

In [21]:
df_cntrs_nms.reset_index(drop=True, inplace=True)

In [7]:
df_cntrs_nms

    comp_id     country
0        12     England
1        13      Russia
2        14     Ukraine
3        15       Italy
4        16       Spain
..      ...         ...
334     534    Bulgaria
335     731  Uzbekistan
336     443      Brazil
337    1075    Tanzania
338     527      Brazil

[339 rows x 2 columns]

In [9]:
# file = open('pickle_files/df_countries_ids', 'wb')
# pickle.dump(df_cntrs_nms, file)  
# file.close()