In [70]:
import pandas as pd
import numpy as np
import re
import unicodedata
import pickle

In [71]:
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_rows', 2000)

In [72]:
data = pd.read_table('text_files/football-city-html.txt')

In [73]:
df = data.rename(columns={"</div>": "data"})

In [74]:
terms = ['col-sm-6 col-xs-6', 'col-sm-3 hidden-xs', '/modules/images/flags/']

In [75]:
df = df[df.data.str.contains('|'.join(terms))]

In [76]:
df.drop(index=5, inplace=True)

In [77]:
df.shape

(5782, 1)

In [78]:
df

                                                                                   data
13                                      <div class="col-sm-6 col-xs-6"><b>AaB</b></div>
18              <img src="/modules/images/flags/_56.png" alt="Denmark" title="Denmark">
20                                        <div class="col-sm-3 hidden-xs">Aalborg</div>
27                                 <div class="col-sm-6 col-xs-6"><b>Aalesund</b></div>
32               <img src="/modules/images/flags/_140.png" alt="Norway" title="Norway">
...                                                                                 ...
27134  <img src="/modules/images/flags/_181.png" alt="Switzerland" title="Switzerland">
27136                                        <div class="col-sm-3 hidden-xs">Bern</div>
27143                       <div class="col-sm-6 col-xs-6"><b>Young Buffaloes</b></div>
27148      <img src="/modules/images/flags/_179.png" alt="Swaziland" title="Swaziland">
27150                                     <div class="col-sm-3 hidden-xs">Manzini</div>

[5782 rows x 1 columns]

In [79]:
pattern = '|'.join(['<div class=\"col-sm-6 col-xs-6\"><b>', '<img src=\"/modules/images/flags/_', '<div class=\"col-sm-3 hidden-xs\">', '</b>', '</div>'])

In [80]:
df.data = df.data.str.replace(pattern, '')

/tmp/ipykernel_61773/2799521911.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.data = df.data.str.replace(pattern, '')

In [82]:
def removing_patterns(df: pd.DataFrame, col_names: list, patern: str):
    df[col_names].apply(lambda x: str(x) if re.search(pattern, str(x)) is None else re.findall(pattern, str(x)))
    return df

In [83]:
pattern = r'\"[\s|\w]+\">$'
df = removing_patterns(df, list(df), pattern)

In [85]:
def find_no_utf_symbols(sr: pd.Series):
    find_symols = r'[^.a-zA-Z0-9)(&"\s>;<=,-/}{\']'
    rare_symbols = sr.map(lambda x: ''.join(re.findall(find_symols, str(x))))
    return rare_symbols

In [86]:
rare_symbols = find_no_utf_symbols(df.data)

In [87]:
str(set(rare_symbols))

"{'', 'šá', 'í', 'ññ', 'çã', 'šć', 'ö', 'ïé', 'ë', 'āḍ', 'é', 'ñ', 'çğ', 'ă', 'ó', 'Ħ', 'İÖİ', 'ü', 'óę', 'ýáš', 'óó', 'áé', 'žá', 'ěříž', 'îş', 'ãç', 'ä', 'ľý', 'ööö', 'äé', 'ūẓī', 'øø', 'âá', 'íáé', 'æ', 'å', 'ří', 'áň', 'Å', '’éé', 'ęó', 'çë', 'çöüü', 'óú', 'ää', 'É', 'āā', 'ţ', 'ġāī', 'Şüə', 'ď', 'ī', 'šňé', 'íš', 'è', 'éá', 'ø', 'ç', 'ãí', 'šýš', 'Šľ', 'ã', 'á', 'ëë', 'öö', 'žíš', 'ł', 'ā’', 'ï', 'š', 'Łóź', 'Žž', 'şş', 'ážá', 'əəə', 'ź', 'Ñú', 'öð', 'ô', 'łł', 'ū', 'ľ', 'áž', 'Şı', 'ığ', 'éḥ', 'áš', 'íí', 'áá', 'éë', 'íð', 'ýá', 'È', 'ō', 'ééá', 'ýŽ', 'šéá', 'ř', 'ľé', 'ôô', 'łó', 'žň', 'ýí', 'č', 'àộ', 'đ', 'Í', 'áí', 'əə', 'âş', 'º', 'ðæ', 'Ō', 'ış', 'Ž', 'óñ', 'ê', 'î', 'Śś', 'ủầộ', 'ž', 'ıçğ', 'ş', 'öä', 'ġā', 'Š', 'čš', 'óŁę', 'ć', 'éó', 'ı', 'ăă', 'ãã', 'čí', 'ń', 'àò', 'éé', 'ș', 'óã', 'ą', 'ā', 'úí', 'ăăş', 'ʿā', 'Łę', 'áó', 'üü', 'ðø', 'ýŽáš', 'Čč', 'čŠ', 'ė', 'ăăăş', 'óá', '’', 'éšě', 'â', 'õ', 'šáá', 'ň', 'ėž', 'íá', 'à', 'ğ', 'İ', 'ę', 'áŠ', 'ăţ', 'ľč', 'éï', 'ú', 'ëçë', 'çş', 'ží'}"

In [88]:
all_symbols = []
for symbol in rare_symbols:
    symbols = ''.join(symbol)
    all_symbols.append(symbols)
all_symbols = str(all_symbols)
all_symbols = ''.join(set(str(all_symbols)))
all_symbols = all_symbols.replace(' ', '')
all_symbols = all_symbols.replace(']', '')
all_symbols = all_symbols.replace('[', '')
all_symbols = all_symbols.replace(',', '')
all_symbols = all_symbols.replace('\'', '')

In [89]:
all_symbols

'íöëéñýăóüĦŞộÑäæåḥÅÉţďīèġøçãáòłïŁšČźôūľěÈōŚřÍčđºŌḍŽêîžşủəẓŠʿćıầńșąśāÖėðň’âõàğİęú'

In [90]:
pattern_2 = r'^[0-9]+.png'
pattern_3 = r'title=\"(.+?)\"'

In [91]:
df = df.data.apply(lambda x: ''.join(re.findall(pattern_3, str(x)) if re.search(pattern_2, str(x)) is not None else x))

In [92]:
df = pd.DataFrame(df)

In [93]:
df.shape

(5782, 1)

In [94]:
df.iloc[648:649,:]

     data
3067

In [95]:
df.data.replace('', np.nan, inplace=True)

In [96]:
df.dropna(subset=['data'], inplace=True)

In [97]:
df.shape

(5757, 1)

In [98]:
def str_decode(str_obj: str):
    normalized = unicodedata.normalize('NFD', str_obj)
    decode_str = u"".join([c for c in normalized if not unicodedata.combining(c)])
    return decode_str

In [99]:
df.data = df.data.apply(lambda x: str_decode(x))

In [44]:
rare_symbols_keys = {'ł':'l','Ł':'L','º':'','ʿ':'\'','ə':'e','Ħ':'H','đ':'d','’':'\'','ı':'i','æ':'a','ð':'d','ø':'o'}

def replace_rare_symbols(df: pd.DataFrame, col_name: str, dict_obj: dict):
    for k, v in rare_symbols_keys.items():
        df[col_name] = df[col_name].apply(lambda x: x.replace(k, v) if re.search(k, str(x)) else x)
    return df[col_name]

In [45]:
df.data = replace_rare_symbols(df, 'data', rare_symbols_keys)

In [100]:
df.head(3)

       data
13      AaB
18  Denmark
20  Aalborg

In [101]:
df.reset_index(inplace=True)

In [102]:
df.drop('index', axis=1, inplace=True)

In [103]:
club, country, city = df[0::3], df[1::3], df[2::3]

In [104]:
table_df = pd.concat([club.reset_index(drop=True), country.reset_index(drop=True), city.reset_index(drop=True)], axis=1)

In [105]:
table_df.columns.values[0] = "club"
table_df.columns.values[1] = "country"
table_df.columns.values[2] = "city"

In [106]:
table_df.shape

(1919, 3)

In [107]:
df = table_df.copy()

In [108]:
# take city.values from hooks for transcription
df.city = df.city.map(lambda x: ''.join(re.findall(r'\((.*?)\)', x)) if re.search(r'\(', x) else x)

In [109]:
# remove Buenos Aires districts
buenos_pattern = 'Buenos'
df.city = df.city.apply(lambda x: x if re.search(buenos_pattern, str(x)) is None else 'Buenos Aires')

In [110]:
# take city.values before '/'
df.city = df.city.map(lambda x: ''.join(re.findall(r'^(.*?)/', x)) if re.search(r'\/', x) else x)

In [111]:
# take city.values before ',' without districts
df.city = df.city.map(lambda x: ''.join(re.findall(r'^(.*?),', x)) if re.search(r',', x) else x)

In [112]:
# rename 'D.F.' at 'Mexico'
mexico_pattern = 'D.F.'
df.city = df.city.apply(lambda x: x if re.search(mexico_pattern, str(x)) is None else 'Mexico')

In [113]:
df.head()

       club      country      city
0       AaB      Denmark   Aalborg
1  Aalesund       Norway   Alesund
2     Aarau  Switzerland     Aarau
3       ABC       Brazil     Natal
4  Aberdeen     Scotland  Aberdeen

In [114]:
df.tail()

                     club      country           city
1914             Yokohama        Japan       Yokohama
1915  Yokohama F. Marinos        Japan       Yokohama
1916       Young Africans     Tanzania  Dar-es-Salaam
1917           Young Boys  Switzerland           Bern
1918      Young Buffaloes    Swaziland        Manzini

In [62]:
# with open('pickle_files/df', 'wb') as f:
#     pickle.dump(df, f)

### Add teams data

In [115]:
# with open('pickle_files/df_teams_data', 'rb') as f:
#     df_for_add = pickle.load(f)

In [65]:
df_for_add.shape

(1919, 3)

In [66]:
club = 'Vila Nova'
country = 'Brazil'
city = 'Goiania'

new_club = {'club':club, 'club_country':country, 'club_city':city}
new_club = pd.DataFrame([new_club])
print(new_club)
df_for_add = pd.concat([df_for_add, new_club], ignore_index=True)

        club club_country club_city
0  Vila Nova       Brazil   Goiania

In [67]:
df_for_add.sort_values(by='club', ascending=True, inplace=True)
df_for_add.reset_index(drop=True, inplace=True)
df_for_add.shape

(1920, 5)

In [68]:
df_for_add[df_for_add.club == club]

           club country city club_country club_city
1828  Vila Nova     NaN  NaN       Brazil   Goiania

In [69]:
# with open('pickle_files/df_teams_data', 'wb') as f:
#     pickle.dump(df_for_add, f)